<div class="info-block radial-bg" ng-controller="tSocialLinkBlock" ng-click="block.edit()">
        <div class="info-block__bg radial-bg"></div>
        <div class="container">
            <h2 class="info-block__title section-title">{{content.tTitle}}</h2>
            <ul class="info-block__socials">
                <li class="info-block__socials-item" ng-repeat="link in content.tSocialLinks.contentData">
                    <a class="info-block__socials-link">
                        <img class="social-icon" width="32" height="36" src="{{link.tIcon[0].src}}" alt="Icon">
                    </a>
                </li>
            </ul>
        </div>
</div>