<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a7ca5dc-c1c8-49dc-baba-c281cfd2c793" Alias="1, 2, 3, 4..." Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:44</CreateDate>
    <NodeName Default="1, 2, 3, 4...">
      <Name Culture="en-us">1, 2, 3, 4...</Name>
      <Name Culture="pl-pl">1, 2, 3, 4...</Name>
      <Name Culture="uk-ua">1, 2, 3, 4...</Name>
    </NodeName>
    <SortOrder>77</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-25T16:43:35.872Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8c85ddc4-4279-40d5-a399-01a91e306b42]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[1, 2, 3, 4...]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:36:47.365Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>