<?xml version="1.0" encoding="utf-8"?>
<Content Key="58744f19-1c1d-4f45-806d-96393e29d012" Alias="9 - Świtezianka" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Switezianka</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:49</CreateDate>
    <NodeName Default="9 - Świtezianka">
      <Name Culture="en-us">9 - Świtezianka</Name>
      <Name Culture="pl-pl">9 - Świtezianka</Name>
      <Name Culture="uk-ua">9 - Świtezianka</Name>
    </NodeName>
    <SortOrder>157</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:53:44.392Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[994421c2-3309-4b7b-90b8-3afced91da53]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[9 - Świtezianka]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:31:57.496Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>