<?xml version="1.0" encoding="utf-8"?>
<Content Key="97ed3512-b13b-4c2d-b013-5ea7046878ac" Alias="aaaaaaa" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/aaaaaaa</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:43</CreateDate>
    <NodeName Default="aaaaaaa">
      <Name Culture="en-us">aaaaaaa</Name>
      <Name Culture="pl-pl">aaaaaaa</Name>
      <Name Culture="uk-ua">aaaaaaa</Name>
    </NodeName>
    <SortOrder>54</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-11T08:55:57.697Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[825b85fc-7a86-422b-92ae-a693c5fe40b0]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[asdasd]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[aaaaaaa]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:51:43.605Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>