<?xml version="1.0" encoding="utf-8"?>
<Content Key="db21d1fa-de49-460a-a42a-91621a23aa4e" Alias="Application Form" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/ApplicationForm</Path>
    <Trashed>false</Trashed>
    <ContentType>ApplicationForm</ContentType>
    <CreateDate>2024-04-12T10:19:11</CreateDate>
    <NodeName Default="Application Form" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b05829d0-a4cd-484e-be33-73494aa6c4b3">ApplicationForm</Template>
  </Info>
  <Properties>
    <tActionUrl>
      <Value><![CDATA[/]]></Value>
    </tActionUrl>
    <tSendForm>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e1f138dccc1548559c552a497fad3ecb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
      "udi": "umb://element/e1f138dccc1548559c552a497fad3ecb",
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d96cb7cfd6374d9d8c55ff29490611d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/d96cb7cfd6374d9d8c55ff29490611d6",
            "tButtonTitle": "Send",
            "tFill": "1",
            "tButtonLink": ""
          }
        ],
        "settingsData": []
      },
      "tPlaceholderForName": "Name",
      "tPlaceholderForEmail": "e-mail",
      "tPlaceholderForPhone": "phone number",
      "tPlaceholderForMessage": "Anything else you think is important...",
      "tCentered": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </tSendForm>
    <tTitle>
      <Value><![CDATA[We are developing our platform and it is very important for us to know how many potentially interested teachers would like to use our platform.]]></Value>
    </tTitle>
  </Properties>
</Content>