<?xml version="1.0" encoding="utf-8"?>
<Content Key="b31c2f5e-9300-46a6-a709-dc2a02adc1d9" Alias="Arkusze egzaminacyjne" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/ArkuszeEgzaminacyjne</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:59</CreateDate>
    <NodeName Default="Arkusze egzaminacyjne">
      <Name Culture="en-us">Arkusze egzaminacyjne</Name>
      <Name Culture="pl-pl">Arkusze egzaminacyjne</Name>
      <Name Culture="uk-ua">Arkusze egzaminacyjne</Name>
    </NodeName>
    <SortOrder>294</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:51.689Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[d06cb05d-f979-4d6d-beb2-0183825cf588]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Arkusze egzaminacyjne]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:56:37.868Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>