<?xml version="1.0" encoding="utf-8"?>
<Content Key="35230e0f-0292-4c5c-8903-8bcf343274ac" Alias="Balladyna-sprawdzenie wiadomości" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/BalladynaSprawdzenieWiadomosci</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:57</CreateDate>
    <NodeName Default="Balladyna-sprawdzenie wiadomości">
      <Name Culture="en-us">Balladyna-sprawdzenie wiadomości</Name>
      <Name Culture="pl-pl">Balladyna-sprawdzenie wiadomości</Name>
      <Name Culture="uk-ua">Balladyna-sprawdzenie wiadomości</Name>
    </NodeName>
    <SortOrder>257</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:21.129Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2cda0d22-f9c8-42e5-871a-74f51aa142db]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Balladyna-sprawdzenie wiadomości]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:00:12.242Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>