<?xml version="1.0" encoding="utf-8"?>
<Content Key="27b5f97d-0647-4fc9-a5e8-a846dbfee163" Alias="Block list page" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/BlockListPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blockListPage</ContentType>
    <CreateDate>2024-04-08T10:00:32</CreateDate>
    <NodeName Default="Block list page">
      <Name Culture="en-us">Block list page</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b20de5be-35a2-460c-8aee-b74213f1ab6b">BlockListPage</Template>
  </Info>
  <Properties>
    <tBlockList>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2eb10e2989984640add496d6784ad6f8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b2dede14-d182-4d47-94be-8044cd3809b2",
      "udi": "umb://element/2eb10e2989984640add496d6784ad6f8",
      "tTitle": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/48269006d4d84b2a81d0838a1d6b9110"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "54ae3370-05ef-4ce3-be63-83831613a7cb",
            "udi": "umb://element/48269006d4d84b2a81d0838a1d6b9110",
            "tTitle": "Card title",
            "tBold": "1",
            "tSize": "40",
            "tColor": {
              "value": "161616",
              "label": "161616",
              "sortOrder": 0,
              "id": "1"
            },
            "TCenterAlign": "1"
          }
        ],
        "settingsData": []
      },
      "tImage": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/64480fd67d6744689e1940163e6d48d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
            "udi": "umb://element/64480fd67d6744689e1940163e6d48d6",
            "tImage": [
              {
                "key": "2bc2b0ff-f9a6-4bea-8088-2dd8a03b191d",
                "mediaKey": "edb465a1-9ae0-45a1-b18a-3e50e88e89b3"
              }
            ],
            "tHeight": "600",
            "tWidth": "600"
          }
        ],
        "settingsData": []
      },
      "tCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/341ce924d8db4c338881bf9d213645af"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/341ce924d8db4c338881bf9d213645af",
            "tTitle": null,
            "tShadow": "0",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/ee00edc3223b439fa7684fd5050cccf4"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/ee00edc3223b439fa7684fd5050cccf4",
                  "tButtonTitle": "Button",
                  "tFill": "0",
                  "tButtonLink": ""
                }
              ],
              "settingsData": []
            },
            "tBackgroundImage": [],
            "tText": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/2c78ff99bcbc4716af7f29bfadc16f8f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "11739d1f-ca3e-423f-8942-36ddf8978892",
                  "udi": "umb://element/2c78ff99bcbc4716af7f29bfadc16f8f",
                  "tText": {
                    "markup": "<p style=\"text-align: left;\"><strong>Card desc sd sd asd asd asd sadas d asda sdas d a</strong></p>\n<p style=\"text-align: left;\"><strong>asdsadasdasdsadasdas</strong></p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  },
                  "tTextColor": {
                    "value": "451d00",
                    "label": "451d00",
                    "sortOrder": 0,
                    "id": "1"
                  },
                  "tBackgroundColor": ""
                }
              ],
              "settingsData": []
            },
            "tButtonPosition": [
              "Left"
            ],
            "tWidth": ""
          }
        ],
        "settingsData": []
      },
      "tImagePosition": [
        "Top"
      ],
      "tShadow": "0",
      "tWidth": "600"
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockList>
  </Properties>
</Content>