<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f0ffb71-7b8c-40b6-bdfd-cdfcf77f3400" Alias="Block list page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/BlockListPage</Path>
    <Trashed Parent="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">true</Trashed>
    <ContentType>blockListPage</ContentType>
    <CreateDate>2024-04-08T09:48:57</CreateDate>
    <NodeName Default="Block list page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6e36789f1bbb45548700bba12fa8a2d7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b2dede14-d182-4d47-94be-8044cd3809b2",
      "udi": "umb://element/6e36789f1bbb45548700bba12fa8a2d7",
      "tTitle": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c5a54a89a81f45c38a19977ea27eb892"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "54ae3370-05ef-4ce3-be63-83831613a7cb",
            "udi": "umb://element/c5a54a89a81f45c38a19977ea27eb892",
            "tTitle": "Card title",
            "tBold": "0",
            "tSize": "20",
            "tColor": {
              "value": "e95f32",
              "label": "e95f32",
              "sortOrder": 1,
              "id": "2"
            }
          }
        ],
        "settingsData": []
      },
      "tImage": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/342479a01a244bc4aeb71fc6162ca721"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
            "udi": "umb://element/342479a01a244bc4aeb71fc6162ca721",
            "tImage": [
              {
                "key": "2bc2b0ff-f9a6-4bea-8088-2dd8a03b191d",
                "mediaKey": "edb465a1-9ae0-45a1-b18a-3e50e88e89b3"
              }
            ],
            "tHeight": "",
            "tWidth": ""
          }
        ],
        "settingsData": []
      },
      "tCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/11177ec7265b471b9ca6f30c6e59dfcc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/11177ec7265b471b9ca6f30c6e59dfcc",
            "tTitle": null,
            "tShadow": "0",
            "tButton": null,
            "tPosition": "",
            "tBackgroundImage": [],
            "tText": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0fb2f90906ac4bd88e355d152d34716f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "11739d1f-ca3e-423f-8942-36ddf8978892",
                  "udi": "umb://element/0fb2f90906ac4bd88e355d152d34716f",
                  "tText": {
                    "markup": "<p>Card desc</p>",
                    "blocks": {
                      "contentData": [],
                      "settingsData": []
                    }
                  },
                  "tTextColor": {
                    "value": "150c05",
                    "label": "150c05",
                    "sortOrder": 1,
                    "id": "2"
                  },
                  "tBackgroundColor": ""
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tImagePosition": [
        "Top"
      ],
      "tShadow": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockList>
  </Properties>
</Content>