<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5c2aa8f-7513-457b-b69c-34d57abe636f" Alias="Blog" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Blog</Path>
    <Trashed Parent="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">true</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2024-04-24T10:41:57</CreateDate>
    <NodeName Default="Blog">
      <Name Culture="en-us">Blog</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="167faab7-bb86-47aa-b7a8-19d5a6bd4715">BlockGridPage</Template>
  </Info>
  <Properties>
    <tBlockGridPage>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3648e54f29d1405099c2cb98d1178f92",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/692d532fd4ac49578c5ffd4dd32f9c8b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d3534bb8bf0f4b77921be9ac9e9e2f26",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/3648e54f29d1405099c2cb98d1178f92",
      "tTitle": "Blog",
      "tText": "",
      "tStyle": [
        "Blog"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/a54a9fffc8c74def94cae24c213f0092",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/a54a9fffc8c74def94cae24c213f0092",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/d3534bb8bf0f4b77921be9ac9e9e2f26",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/389cd4b82a024e8fb7bc626996465568",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/389cd4b82a024e8fb7bc626996465568",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3613cba042934b3897c4f9188140df03"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/3613cba042934b3897c4f9188140df03",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPlaceholderForName": "Name",
            "tPlaceholderForEmail": "e-mail",
            "tPlaceholderForPhone": "phone",
            "tPlaceholderForMessage": "",
            "tEmaiLList": ""
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Blog"
      ],
      "tTitle": "Make a request",
      "tActionUrl": "/Umbraco/Api/Form/RequestForm",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/13952562f8994c2c97cdb35f2b768551",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/13952562f8994c2c97cdb35f2b768551",
            "tType": [
              "points"
            ],
            "tTypeNumber": "3",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "25f0189a-e431-4836-a3af-39a301e4bccb",
      "udi": "umb://element/692d532fd4ac49578c5ffd4dd32f9c8b",
      "tBlogItems": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/31a3ab2fb31c4fb5a81a6ed61cf37556",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/02de752a1db04e9eb37e294db12b8b76",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "bc6099b2-91d7-4555-a8cc-027776c05a7c",
            "udi": "umb://element/31a3ab2fb31c4fb5a81a6ed61cf37556",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "tTitle": "The learning process has never been so enjoyable",
            "tText": {
              "markup": "<p>The learning process has never been so enjoyable</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "tPublicDate": "2024-04-22T00:00:00",
            "tImage": [
              {
                "key": "bd0fd02c-4e7c-41d2-b337-5c80110bbc27",
                "mediaKey": "8c50bc06-4d25-4da0-aa0b-657602bf58dd"
              }
            ]
          },
          {
            "contentTypeKey": "bc6099b2-91d7-4555-a8cc-027776c05a7c",
            "udi": "umb://element/02de752a1db04e9eb37e294db12b8b76",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ],
            "tTitle": "Receive Homework Checked and Graded by AI Assistance",
            "tText": {
              "markup": "<p>Receive Homework Checked and Graded by AI Assistance</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "tPublicDate": "2024-04-14T00:00:00",
            "tImage": [
              {
                "key": "41e940a8-c260-49e7-be34-4a7a40d71f73",
                "mediaKey": "61a817e8-00c1-4ddc-98d4-79c621e0a3ee"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockGridPage>
    <tPadding>
      <Value><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>