<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee007a24-edb8-411b-9871-432273e3a89b" Alias="Blog new article" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/BlogNewArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-17T08:39:26</CreateDate>
    <NodeName Default="Blog new article">
      <Name Culture="en-us">Blog new article</Name>
      <Name Culture="pl-pl">new polish article</Name>
      <Name Culture="uk-ua">Новий блог Український</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[
  {
    "key": "344f921d-0f61-489d-8712-65e4af7c4b60",
    "mediaKey": "c95fa170-bf9a-4eb0-bcaf-26ffcd639736"
  }
]]]></Value>
    </tImage>
    <tNew>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="pl-pl"><![CDATA[0]]></Value>
      <Value Culture="uk-ua"><![CDATA[0]]></Value>
    </tNew>
    <tPublicDate>
      <Value><![CDATA[2024-07-17T00:00:00]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[Blog new article]]></Value>
      <Value Culture="pl-pl"><![CDATA[new polish article]]></Value>
      <Value Culture="uk-ua"><![CDATA[Новий блог Український]]></Value>
    </tTitle>
  </Properties>
</Content>