<?xml version="1.0" encoding="utf-8"?>
<Content Key="32c3074c-11db-49cc-8546-3b85243bd4de" Alias="Blog page" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/BlogPage</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2024-04-24T11:47:39</CreateDate>
    <NodeName Default="Blog page">
      <Name Culture="en-us">Blog page</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="cc001a71-49f2-476a-b808-6a1083669134">BlogPage</Template>
  </Info>
  <Properties>
    <tActions>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/d54875f7125d40bf9cc4a6b6c62af027"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/d54875f7125d40bf9cc4a6b6c62af027",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/043bc6a4e153466c9c43fbd8913714ce",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/043bc6a4e153466c9c43fbd8913714ce",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/e58127142f9241dcb2d3c759753465e5"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/e58127142f9241dcb2d3c759753465e5",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPlaceholderForName": "Name",
            "tPlaceholderForEmail": "e-mail",
            "tPlaceholderForPhone": "phone number",
            "tPlaceholderForMessage": "",
            "tEmaiLList": ""
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Article"
      ],
      "tTitle": "Make a request",
      "tActionUrl": "/Umbraco/Api/Form/RequestForm",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/26ba81c6f0c5451187877a5d24e18258",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/26ba81c6f0c5451187877a5d24e18258",
            "tType": [
              "points"
            ],
            "tTypeNumber": "3",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tActions>
    <tDecors>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5e1a10b1dac94c0aa7e829b449dd1d19",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/5e1a10b1dac94c0aa7e829b449dd1d19",
      "tType": [
        "points"
      ],
      "tTypeNumber": "1",
      "tAbove": "0",
      "tStyle": [
        "orange"
      ],
      "tDash": "1",
      "tSpeed": "40",
      "tDirection": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </tDecors>
    <tPageSize>
      <Value><![CDATA[1]]></Value>
    </tPageSize>
    <tTitle>
      <Value Culture="en-us"><![CDATA[Blog]]></Value>
    </tTitle>
  </Properties>
</Content>