<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c2ee4f0-a63b-4b58-b5e7-0bfc53c3dad7" Alias="business" Level="5">
  <Info>
    <Parent Key="442c8f49-836e-4e64-bd99-122a43668b22">English</Parent>
    <Path>/HomePage/Material/English/English/business</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="business">
      <Name Culture="en-us">business</Name>
      <Name Culture="pl-pl">business</Name>
      <Name Culture="uk-ua">business</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-27T13:39:43.424Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[64020231-ecd4-4aef-a7b1-2cec3cb1127e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english
B2-C1 (Upper Int./Advanced)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[business]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:05:30.705Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>