<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dfc0df2-c9d9-4f8d-b8a8-00c90665364a" Alias="Cechy charakteru, liczba mnoga przymiotnika" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/CechyCharakteruLiczbaMnogaPrzymiotnika</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:42</CreateDate>
    <NodeName Default="Cechy charakteru, liczba mnoga przymiotnika">
      <Name Culture="en-us">Cechy charakteru, liczba mnoga przymiotnika</Name>
      <Name Culture="pl-pl">Cechy charakteru, liczba mnoga przymiotnika</Name>
      <Name Culture="uk-ua">Cechy charakteru, liczba mnoga przymiotnika</Name>
    </NodeName>
    <SortOrder>45</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:09:42.518Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[16a8915c-3794-4452-8248-f93dedfc5cd3]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1720537782184.jpg?ts=1720537782431]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Cechy charakteru, liczba mnoga przymiotnika]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:07:14.142Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>