<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc1d4dc4-f1ae-4752-8198-914696405d58" Alias="Celownik" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Celownik</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Celownik">
      <Name Culture="en-us">Celownik</Name>
      <Name Culture="pl-pl">Celownik</Name>
      <Name Culture="uk-ua">Celownik</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-09T12:14:16.008Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[304f7917-554a-4ce4-94d1-e79b34553ddd]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Celownik]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-02T10:30:50.128Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>