<?xml version="1.0" encoding="utf-8"?>
<Content Key="838f5b5f-bbc5-40ce-8238-84cb57612ebf" Alias="Checking All" Level="5">
  <Info>
    <Parent Key="442c8f49-836e-4e64-bd99-122a43668b22">English</Parent>
    <Path>/HomePage/Material/English/English/CheckingAll</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Checking All">
      <Name Culture="en-us">Checking All</Name>
      <Name Culture="pl-pl">Checking All</Name>
      <Name Culture="uk-ua">Checking All</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-03-22T11:06:48.641Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[98411885-de49-44ba-b2d5-6b44a83ba8f6]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1711105608315.jpg?ts=1711105608596]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Mental health refers to a person's emotional and psychological well-being. "A state of emotional and psychological well-being in which an individual is able to use his or her thinking and emotional (feeling) abilities, function in society, and meet the ordinary demands of everyday life."]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Checking All]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-23T10:11:18.585Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[2]]></Value>
    </tViewsNumber>
  </Properties>
</Content>