<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bed4cd8-018c-4b86-b6dd-ee7c4c1562b5" Alias="CheckList" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CheckList</Path>
    <Trashed Parent="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">true</Trashed>
    <ContentType>tListPage</ContentType>
    <CreateDate>2024-04-05T11:43:43</CreateDate>
    <NodeName Default="CheckList">
      <Name Culture="en-us">CheckList</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <TBlockListPage>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fd23900f434143c0ad4e126e3a82d7d2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/fd23900f434143c0ad4e126e3a82d7d2",
      "tLinkTitle": "Department",
      "tUrl": [
        {
          "name": "CheckPage",
          "target": "_blank",
          "udi": "umb://document/55ce58791be241a8b5c9e04daaa6d081"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </TBlockListPage>
  </Properties>
</Content>