<?xml version="1.0" encoding="utf-8"?>
<Content Key="9299642a-c51f-4308-9ed6-e83e33aa99eb" Alias="Checking All (2)" Level="5">
  <Info>
    <Parent Key="442c8f49-836e-4e64-bd99-122a43668b22">English</Parent>
    <Path>/HomePage/Material/English/English/CheckingAll2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Checking All (2)">
      <Name Culture="en-us">Checking All (2)</Name>
      <Name Culture="pl-pl">Checking All (2)</Name>
      <Name Culture="uk-ua">Checking All (2)</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-23T10:11:10.500Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[7d85301c-9d17-40b7-b545-f8d539c9f193]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1711105608315.jpg?ts=1711105608596]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Mental health refers to a person's emotional and psychological well-being. "A state of emotional and psychological well-being in which an individual is able to use his or her thinking and emotional (feeling) abilities, function in society, and meet the ordinary demands of everyday life."]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Checking All]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:29:03.177Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>