<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b547d50-caff-4a38-b993-6416e9e66d57" Alias="Checking All" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/CheckingAll</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:31</CreateDate>
    <NodeName Default="Checking All" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[98411885-de49-44ba-b2d5-6b44a83ba8f6]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1711105608315.jpg?ts=1711105608596]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Mental health refers to a person's emotional and psychological well-being. "A state of emotional and psychological well-being in which an individual is able to use his or her thinking and emotional (feeling) abilities, function in society, and meet the ordinary demands of everyday life."]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Checking All]]></Value>
    </tTitle>
  </Properties>
</Content>