<?xml version="1.0" encoding="utf-8"?>
<Content Key="46a23921-aadc-4f28-8e1c-a9fa8ab448fd" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2024-04-17T11:52:47</CreateDate>
    <NodeName Default="Contacts">
      <Name Culture="en-us">Contacts</Name>
      <Name Culture="pl-pl">Kontaktów</Name>
      <Name Culture="uk-ua">Контакти</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="167faab7-bb86-47aa-b7a8-19d5a6bd4715">BlockGridPage</Template>
  </Info>
  <Properties>
    <tBlockGridPage>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f6443f47dd634bc6a7b350033046f2aa",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/584b63a671a743bca0cfc8c765b5bba9",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0ab6b21de918402cbc92cb6b8dd80eb3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/f6443f47dd634bc6a7b350033046f2aa",
      "tTitle": "Contacts",
      "tText": "",
      "tStyle": "",
      "tDecors": null
    },
    {
      "contentTypeKey": "e03e5b2a-36cd-4c8d-9340-0a34935851ee",
      "udi": "umb://element/584b63a671a743bca0cfc8c765b5bba9",
      "tLinkCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ccb8dd1dc9ee41cfb14caedb7c987a56"
            },
            {
              "contentUdi": "umb://element/1f7c538d673d493c88ec1471eaa6a34b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/ccb8dd1dc9ee41cfb14caedb7c987a56",
            "tTitle": "Phone",
            "tUrl": [
              {
                "name": "+48 733 9294 74",
                "url": "tel:48733929474"
              }
            ],
            "tText": ""
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/1f7c538d673d493c88ec1471eaa6a34b",
            "tTitle": "Email",
            "tUrl": [
              {
                "name": "info@tutorpro.site",
                "url": "mailto:info@tutorpro.site"
              }
            ],
            "tText": ""
          }
        ],
        "settingsData": []
      },
      "tInfoCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fb4bbad3bebe4d3c820ea4829a7bdd5f"
            },
            {
              "contentUdi": "umb://element/74f30be541794ce8b04b6b81dc3c8633"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/fb4bbad3bebe4d3c820ea4829a7bdd5f",
            "tTitle": "Address",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Prince Józefa Poniatowskiego 1, <br>03-901 Warsaw</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/74f30be541794ce8b04b6b81dc3c8633",
            "tTitle": "Work hours",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Mon-Thu: <span>9:00-4:00</span></p>\n<p class=\"info-block__contacts-text\">Fri-Sat: <span>9:00-3:00</span></p>\n<p class=\"info-block__contacts-text\">Sun: <span>Close</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "tSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/40f5d35b53b343b9b719291e0e3e4f23"
            },
            {
              "contentUdi": "umb://element/bf70b54967ec4cf68155330855ac82b7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/40f5d35b53b343b9b719291e0e3e4f23",
            "tSocialName": "Instagram",
            "tIcon": [
              {
                "key": "776ba47a-fd0c-4903-9bf5-ee40fb5037ae",
                "mediaKey": "2f39dd71-625e-4338-b323-92df6f2c2c0d"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "https://www.instagram.com/tutorpro_pl?igsh=YjA2cWk0Y2Q3aGhj",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/bf70b54967ec4cf68155330855ac82b7",
            "tSocialName": "Tik tok",
            "tIcon": [
              {
                "key": "070f0ab8-2a0e-4514-b890-b69aff9fe2d5",
                "mediaKey": "35593260-2f37-46d2-988e-0e57cb3e8710"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "https://www.tiktok.com/@tutorpro_pl?_t=8llPJ9vfOQC&_r=1",
                "queryString": "#"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "tSocialNetworkTitle": "Social networks"
    },
    {
      "contentTypeKey": "5ec9f476-e0f5-48a8-bc40-a64e0e97d00c",
      "udi": "umb://element/0ab6b21de918402cbc92cb6b8dd80eb3",
      "tRequestForm": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8618c9c8173c45d6a04e187dab7a4a9c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/8618c9c8173c45d6a04e187dab7a4a9c",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0a5f75dcf23847aa96f4c8bc74b9dbf6"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/0a5f75dcf23847aa96f4c8bc74b9dbf6",
                  "tButtonTitle": "Send",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tCentered": "1",
            "tPhoneInput": "0",
            "tMessageInput": "1"
          }
        ],
        "settingsData": []
      },
      "tTitle": "Still have questions?",
      "tSubTitle": "Contact us directly with any questions",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/f20d3e7e1d894ddfaab0a6a4fc0c7918",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/b65cb4282a8b4dec92bed747cbc806db",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/f20d3e7e1d894ddfaab0a6a4fc0c7918",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "0",
            "tSpeed": "50",
            "tDirection": "1"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/b65cb4282a8b4dec92bed747cbc806db",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "0",
            "tSpeed": "30",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/1eab74e609274583ac930d31f5e64859"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4830affccb6944d1b79847552d7b3b28"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/bca23fb3ae14400d8c4b84aeca711c06"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/1eab74e609274583ac930d31f5e64859",
      "tTitle": "Kontaktów",
      "tText": "",
      "tStyle": "",
      "tDecors": null
    },
    {
      "contentTypeKey": "e03e5b2a-36cd-4c8d-9340-0a34935851ee",
      "udi": "umb://element/4830affccb6944d1b79847552d7b3b28",
      "tLinkCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/43d2b8d0729a426eaf6d2f747cb10b14"
            },
            {
              "contentUdi": "umb://element/b1b4cfc7ab924a6e88d1f0e339b1690c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/43d2b8d0729a426eaf6d2f747cb10b14",
            "tTitle": "Telefon",
            "tUrl": [
              {
                "name": "+48 733 9294 74",
                "url": "tel:48733929474"
              }
            ],
            "tText": ""
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/b1b4cfc7ab924a6e88d1f0e339b1690c",
            "tTitle": "Email",
            "tUrl": [
              {
                "name": "info@tutorpro.site",
                "url": "mailto:info@tutorpro.site"
              }
            ],
            "tText": ""
          }
        ],
        "settingsData": []
      },
      "tInfoCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/83ffb8c108bb4316b01061be4160c6c7"
            },
            {
              "contentUdi": "umb://element/c5d9c8ca2fc647cca0d6ae5eecc58f60"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/83ffb8c108bb4316b01061be4160c6c7",
            "tTitle": "Adres",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Księcia Józefa Poniatowskiego 1, <br>03-901 Warszawa</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/c5d9c8ca2fc647cca0d6ae5eecc58f60",
            "tTitle": "Godziny pracy",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\"><span>Pn.-Pt:9:00-4:00</span></p>\n<p class=\"info-block__contacts-text\">Piąt.-Sob.: <span>9:00-3:00</span></p>\n<p class=\"info-block__contacts-text\">Niedz.: Blisko</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "tSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5f7fa231cdf641c9b22c07380e1f4f66"
            },
            {
              "contentUdi": "umb://element/82d41e57c6ca4aed9eed42687031efee"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/5f7fa231cdf641c9b22c07380e1f4f66",
            "tSocialName": "Instagram",
            "tIcon": [
              {
                "key": "776ba47a-fd0c-4903-9bf5-ee40fb5037ae",
                "mediaKey": "2f39dd71-625e-4338-b323-92df6f2c2c0d"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "https://www.instagram.com/tutorpro_pl?igsh=YjA2cWk0Y2Q3aGhj",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/82d41e57c6ca4aed9eed42687031efee",
            "tSocialName": "Tik tok",
            "tIcon": [
              {
                "key": "070f0ab8-2a0e-4514-b890-b69aff9fe2d5",
                "mediaKey": "35593260-2f37-46d2-988e-0e57cb3e8710"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "https://www.tiktok.com/@tutorpro_pl?_t=8llPJ9vfOQC&_r=1",
                "queryString": "#"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "tSocialNetworkTitle": "Sieciach społecznościowych"
    },
    {
      "contentTypeKey": "5ec9f476-e0f5-48a8-bc40-a64e0e97d00c",
      "udi": "umb://element/bca23fb3ae14400d8c4b84aeca711c06",
      "tRequestForm": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/657416f0010445bd9bbf9c2d2789bc22"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/657416f0010445bd9bbf9c2d2789bc22",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/6c0de52847044dfd9c209ff66ad92498"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/6c0de52847044dfd9c209ff66ad92498",
                  "tButtonTitle": "Wysłać",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tCentered": "1",
            "tMessageInput": "1",
            "tPhoneInput": "0"
          }
        ],
        "settingsData": []
      },
      "tTitle": "Masz więcej pytań?",
      "tSubTitle": "Skontaktuj się z nami bezpośrednio w przypadku jakichkolwiek pytań",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/c6bf7c7aaf364f95903602f2803cbf96",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/b4e7a2006c8141b59094e1f98b4340b4",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/c6bf7c7aaf364f95903602f2803cbf96",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "0",
            "tSpeed": "50",
            "tDirection": "1"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/b4e7a2006c8141b59094e1f98b4340b4",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "0",
            "tSpeed": "30",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/44882f7bf96b4bf9aa4ddfd6f7c97483"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a8fde3a6c49845a69d3c5564a32d4c54"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/d03cbcdc9f69476d9283a4a2fe02b278"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/44882f7bf96b4bf9aa4ddfd6f7c97483",
      "tTitle": "Контакти",
      "tText": "",
      "tStyle": "",
      "tDecors": null
    },
    {
      "contentTypeKey": "e03e5b2a-36cd-4c8d-9340-0a34935851ee",
      "udi": "umb://element/a8fde3a6c49845a69d3c5564a32d4c54",
      "tLinkCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2a9a5155e90842cfab9b4663134c7862"
            },
            {
              "contentUdi": "umb://element/3d866422b2614dadaddb60821ac9f4b7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/2a9a5155e90842cfab9b4663134c7862",
            "tTitle": "Телефон",
            "tUrl": [
              {
                "name": "+48 733 9294 74",
                "url": "tel:48733929474"
              }
            ],
            "tText": ""
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/3d866422b2614dadaddb60821ac9f4b7",
            "tTitle": "Електронна пошта",
            "tUrl": [
              {
                "name": "info@tutorpro.site",
                "url": "mailto:info@tutorpro.site"
              }
            ],
            "tText": ""
          }
        ],
        "settingsData": []
      },
      "tInfoCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/826fd10c01f04c00aa5d270626ce96d0"
            },
            {
              "contentUdi": "umb://element/d7d13779f2f1469ba1e2c8acc23fc8c0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/826fd10c01f04c00aa5d270626ce96d0",
            "tTitle": "Адреса",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Князя Юзефа Понятовського 1, <br>03-901 Варшава</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/d7d13779f2f1469ba1e2c8acc23fc8c0",
            "tTitle": "Робочий час",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Пн-Чт: <span>9:00-4:00</span></p>\n<p class=\"info-block__contacts-text\">Пт-Сб:&nbsp;<span>9:00-3:00</span></p>\n<p class=\"info-block__contacts-text\">Нд: Закрито</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "tSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d5f0580cda9c437f92b62fd88c5db42b"
            },
            {
              "contentUdi": "umb://element/9ee520098fcf425ab3e7346e0a913ecf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/d5f0580cda9c437f92b62fd88c5db42b",
            "tSocialName": "Instagram",
            "tIcon": [
              {
                "key": "776ba47a-fd0c-4903-9bf5-ee40fb5037ae",
                "mediaKey": "2f39dd71-625e-4338-b323-92df6f2c2c0d"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "https://www.instagram.com/tutorpro_pl?igsh=YjA2cWk0Y2Q3aGhj",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/9ee520098fcf425ab3e7346e0a913ecf",
            "tSocialName": "Tik tok",
            "tIcon": [
              {
                "key": "070f0ab8-2a0e-4514-b890-b69aff9fe2d5",
                "mediaKey": "35593260-2f37-46d2-988e-0e57cb3e8710"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "https://www.tiktok.com/@tutorpro_pl?_t=8llPJ9vfOQC&_r=1",
                "queryString": "#"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "tSocialNetworkTitle": "Соціальні мережі"
    },
    {
      "contentTypeKey": "5ec9f476-e0f5-48a8-bc40-a64e0e97d00c",
      "udi": "umb://element/d03cbcdc9f69476d9283a4a2fe02b278",
      "tRequestForm": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/256bbe80a4c74a4598e9b7a1fa5fc36a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/256bbe80a4c74a4598e9b7a1fa5fc36a",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3cb1eaafdd564cfc908a734c71564953"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/3cb1eaafdd564cfc908a734c71564953",
                  "tButtonTitle": "Надіслати",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tCentered": "1",
            "tMessageInput": "1",
            "tPhoneInput": "0"
          }
        ],
        "settingsData": []
      },
      "tTitle": "Залишилися запитання?",
      "tSubTitle": "З будь-якими запитаннями звертайтеся безпосередньо до нас",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/c44be00c125446079783f0a7cddec85c",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/f69f905129e44c1f9922d8ab6fe22b07",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/c44be00c125446079783f0a7cddec85c",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "0",
            "tSpeed": "50",
            "tDirection": "1"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/f69f905129e44c1f9922d8ab6fe22b07",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "0",
            "tSpeed": "30",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockGridPage>
    <tPadding>
      <Value><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>