<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f9ab649-c978-4fae-b989-fb596c6221ca" Alias="Contacts" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/Contacts</Path>
    <Trashed>false</Trashed>
    <ContentType>blockListPage</ContentType>
    <CreateDate>2024-04-12T08:58:00</CreateDate>
    <NodeName Default="Contacts">
      <Name Culture="en-us">Contacts</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b20de5be-35a2-460c-8aee-b74213f1ab6b">BlockListPage</Template>
  </Info>
  <Properties>
    <tBlockList>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/201b6079256645229dc69f0d3ee706ed"
      },
      {
        "contentUdi": "umb://element/8819d0745dce4858aaec20d844c5898a"
      },
      {
        "contentUdi": "umb://element/377ddc69e08d463387725e74234c4081"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/201b6079256645229dc69f0d3ee706ed",
      "tTitle": "Contacts",
      "tText": "",
      "tStyle": ""
    },
    {
      "contentTypeKey": "e03e5b2a-36cd-4c8d-9340-0a34935851ee",
      "udi": "umb://element/8819d0745dce4858aaec20d844c5898a",
      "tLinkCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5e44ac7a1883479eadd4b84cc77adbf1"
            },
            {
              "contentUdi": "umb://element/1fec3903439e4a228903b8f647942b03"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/5e44ac7a1883479eadd4b84cc77adbf1",
            "tTitle": "Phone",
            "tUrl": [
              {
                "name": "+48 733 9294 74",
                "url": "tel:48733929474"
              }
            ],
            "tText": ""
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/1fec3903439e4a228903b8f647942b03",
            "tTitle": "Email",
            "tUrl": [
              {
                "name": "info@tutorpro.site",
                "url": "mailto:info@tutorpro.site"
              }
            ],
            "tText": ""
          }
        ],
        "settingsData": []
      },
      "tInfoCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/48ed5b6b460e491a9af257039545fec8"
            },
            {
              "contentUdi": "umb://element/983a47ea846a47d5ad988fdc8ce06b5c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/48ed5b6b460e491a9af257039545fec8",
            "tTitle": "Address",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Księcia Józefa Poniatowskiego 1, <br>03-901 Warszawa</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "d8982552-fc6b-4a67-9880-e45b2dc9e90e",
            "udi": "umb://element/983a47ea846a47d5ad988fdc8ce06b5c",
            "tTitle": "Work hours",
            "tUrl": null,
            "tText": {
              "markup": "<p class=\"info-block__contacts-text\">Mon-Thu: <span>9:00-4:00</span></p>\n<p class=\"info-block__contacts-text\">Fri-Sat: <span>9:00-3:00</span></p>\n<p class=\"info-block__contacts-text\">Sun: <span>Close</span></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "tSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c9449427d05c4451a0cbbbb800cbafb4"
            },
            {
              "contentUdi": "umb://element/df5dc913735f4a61a4e69514e0d23821"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/c9449427d05c4451a0cbbbb800cbafb4",
            "tSocialName": "Instagram",
            "tIcon": [
              {
                "key": "16063819-5266-4160-b437-5c08911111d1",
                "mediaKey": "b7f3932d-c2a3-411b-8cfe-2999a587e478"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/df5dc913735f4a61a4e69514e0d23821",
            "tSocialName": "Tik tok",
            "tIcon": [
              {
                "key": "21672ca2-7350-4298-bfef-945e19f367a7",
                "mediaKey": "7e9322c9-1870-404b-ac7f-78446576ef59"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "tSocialNetworkTitle": "Social networks"
    },
    {
      "contentTypeKey": "5ec9f476-e0f5-48a8-bc40-a64e0e97d00c",
      "udi": "umb://element/377ddc69e08d463387725e74234c4081",
      "tRequestForm": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3a15f747849a4989b354abfd6ebb0994"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/3a15f747849a4989b354abfd6ebb0994",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a600400faad749f0887e8e851dde475f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/a600400faad749f0887e8e851dde475f",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tButtonLink": ""
                }
              ],
              "settingsData": []
            },
            "tCentered": "1",
            "tPlaceholderForName": "Name",
            "tPlaceholderForEmail": "e-mail\"",
            "tPlaceholderForPhone": "",
            "tPlaceholderForMessage": "Questions or message..."
          }
        ],
        "settingsData": []
      },
      "tTitle": "Still have questions?",
      "tSubTitle": "Contact us directly with any questions",
      "tActionUrl": "/"
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockList>
    <tPadding>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>