<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e6e79f1-74dd-4135-9e55-1e57562596bb" Alias="czesci zdania" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/czesciZdania</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:57</CreateDate>
    <NodeName Default="czesci zdania">
      <Name Culture="en-us">czesci zdania</Name>
      <Name Culture="pl-pl">czesci zdania</Name>
      <Name Culture="uk-ua">czesci zdania</Name>
    </NodeName>
    <SortOrder>269</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:51.900Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[90d50dfc-33c6-42ec-89e4-babd0671a3e5]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[czesci zdania]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:50:33.161Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>