<?xml version="1.0" encoding="utf-8"?>
<Content Key="7415342e-11b7-416a-a1d0-0d60e2cf7449" Alias="Części zdania (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/CzesciZdania2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:02</CreateDate>
    <NodeName Default="Części zdania (2)">
      <Name Culture="en-us">Części zdania (2)</Name>
      <Name Culture="pl-pl">Części zdania (2)</Name>
      <Name Culture="uk-ua">Części zdania (2)</Name>
    </NodeName>
    <SortOrder>315</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-03T13:10:33.147Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[134a25fd-6f96-431e-ba1e-b1357c1b934c]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Części zdania]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-04-18T16:34:13.689Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>