<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe71e5c9-753f-4ee3-9f7d-11d7556a78a5" Alias="Części mowy - wprowadzenie" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/CzesciMowyWprowadzenie</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:58</CreateDate>
    <NodeName Default="Części mowy - wprowadzenie">
      <Name Culture="en-us">Części mowy - wprowadzenie</Name>
      <Name Culture="pl-pl">Części mowy - wprowadzenie</Name>
      <Name Culture="uk-ua">Części mowy - wprowadzenie</Name>
    </NodeName>
    <SortOrder>271</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:51.655Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[18e10b2e-c41a-4344-801c-85352a87312e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Części mowy - wprowadzenie]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:56:51.950Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>