<?xml version="1.0" encoding="utf-8"?>
<Content Key="b49ef4af-e7f5-4241-b59b-1ef6d8b24116" Alias="Części mowy - ćwiczenia" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/CzesciMowyCwiczenia</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Części mowy - ćwiczenia">
      <Name Culture="en-us">Części mowy - ćwiczenia</Name>
      <Name Culture="pl-pl">Części mowy - ćwiczenia</Name>
      <Name Culture="uk-ua">Części mowy - ćwiczenia</Name>
    </NodeName>
    <SortOrder>106</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T02:40:02.527Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2a915c70-f9d0-4f2c-8257-d77a2a6eb8ca]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Części mowy - ćwiczenia]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:51:14.964Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>