<?xml version="1.0" encoding="utf-8"?>
<Content Key="64054c38-660b-427a-9820-b4b79ec2275c" Alias="Człowiek i zdrowie" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/CzlowiekIZdrowie</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Człowiek i zdrowie">
      <Name Culture="en-us">Człowiek i zdrowie</Name>
      <Name Culture="pl-pl">Człowiek i zdrowie</Name>
      <Name Culture="uk-ua">Człowiek i zdrowie</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-03T18:13:50.207Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[75dd37d9-ac0d-469a-b8fa-e9e977516df1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Człowiek i zdrowie]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-01T08:14:45.279Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>