<?xml version="1.0" encoding="utf-8"?>
<Content Key="438ae25c-6e8d-48ec-b3a8-0d3029714fe2" Alias="Człowiek i zdrowie" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/CzlowiekIZdrowie</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:30</CreateDate>
    <NodeName Default="Człowiek i zdrowie" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[75dd37d9-ac0d-469a-b8fa-e9e977516df1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Człowiek i zdrowie]]></Value>
    </tTitle>
  </Properties>
</Content>