<?xml version="1.0" encoding="utf-8"?>
<Content Key="672c6722-99b7-4392-99a4-ca152f1edb71" Alias="Dopełniacz (1)" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Dopelniacz1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Dopełniacz (1)">
      <Name Culture="en-us">Dopełniacz (1)</Name>
      <Name Culture="pl-pl">Dopełniacz (1)</Name>
      <Name Culture="uk-ua">Dopełniacz (1)</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-20T16:43:04.206Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[54fbc73b-a005-4e85-9ad6-8f48d3c81913]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Dopełniacz]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-28T14:51:40.109Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>