<?xml version="1.0" encoding="utf-8"?>
<Content Key="22ac41d6-459c-4ac0-b70a-3d2879979379" Alias="Dopełniacz" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Dopelniacz</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Dopełniacz">
      <Name Culture="en-us">Dopełniacz</Name>
      <Name Culture="pl-pl">Dopełniacz</Name>
      <Name Culture="uk-ua">Dopełniacz</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-25T11:28:36.189Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[7166c3c8-98da-46e1-b469-ffc04d266bee]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Dopełniacz]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-20T16:43:04.223Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>