<?xml version="1.0" encoding="utf-8"?>
<Content Key="1933782a-4023-458e-a3f9-29ed0582575e" Alias="Dopełniacz (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Dopelniacz2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:44</CreateDate>
    <NodeName Default="Dopełniacz (2)">
      <Name Culture="en-us">Dopełniacz (2)</Name>
      <Name Culture="pl-pl">Dopełniacz (2)</Name>
      <Name Culture="uk-ua">Dopełniacz (2)</Name>
    </NodeName>
    <SortOrder>82</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-25T17:32:06.268Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[1710459b-65df-4842-81a8-f8e3cdfb7f66]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721928725939.jpg?ts=1721928726165]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Dopełniacz]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:07:37.372Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>