<?xml version="1.0" encoding="utf-8"?>
<Content Key="c99e3ca2-476e-4695-9a3b-336a23a2d8f6" Alias="Dramat" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Dramat</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:02</CreateDate>
    <NodeName Default="Dramat">
      <Name Culture="en-us">Dramat</Name>
      <Name Culture="pl-pl">Dramat</Name>
      <Name Culture="uk-ua">Dramat</Name>
    </NodeName>
    <SortOrder>317</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-02T12:19:33.807Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[0170dfb8-c06e-4794-a917-926e9de7c0b2]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Dramat]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-04-25T15:02:25.820Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>