<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5cab5eb-615d-49af-8f6a-a7a2540c38a2" Alias="DZIADY CZ II" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/DZIADYCZII</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:40</CreateDate>
    <NodeName Default="DZIADY CZ II">
      <Name Culture="en-us">DZIADY CZ II</Name>
      <Name Culture="pl-pl">DZIADY CZ II</Name>
      <Name Culture="uk-ua">DZIADY CZ II</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-05T08:20:47.863Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[63a33ea5-3e8c-4385-92ba-b7676715cbff]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[DZIADY CZ II]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-12T14:20:43.592Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>