<?xml version="1.0" encoding="utf-8"?>
<Content Key="abaa04b6-151d-4478-92cf-70403ad041d3" Alias="Dziady, cz. II" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/DziadyCzII</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:52</CreateDate>
    <NodeName Default="Dziady, cz. II">
      <Name Culture="en-us">Dziady, cz. II</Name>
      <Name Culture="pl-pl">Dziady, cz. II</Name>
      <Name Culture="uk-ua">Dziady, cz. II</Name>
    </NodeName>
    <SortOrder>203</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:53:44.900Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c1035d21-fd8d-492f-85d4-c25d0a65fb7c]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Dziady, cz. II]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:47:05.642Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>