<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e4bb8ba-307d-428f-970a-aae649e7c221" Alias="DZIADY CZ II (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/DZIADYCZII1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:43</CreateDate>
    <NodeName Default="DZIADY CZ II (1)">
      <Name Culture="en-us">DZIADY CZ II (1)</Name>
      <Name Culture="pl-pl">DZIADY CZ II (1)</Name>
      <Name Culture="uk-ua">DZIADY CZ II (1)</Name>
    </NodeName>
    <SortOrder>69</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-12T14:20:43.585Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[5e268c86-0288-446f-9ad7-d18b03d8b21e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[DZIADY CZ II]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:04:53.654Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>