<?xml version="1.0" encoding="utf-8"?>
<Content Key="8130aee4-62a2-4ab2-a32c-626d0dfb4203" Alias="egzamin" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/egzamin</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:51</CreateDate>
    <NodeName Default="egzamin">
      <Name Culture="en-us">egzamin</Name>
      <Name Culture="pl-pl">egzamin</Name>
      <Name Culture="uk-ua">egzamin</Name>
    </NodeName>
    <SortOrder>190</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.762Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f27139cb-9565-4c87-b6b0-dc97ad47d038]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[egzamin]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:14:27.141Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>