<?xml version="1.0" encoding="utf-8"?>
<Content Key="b66b9c31-cddc-4a3a-b907-a7dd0ae4996b" Alias="EITHER | NEITHER | BOTH" Level="5">
  <Info>
    <Parent Key="442c8f49-836e-4e64-bd99-122a43668b22">English</Parent>
    <Path>/HomePage/Material/English/English/EITHERNEITHERBOTH</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="EITHER | NEITHER | BOTH">
      <Name Culture="en-us">EITHER | NEITHER | BOTH</Name>
      <Name Culture="pl-pl">EITHER | NEITHER | BOTH</Name>
      <Name Culture="uk-ua">EITHER | NEITHER | BOTH</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-25T16:00:05.451Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[83549529-4bb3-4a4a-960b-c27ed2ef7e30]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Use and practicce ]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[EITHER | NEITHER | BOTH]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:06:32.083Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>