<?xml version="1.0" encoding="utf-8"?>
<Content Key="9487a786-bd1c-4de3-86db-9013069f2c23" Alias="English blog (1)" Level="4">
  <Info>
    <Parent Key="961fb890-d4a0-49c6-b935-05497e6aa168">English</Parent>
    <Path>/HomePage/BlogPage/English/EnglishBlog1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-15T17:51:47</CreateDate>
    <NodeName Default="English blog (1)">
      <Name Culture="en-us">English blog (1)</Name>
      <Name Culture="uk-ua">Англійський блог</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[[
  "English"
]]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[]]]></Value>
    </tImage>
    <tPublicDate>
      <Value><![CDATA[2024-07-15T00:00:00]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English title]]></Value>
      <Value Culture="uk-ua"><![CDATA[Англійський блог]]></Value>
    </tTitle>
  </Properties>
</Content>