<?xml version="1.0" encoding="utf-8"?>
<Content Key="442c8f49-836e-4e64-bd99-122a43668b22" Alias="English" Level="4">
  <Info>
    <Parent Key="e8ce44e0-52a5-4585-97fa-38c1f5cf627c">English</Parent>
    <Path>/HomePage/Material/English/English</Path>
    <Trashed>false</Trashed>
    <ContentType>materialCategoryPage</ContentType>
    <CreateDate>2024-08-21T07:45:49</CreateDate>
    <NodeName Default="English">
      <Name Culture="en-us">English</Name>
      <Name Culture="pl-pl">Angielski</Name>
      <Name Culture="uk-ua">Англійська</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="e250fdfa-1b8a-48e6-87c2-4c7b8ec0888f">MaterialCategoryPage</Template>
  </Info>
  <Properties>
    <tCards>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tCards>
    <tSubTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tSubTitle>
    <tTag>
      <Value><![CDATA[#english]]></Value>
    </tTag>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English Materials]]></Value>
      <Value Culture="pl-pl"><![CDATA[ Materiały angielskie]]></Value>
      <Value Culture="uk-ua"><![CDATA[Англійські матеріали]]></Value>
    </tTitle>
  </Properties>
</Content>