<?xml version="1.0" encoding="utf-8"?>
<Content Key="12af72c9-cb61-4615-86c7-31c97183bbd5" Alias="English blog" Level="102">
  <Info>
    <Parent Key="7c73af64-cee9-443a-83d3-685db9b327c5">English (4)</Parent>
    <Path>/[-20]/English4/EnglishBlog</Path>
    <Trashed Parent="7c73af64-cee9-443a-83d3-685db9b327c5">true</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-12T10:13:54</CreateDate>
    <NodeName Default="English blog">
      <Name Culture="en-us">English blog</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[[
  "English"
]]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[]]]></Value>
    </tImage>
    <tPublicDate>
      <Value><![CDATA[]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English title]]></Value>
    </tTitle>
  </Properties>
</Content>