<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ce44e0-52a5-4585-97fa-38c1f5cf627c" Alias="English" Level="3">
  <Info>
    <Parent Key="6bc59210-b531-45f6-a4be-9f4e072660ee">Material</Parent>
    <Path>/HomePage/Material/English</Path>
    <Trashed>false</Trashed>
    <ContentType>materialCategoryPage</ContentType>
    <CreateDate>2024-08-21T07:40:52</CreateDate>
    <NodeName Default="English">
      <Name Culture="en-us">English</Name>
      <Name Culture="pl-pl">Angielski</Name>
      <Name Culture="uk-ua">Англійська</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="e250fdfa-1b8a-48e6-87c2-4c7b8ec0888f">MaterialCategoryPage</Template>
  </Info>
  <Properties>
    <tCards>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/19dac5f0f1a447c3b16d976dc42783b4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f3e15a65702946a1870ec1d57d8a3398",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "udi": "umb://element/19dac5f0f1a447c3b16d976dc42783b4",
      "tTitle": "Add you own material",
      "tImage": null,
      "tText": {
        "markup": "<p>Personalize and enhance your projects with your own content</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2cd3649422bd416e9657b470b025d481"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/2cd3649422bd416e9657b470b025d481",
            "tButtonTitle": "Go to the platform",
            "tLink": [
              {
                "name": "https://app.tutorpro.pl/auth/register",
                "target": "_blank",
                "url": "https://app.tutorpro.pl/auth/register"
              }
            ],
            "tFill": "1",
            "tOpenPopUp": "0"
          }
        ],
        "settingsData": []
      },
      "tBackgroundColor": ""
    },
    {
      "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "udi": "umb://element/f3e15a65702946a1870ec1d57d8a3398",
      "tTitle": "Transform Your Lessons",
      "tImage": null,
      "tText": {
        "markup": "<p>Use our materials to improve your teaching experience</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bf259725af7d43c38123f15c6bf62d4b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/bf259725af7d43c38123f15c6bf62d4b",
            "tButtonTitle": "",
            "tLink": null,
            "tFill": "",
            "tOpenPopUp": ""
          }
        ],
        "settingsData": []
      },
      "tBackgroundColor": ""
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2d420bea2c0c4adeba87904fa618cc9e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/12ff9963ff85445b9a561de3b86412ff",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "udi": "umb://element/2d420bea2c0c4adeba87904fa618cc9e",
      "tTitle": " Dodaj własny materiał",
      "tImage": null,
      "tText": {
        "markup": "<p>Personalizuj i ulepszaj swoje projekty za pomocą własnych treści</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/97c4ca443774455db859019b252c147a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/97c4ca443774455db859019b252c147a",
            "tButtonTitle": " Idź na platformę",
            "tLink": [
              {
                "name": "https://app.tutorpro.pl/auth/register",
                "target": "_blank",
                "url": "https://app.tutorpro.pl/auth/register"
              }
            ],
            "tFill": "1",
            "tOpenPopUp": "0"
          }
        ],
        "settingsData": []
      },
      "tBackgroundColor": ""
    },
    {
      "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "udi": "umb://element/12ff9963ff85445b9a561de3b86412ff",
      "tTitle": " Zmień swoje lekcje",
      "tImage": null,
      "tText": {
        "markup": "<p>Skorzystaj z naszych materiałów, aby ulepszyć swoje doświadczenie w nauczaniu</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d04aba64f134428b9d1e5b89cf73a7cc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/d04aba64f134428b9d1e5b89cf73a7cc",
            "tButtonTitle": "",
            "tLink": null,
            "tFill": "",
            "tOpenPopUp": ""
          }
        ],
        "settingsData": []
      },
      "tBackgroundColor": ""
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e86388a4c6be4c86b5f73189a4cf9994",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/645c1b3ea2054e35be3a3dff73f04e03",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "udi": "umb://element/e86388a4c6be4c86b5f73189a4cf9994",
      "tTitle": " Додайте власний матеріал",
      "tImage": null,
      "tText": {
        "markup": "<p>Персоналізуйте та вдосконалюйте свої проекти за допомогою власного вмісту</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/020e0820f55046209debe6120c352ae1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/020e0820f55046209debe6120c352ae1",
            "tButtonTitle": " Вперед на платформу",
            "tLink": [
              {
                "name": "https://app.tutorpro.pl/auth/register",
                "target": "_blank",
                "url": "https://app.tutorpro.pl/auth/register"
              }
            ],
            "tFill": "1",
            "tOpenPopUp": "0"
          }
        ],
        "settingsData": []
      },
      "tBackgroundColor": ""
    },
    {
      "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "udi": "umb://element/645c1b3ea2054e35be3a3dff73f04e03",
      "tTitle": "Трансформуйте свої уроки",
      "tImage": null,
      "tText": {
        "markup": "<p>Використовуйте наші матеріали, щоб покращити свій досвід викладання</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/910757da37d049e5b04db719594faaac"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/910757da37d049e5b04db719594faaac",
            "tButtonTitle": "",
            "tLink": null,
            "tFill": "",
            "tOpenPopUp": ""
          }
        ],
        "settingsData": []
      },
      "tBackgroundColor": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </tCards>
    <tSubTitle>
      <Value Culture="en-us"><![CDATA[Korem ipsum dolor sit amet consectetur. Mauris vulputate varius interdum sit nascetur vitae habitant sed. Lacus tristique facilisi ut lorem massa eu amet. Tristique pulvinar eleifend aliquam eget.]]></Value>
      <Value Culture="pl-pl"><![CDATA[Korem ipsum dolor sit amet consectetur. Mauris vulputate varius interdum sit nascetur vitae habitant sed. Lacus tristique facilisi ut lorem massa eu amet. Tristique pulvinar eleifend aliquam eget.]]></Value>
      <Value Culture="uk-ua"><![CDATA[Korem ipsum dolor sit amet consectetur. Mauris vulputate varius interdum sit nascetur vitae habitant sed. Lacus tristique facilisi ut lorem massa eu amet. Tristique pulvinar eleifend aliquam eget.]]></Value>
    </tSubTitle>
    <tTag>
      <Value><![CDATA[English]]></Value>
    </tTag>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English Materials]]></Value>
      <Value Culture="pl-pl"><![CDATA[ Materiały angielskie]]></Value>
      <Value Culture="uk-ua"><![CDATA[Англійські матеріали]]></Value>
    </tTitle>
  </Properties>
</Content>