<?xml version="1.0" encoding="utf-8"?>
<Content Key="412c9a4b-18fe-407b-94fa-4baeb2121328" Alias="English blog" Level="4">
  <Info>
    <Parent Key="961fb890-d4a0-49c6-b935-05497e6aa168">English</Parent>
    <Path>/HomePage/BlogPage/English/EnglishBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-11T12:38:00</CreateDate>
    <NodeName Default="English blog">
      <Name Culture="en-us">English blog</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[[
  "English"
]]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[]]]></Value>
    </tImage>
    <tPublicDate>
      <Value><![CDATA[]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English title]]></Value>
    </tTitle>
  </Properties>
</Content>