<?xml version="1.0" encoding="utf-8"?>
<Content Key="961fb890-d4a0-49c6-b935-05497e6aa168" Alias="English" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/English</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategoryPage</ContentType>
    <CreateDate>2024-07-11T11:57:36</CreateDate>
    <NodeName Default="English">
      <Name Culture="en-us">English</Name>
      <Name Culture="uk-ua">Англійська</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="f8892e90-1933-4e09-951a-3e0c9499050d">BlogCategoryPage</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[[
  "English"
]]]></Value>
    </tCategory>
    <tChildBorder>
      <Value><![CDATA[1]]></Value>
    </tChildBorder>
    <tDecors>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f2b2087f7abf41c585a6de840ba36745"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/f2b2087f7abf41c585a6de840ba36745",
      "tType": [
        "points"
      ],
      "tTypeNumber": "1",
      "tAbove": "0",
      "tStyle": [
        "orange"
      ],
      "tDash": "1",
      "tSpeed": "40",
      "tDirection": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[
  {
    "key": "d8e566f2-d4e1-4ad8-80f2-e66ff898c85c",
    "mediaKey": "10b17942-69a1-471d-a09b-aab5d6cc36dc"
  }
]]]></Value>
    </tImage>
    <tPageSize>
      <Value><![CDATA[12]]></Value>
    </tPageSize>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English]]></Value>
      <Value Culture="uk-ua"><![CDATA[Англійська]]></Value>
    </tTitle>
  </Properties>
</Content>