<?xml version="1.0" encoding="utf-8"?>
<Content Key="08102dab-da0a-417e-89b5-818458e73cd9" Alias="English (1)" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/English1</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategoryPage</ContentType>
    <CreateDate>2024-07-12T10:10:50</CreateDate>
    <NodeName Default="English (1)">
      <Name Culture="en-us">English (1)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f8892e90-1933-4e09-951a-3e0c9499050d">BlogCategoryPage</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[[
  "English"
]]]></Value>
    </tCategory>
    <tChildBorder>
      <Value><![CDATA[1]]></Value>
    </tChildBorder>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[
  {
    "key": "d8e566f2-d4e1-4ad8-80f2-e66ff898c85c",
    "mediaKey": "10b17942-69a1-471d-a09b-aab5d6cc36dc"
  }
]]]></Value>
    </tImage>
    <tPageSize>
      <Value><![CDATA[12]]></Value>
    </tPageSize>
    <tTitle>
      <Value Culture="en-us"><![CDATA[English]]></Value>
    </tTitle>
  </Properties>
</Content>