<?xml version="1.0" encoding="utf-8"?>
<Content Key="263cf37a-0b97-4d32-8bc9-2fbb850fb481" Alias="Felix, Net i Nika" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/FelixNetINika</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Felix, Net i Nika">
      <Name Culture="en-us">Felix, Net i Nika</Name>
      <Name Culture="pl-pl">Felix, Net i Nika</Name>
      <Name Culture="uk-ua">Felix, Net i Nika</Name>
    </NodeName>
    <SortOrder>129</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T02:11:11.700Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2347bf84-8a4f-4eb5-b892-494632fb2158]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Felix, Net i Nika]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:08:42.272Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>