<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bee32e3-eae5-462f-ac3f-33ca07accdd6" Alias="For teacher" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/ForTeacher</Path>
    <Trashed>false</Trashed>
    <ContentType>blockListPage</ContentType>
    <CreateDate>2024-04-15T12:23:34</CreateDate>
    <NodeName Default="For teacher">
      <Name Culture="en-us">For teacher</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b20de5be-35a2-460c-8aee-b74213f1ab6b">BlockListPage</Template>
  </Info>
  <Properties>
    <tBlockList>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c96c2127d7ae4fab81e04b3846b19277"
      },
      {
        "contentUdi": "umb://element/5547d00e172e4957843c7cf14f4a40cb"
      },
      {
        "contentUdi": "umb://element/4474455848e94ee1890cf4dc442eb638"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "651f1907-9f37-4e2d-a156-45bd469a64c8",
      "udi": "umb://element/c96c2127d7ae4fab81e04b3846b19277",
      "tFor": [
        "teacher"
      ],
      "tTitle": "Functions for teacher",
      "TSubTitle": "TutorPRO makes tutors life easier",
      "tImages": [
        {
          "key": "de99bd4c-fb0c-4c53-91e2-0b7809038e21",
          "mediaKey": "97ace3b7-b14c-43b6-adbb-3f328a6b4d06"
        },
        {
          "key": "8bd4d36d-91a7-4f10-83b2-9c5c8158dd28",
          "mediaKey": "56733c08-ac9c-4ce8-a4df-4a91d8261b38"
        }
      ]
    },
    {
      "contentTypeKey": "db9c9d7d-e97d-49f3-8c3e-b59fa9cfc369",
      "udi": "umb://element/5547d00e172e4957843c7cf14f4a40cb",
      "tTitile": "Every innovative tutor using our program",
      "tIcons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/614cf5b53e274457a9bff8e29b1e1acb"
            },
            {
              "contentUdi": "umb://element/dfcb550f8b714592a4950d9948786799"
            },
            {
              "contentUdi": "umb://element/24a1349e8d9343b28d8f3e7559bb6155"
            },
            {
              "contentUdi": "umb://element/113afd3ab3674ad48e178250b39d2dbe"
            },
            {
              "contentUdi": "umb://element/b60992876b6f47ab9bdf4b8e7b8a7cf2"
            },
            {
              "contentUdi": "umb://element/00f7631ec1564455ae098bd4f713dc96"
            },
            {
              "contentUdi": "umb://element/fcc34b95495346ceb2238cc590694274"
            },
            {
              "contentUdi": "umb://element/a4f8dc3fbc404fd9908b7a80e9edb3db"
            },
            {
              "contentUdi": "umb://element/ebed59ab79c34e62acead450cf2b4da7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/614cf5b53e274457a9bff8e29b1e1acb",
            "tIconImage": [
              {
                "key": "899c57a6-40d6-4bc9-92dc-cc71d950135a",
                "mediaKey": "51ffee9b-011c-4081-97d1-38ec3e9254ec"
              }
            ],
            "tText": "Easily manages students' busy schedules"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/dfcb550f8b714592a4950d9948786799",
            "tIconImage": [
              {
                "key": "94d0d34d-7fa1-47bc-b086-abb3babb1783",
                "mediaKey": "3a76873b-6351-4696-81cd-56d94eed4e5e"
              }
            ],
            "tText": "Uses interactive and engaging materials to make lessons fun"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/24a1349e8d9343b28d8f3e7559bb6155",
            "tIconImage": [
              {
                "key": "e4fbf8f7-36b1-4c15-87e8-0c42902d62d5",
                "mediaKey": "6d87b1fd-086e-4e77-aca7-18130b42ef2a"
              }
            ],
            "tText": "Saves time by automatically checking homework using the program."
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/113afd3ab3674ad48e178250b39d2dbe",
            "tIconImage": [
              {
                "key": "e30a303f-7ada-44a1-b16c-c1a7853b36c8",
                "mediaKey": "5998169d-fffc-4238-b3ac-01927bd499c8"
              }
            ],
            "tText": "Gains access to comprehensive statistics on all students for more effective learning"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/b60992876b6f47ab9bdf4b8e7b8a7cf2",
            "tIconImage": [
              {
                "key": "602307e9-4751-4fa0-95ae-6e6ffc87e534",
                "mediaKey": "3334313c-af9b-4794-ad5e-ea31c2e07916"
              }
            ],
            "tText": "Actively introduces the latest artificial intelligence technologies into its teaching methods"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/00f7631ec1564455ae098bd4f713dc96",
            "tIconImage": [
              {
                "key": "e1730dec-ef67-4921-a178-ca43e94e1dd7",
                "mediaKey": "1cfbfcdc-1148-4d28-b2a8-12ecfb54cc13"
              }
            ],
            "tText": "Provides organized storage of all materials on the platform."
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/fcc34b95495346ceb2238cc590694274",
            "tIconImage": [
              {
                "key": "c47942d5-66f0-4bfb-b816-7fe60e31387e",
                "mediaKey": "0d47c227-5ca9-4a1f-9bc1-9ab293b50eae"
              }
            ],
            "tText": "Sets competitive prices for classes, standing out from other teachers."
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/a4f8dc3fbc404fd9908b7a80e9edb3db",
            "tIconImage": [
              {
                "key": "afcdc135-5e3e-424f-98a5-94f166051660",
                "mediaKey": "15383620-98d7-45f3-a5fc-a85dd3735554"
              }
            ],
            "tText": "Instantly finds the necessary resources on our platform during lessons."
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/ebed59ab79c34e62acead450cf2b4da7",
            "tIconImage": [
              {
                "key": "606fa065-cc6c-4571-960a-b0470bd0df54",
                "mediaKey": "ab603c02-12eb-4f55-ba75-d46aef9a53f2"
              }
            ],
            "tText": "Continuously improves its teaching methods using our platform to achieve maximum results."
          }
        ],
        "settingsData": []
      },
      "tBlockInfo": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0565b82fd10b46028f23f62e44a8f02f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/0565b82fd10b46028f23f62e44a8f02f",
            "tTitle": "Class Module",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/8609abdf342a4130900121c148479bbc"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/8609abdf342a4130900121c148479bbc",
                  "tButtonTitle": "Waitlist",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "0"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a8de9da7856d44bc804196338b48bebb"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/a8de9da7856d44bc804196338b48bebb",
                  "tImage": [
                    {
                      "key": "68569875-07b0-4187-a912-4ac56467496a",
                      "mediaKey": "444a6437-d7e4-435b-89a1-a5dbf5645b6f"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": {
              "markup": "<p class=\"hero-block__text\">TutorPro revolutionizes the way you interact with your students by allowing you to work on interactive materials in real-time. Our General Classroom Module is designed to captivate your student's attention throughout the lesson, ensuring an engaging and productive learning experience. This platform is the solution you've been searching for to inject more interactivity into your classes. As a teacher, you're provided with an unparalleled opportunity to connect with your student in real time, observing their responses and choices as they navigate through the material</p>\n<p class=\"hero-block__text\">Embrace the future of teaching with TutorPro, where every lesson is an opportunity for interactive and immersive learning.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e353bcfc7db5458eaa080a3d323c0def"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/e353bcfc7db5458eaa080a3d323c0def",
            "tButtonTitle": "Waitlist",
            "tLink": [
              {
                "name": "Application Form",
                "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
              }
            ],
            "tFill": "0"
          }
        ],
        "settingsData": []
      },
      "tSecondTitle": "The learning process has never been so enjoyable"
    },
    {
      "contentTypeKey": "4044afdb-c8b8-4a4b-b6c1-75c86e37deb7",
      "udi": "umb://element/4474455848e94ee1890cf4dc442eb638",
      "tType": [
        "1"
      ],
      "tItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b89b3bd57d264515a48e0b7038d8eb15"
            },
            {
              "contentUdi": "umb://element/364f8472df424dd0b7f83cbdda89466a"
            },
            {
              "contentUdi": "umb://element/6d24904e5e544ac4b845230676538f22"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "e26fca45-6aa3-468e-b2ce-614639c6639a",
            "udi": "umb://element/b89b3bd57d264515a48e0b7038d8eb15",
            "tReverse": "0",
            "tTitle": "Payroll Management",
            "tText": {
              "markup": "<p class=\"branches__item-text\">Handling teacher salaries based on factors like hours worked, the number of students, and the type of course.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/b809c40ccea246549fb5b6ab0018a714"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/b809c40ccea246549fb5b6ab0018a714",
                  "tButtonTitle": "Waitlist",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e",
                      "queryString": ""
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tMainImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/cbae37e1766d498697bc220f62060264"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/cbae37e1766d498697bc220f62060264",
                  "tImage": [
                    {
                      "key": "e2b4e9f0-937e-4d73-9903-6c85dbe7de4a",
                      "mediaKey": "b771d8fa-02a5-42f7-9549-e1714278e679"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tDecors": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/9c0b32161b8a4c4e86d2a0f81cfe9d1b"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
                  "udi": "umb://element/9c0b32161b8a4c4e86d2a0f81cfe9d1b",
                  "tType": [
                    "points"
                  ],
                  "tTypeNumber": "1",
                  "tAbove": "0",
                  "tStyle": [
                    "green-big"
                  ]
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "e26fca45-6aa3-468e-b2ce-614639c6639a",
            "udi": "umb://element/364f8472df424dd0b7f83cbdda89466a",
            "tReverse": "1",
            "tTitle": "Sales Funnel",
            "tText": {
              "markup": "<p class=\"branches__item-text\">From initial contact to the final lesson, including processes like trial lessons and purchasing packages. This helps understand the real price of each customer and their lifecycle.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/fd70cbbef3a04622a3a0490ab025299e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/fd70cbbef3a04622a3a0490ab025299e",
                  "tButtonTitle": "Waitlist",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tMainImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/97947c61540b447f931d403f6d993d18"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/97947c61540b447f931d403f6d993d18",
                  "tImage": [
                    {
                      "key": "594a9851-d12e-4bec-93ba-68254a1a3cf5",
                      "mediaKey": "b771d8fa-02a5-42f7-9549-e1714278e679"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tDecors": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/683c87c977dc4409859abad4da1f0201"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
                  "udi": "umb://element/683c87c977dc4409859abad4da1f0201",
                  "tType": [
                    "circle"
                  ],
                  "tTypeNumber": "1",
                  "tAbove": "0",
                  "tStyle": [
                    "orange"
                  ]
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "e26fca45-6aa3-468e-b2ce-614639c6639a",
            "udi": "umb://element/6d24904e5e544ac4b845230676538f22",
            "tReverse": "0",
            "tTitle": "Secure Payment Integration",
            "tText": {
              "markup": "<p class=\"branches__item-text\">Building trust with new students is paramount, especially for emerging tutors. Integrating a secure payment gateway within TutorPRO boosts confidence in the educational services provided.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/e0378249e4e040a9b8bf676be17069d9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/e0378249e4e040a9b8bf676be17069d9",
                  "tButtonTitle": "Waitlist",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tMainImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/43a1a813fbdf4e17b29e7456c3d72f12"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/43a1a813fbdf4e17b29e7456c3d72f12",
                  "tImage": [
                    {
                      "key": "b5248870-9758-4188-8460-3a33bf9f758a",
                      "mediaKey": "b771d8fa-02a5-42f7-9549-e1714278e679"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tDecors": null
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockList>
    <tPadding>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>