<?xml version="1.0" encoding="utf-8"?>
<Content Key="8295aecc-207e-4a79-969f-45841a68944e" Alias="Forest animals" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/ForestAnimals</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:19</CreateDate>
    <NodeName Default="Forest animals">
      <Name Culture="en-us">Forest animals</Name>
      <Name Culture="pl-pl">Forest animals</Name>
      <Name Culture="uk-ua">Forest animals</Name>
    </NodeName>
    <SortOrder>34</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-09T20:44:09.566Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[eab0947d-b27f-4ce9-aa5a-e5b3c830bc75]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1712695449233.jpg?ts=1712695449524]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#childrens
#polish
#biology]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Forest animals]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-07T12:27:10.814Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>