<?xml version="1.0" encoding="utf-8"?>
<Content Key="09fed1dd-72b5-4bcc-a402-7b7905fc862d" Alias="Forest animals" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/ForestAnimals</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:33</CreateDate>
    <NodeName Default="Forest animals" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[eab0947d-b27f-4ce9-aa5a-e5b3c830bc75]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1712695449233.jpg?ts=1712695449524]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#childrens
#polish
#biology]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Forest animals]]></Value>
    </tTitle>
  </Properties>
</Content>