<?xml version="1.0" encoding="utf-8"?>
<Content Key="5440ef80-c464-4bc8-8594-9569e1fc4c3f" Alias="Gramatyka" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Gramatyka</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:00</CreateDate>
    <NodeName Default="Gramatyka">
      <Name Culture="en-us">Gramatyka</Name>
      <Name Culture="pl-pl">Gramatyka</Name>
      <Name Culture="uk-ua">Gramatyka</Name>
    </NodeName>
    <SortOrder>304</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.025Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[65aabd50-742f-4a37-89e9-6a95f14a2928]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Gramatyka]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:25:38.873Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>