<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b4c477f-b86b-4b98-93cb-d9f9d986890d" Alias="Grandioso Exercises" Level="5">
  <Info>
    <Parent Key="442c8f49-836e-4e64-bd99-122a43668b22">English</Parent>
    <Path>/HomePage/Material/English/English/GrandiosoExercises</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Grandioso Exercises">
      <Name Culture="en-us">Grandioso Exercises</Name>
      <Name Culture="pl-pl">Grandioso Exercises</Name>
      <Name Culture="uk-ua">Grandioso Exercises</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-02T12:24:36.268Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[483af45f-9760-4dd9-9e87-7b0541cfb804]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1719923075892.jpg?ts=1719923076199]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english
B1-B2 (Int./Upper Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Koper Loir Mondiu Narvino Rendur Lorindagre Nafionar Pewefgsdgs JHskjfbksfjks]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Grandioso Exercises]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:05:35.935Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>