<?xml version="1.0" encoding="utf-8"?>
<Content Key="d110af97-cd06-4cf7-a068-8b63e4cc7812" Alias="grudzień 2017" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/grudzien2017</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:56</CreateDate>
    <NodeName Default="grudzień 2017">
      <Name Culture="en-us">grudzień 2017</Name>
      <Name Culture="pl-pl">grudzień 2017</Name>
      <Name Culture="uk-ua">grudzień 2017</Name>
    </NodeName>
    <SortOrder>247</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:58:52.902Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8f253868-5061-4469-9efa-e7b4e3f2a01f]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[grudzień 2017]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:01:34.621Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>