<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cbc00c9-a460-47e3-948e-66ba7c894ef9" Alias="Healthy eating" Level="5">
  <Info>
    <Parent Key="c4e657b1-0850-492b-8430-ee5908c05131">Biology</Parent>
    <Path>/HomePage/Material/English/Biology/HealthyEating</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:03</CreateDate>
    <NodeName Default="Healthy eating">
      <Name Culture="en-us">Healthy eating</Name>
      <Name Culture="pl-pl">Healthy eating</Name>
      <Name Culture="uk-ua">Healthy eating</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-09T20:21:58.229Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[65ba08a6-5d83-48a0-b8d8-036f8493fbc4]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1712694117843.jpg?ts=1712694118186]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#english
#biology
B2-C1(Upper Int./Advanced)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Healthy eating]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-08T14:05:49.363Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[3]]></Value>
    </tViewsNumber>
  </Properties>
</Content>