<?xml version="1.0" encoding="utf-8"?>
<Content Key="cde1d271-dc8c-44c0-a484-2c255ee97630" Alias="Henryk Sienkiewicz Quo vadis" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/HenrykSienkiewiczQuoVadis</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:54</CreateDate>
    <NodeName Default="Henryk Sienkiewicz Quo vadis">
      <Name Culture="en-us">Henryk Sienkiewicz Quo vadis</Name>
      <Name Culture="pl-pl">Henryk Sienkiewicz Quo vadis</Name>
      <Name Culture="uk-ua">Henryk Sienkiewicz Quo vadis</Name>
    </NodeName>
    <SortOrder>226</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.763Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[4c082e25-3033-40ef-8af4-565e9d737f6c]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Henryk Sienkiewicz Quo vadis]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:13:58.751Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>