<?xml version="1.0" encoding="utf-8"?>
<Content Key="25e4bb28-7857-4f33-a94c-e8544842a5f9" Alias="Historia" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Historia</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:59</CreateDate>
    <NodeName Default="Historia">
      <Name Culture="en-us">Historia</Name>
      <Name Culture="pl-pl">Historia</Name>
      <Name Culture="uk-ua">Historia</Name>
    </NodeName>
    <SortOrder>292</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T16:13:56.842Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[e365810f-770e-42f2-978e-3057998a5e74]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722804475343.jpg?ts=1722804475582]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2-B1 (Pre-Int./Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Historia]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:05:49.910Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>