<?xml version="1.0" encoding="utf-8"?>
<Content Key="e737ea77-1985-4009-944d-d8555a4b284c" Alias="HomePage" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/HomePage</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-04-10T08:59:21</CreateDate>
    <NodeName Default="HomePage">
      <Name Culture="en-us">HomePage</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ccb79f10-fcb8-4a14-8af7-bbed48cd5730">HomePage</Template>
  </Info>
  <Properties>
    <tAboutFoot>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2c15394c8ec44b8db737d92f8197efc8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4f55549d-acf2-4748-aaec-46ba6b17e796",
      "udi": "umb://element/2c15394c8ec44b8db737d92f8197efc8",
      "tAboutTitle": "",
      "tIinks": null,
      "tAboutAddress": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </tAboutFoot>
    <tContactUsFooter>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f20f36391d06458d9a5c4b76a8b8772e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e736bd56-ba42-4e17-82d6-633afb14cd14",
      "udi": "umb://element/f20f36391d06458d9a5c4b76a8b8772e",
      "tContactTitle": "",
      "tContactAddress": "",
      "tNumber": "",
      "tEmail": "",
      "tSocialLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </tContactUsFooter>
    <tContentPage>
      <Value><![CDATA[]]></Value>
    </tContentPage>
    <tHeaderButton>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5f86595a842a4b02a7b11844d95a3727"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
      "udi": "umb://element/5f86595a842a4b02a7b11844d95a3727",
      "tButtonTitle": "",
      "tFill": "0",
      "tButtonLink": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </tHeaderButton>
    <tHeaderLinks>
      <Value><![CDATA[]]></Value>
    </tHeaderLinks>
    <tIsDark>
      <Value><![CDATA[1]]></Value>
    </tIsDark>
    <tLanguageDropdown>
      <Value><![CDATA[]]></Value>
    </tLanguageDropdown>
    <tLogo>
      <Value><![CDATA[[]]]></Value>
    </tLogo>
    <tQuickLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/efcd6153a04c4792828d2c344ce62f0b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "557884ad-9140-4fca-9c22-7e739e42a340",
      "udi": "umb://element/efcd6153a04c4792828d2c344ce62f0b",
      "tShowLanguagesSwitch": "0",
      "tQuickTitle": "",
      "tLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </tQuickLinks>
  </Properties>
</Content>