<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-04-02T15:17:57</CreateDate>
    <NodeName Default="Home Page">
      <Name Culture="en-us">Home Page</Name>
      <Name Culture="uk-ua">Домашня сторінка</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="ccb79f10-fcb8-4a14-8af7-bbed48cd5730">HomePage</Template>
  </Info>
  <Properties>
    <tAboutFoot>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b4fc47df45ff43339ec1a29049fb16be"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4f55549d-acf2-4748-aaec-46ba6b17e796",
      "udi": "umb://element/b4fc47df45ff43339ec1a29049fb16be",
      "tAboutTitle": "About",
      "tIinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/64865fda79ba42e098a7e49bc74e1d5e"
            },
            {
              "contentUdi": "umb://element/f95db460939046d1b13bc9b8ae12653b"
            },
            {
              "contentUdi": "umb://element/fcc4641b4e20490ea3dca806d9d63e9f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/64865fda79ba42e098a7e49bc74e1d5e",
            "tLinkTitle": "Site regulations",
            "tUrl": [
              {
                "name": "Site regulations",
                "udi": "umb://document/67b2f167b7284abe9099084b65f27d46"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/f95db460939046d1b13bc9b8ae12653b",
            "tLinkTitle": "Terms and conditions",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/fcc4641b4e20490ea3dca806d9d63e9f",
            "tLinkTitle": "Cookie collection policy",
            "tUrl": [
              {
                "name": "Cookie collection policy",
                "udi": "umb://document/885ed674e6b943668e22d20bf562c08f",
                "queryString": ""
              }
            ]
          }
        ],
        "settingsData": []
      },
      "tAboutAddress": "Fundacja Firma Dla Każdego ul. Lwowska 5/15 00-660 Warszawa NIP: 5252625624",
      "tShortAdress": "Lwowska 5/15, 00-660 Warszawa",
      "tAdressUrl": [
        {
          "name": "https://www.google.com/maps/place/Firma+Dla+Ka%C5%BCdego+-+Inkubator+Przedsi%C4%99biorczo%C5%9Bci/@@52.2209214,21.0120466,16z/data=!3m1!4b1!4m6!3m5!1s0x471ecc666f91465f:0xb0b84979f65c1e52!8m2!3d52.2209214!4d21.0120466!16s%2Fg%2F11b7rxfd50?entry=ttu",
          "url": "https://www.google.com/maps/place/Firma+Dla+Ka%C5%BCdego+-+Inkubator+Przedsi%C4%99biorczo%C5%9Bci/@@52.2209214,21.0120466,16z/data=!3m1!4b1!4m6!3m5!1s0x471ecc666f91465f:0xb0b84979f65c1e52!8m2!3d52.2209214!4d21.0120466!16s%2Fg%2F11b7rxfd50?entry=ttu"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/41bdbf44ad7141a4a4dd35d42fde66fc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4f55549d-acf2-4748-aaec-46ba6b17e796",
      "udi": "umb://element/41bdbf44ad7141a4a4dd35d42fde66fc",
      "tAboutTitle": "Про нас",
      "tIinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cc9fd47d7f874cb5aaff0347ed0b2ab0"
            },
            {
              "contentUdi": "umb://element/bb8653a70a2f45af87d2ce3c5087e27c"
            },
            {
              "contentUdi": "umb://element/196cddccdd924450a7e0f524d85331a8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/cc9fd47d7f874cb5aaff0347ed0b2ab0",
            "tLinkTitle": " Політика збору файлів cookie",
            "tUrl": [
              {
                "name": "Cookie collection policy",
                "udi": "umb://document/8b095c4c054941a9af9f796fd4f716f2",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/bb8653a70a2f45af87d2ce3c5087e27c",
            "tLinkTitle": "Умови та положення",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/196cddccdd924450a7e0f524d85331a8",
            "tLinkTitle": "Правила сайту",
            "tUrl": [
              {
                "name": "Site regulations",
                "udi": "umb://document/199934e970ca461d9aff9e1c374f98ca"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "tAboutAddress": "Fundacja Firma Dla Każdego\nвул. Львівська 5/15\n00-660 Варшава\nNIP: 5252625624",
      "tShortAdress": "вул. Львівська 5/15 00-660 Варшава",
      "tAdressUrl": [
        {
          "name": "https://www.google.com/maps/place/Firma+Dla+Ka%C5%BCdego+-+Inkubator+Przedsi%C4%99biorczo%C5%9Bci/@@52.2209214,21.0120466,16z/data=!3m1!4b1!4m6!3m5!1s0x471ecc666f91465f:0xb0b84979f65c1e52!8m2!3d52.2209214!4d21.0120466!16s%2Fg%2F11b7rxfd50",
          "url": "https://www.google.com/maps/place/Firma+Dla+Ka%C5%BCdego+-+Inkubator+Przedsi%C4%99biorczo%C5%9Bci/@@52.2209214,21.0120466,16z/data=!3m1!4b1!4m6!3m5!1s0x471ecc666f91465f:0xb0b84979f65c1e52!8m2!3d52.2209214!4d21.0120466!16s%2Fg%2F11b7rxfd50"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </tAboutFoot>
    <tBottomText>
      <Value Culture="en-us"><![CDATA[By continuing to use the site, you agree to the use of cookies.]]></Value>
      <Value Culture="uk-ua"><![CDATA[Продовжуючи використовувати сайт, ви погоджуєтесь на використання файлів cookie]]></Value>
    </tBottomText>
    <tContactUsFooter>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/537935bacc4f4cc8b3ff47fc00eb8129"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e736bd56-ba42-4e17-82d6-633afb14cd14",
      "udi": "umb://element/537935bacc4f4cc8b3ff47fc00eb8129",
      "tContactTitle": "Get in touch",
      "tContactAddress": "Księcia Józefa Poniatowskiego 1, 03-901 Warszawa",
      "tNumber": "+48733929474",
      "tEmail": "info@tutorpro.site",
      "tSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f6cafd2b4156489f93632e78acf17941"
            },
            {
              "contentUdi": "umb://element/bc306c82c39b4db4b4a515b2f6fd4226"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/f6cafd2b4156489f93632e78acf17941",
            "tSocialName": "Tik tok",
            "tIcon": [
              {
                "key": "a5366bb8-1621-416e-9e82-79b62acbce70",
                "mediaKey": "2b1d7645-7724-4a21-a446-38af3dd7b2cc"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/bc306c82c39b4db4b4a515b2f6fd4226",
            "tSocialName": "Instagram",
            "tIcon": [
              {
                "key": "36fcd42c-5106-47ea-9e43-8c02c1144032",
                "mediaKey": "ced4b5c1-a632-4d03-ab6e-44851ff42f3b"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9de5beed019041a3924977f43deb9338"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e736bd56-ba42-4e17-82d6-633afb14cd14",
      "udi": "umb://element/9de5beed019041a3924977f43deb9338",
      "tContactTitle": "Зв'язок",
      "tContactAddress": "Księcia Józefa Poniatowskiego 1, 03-901 Варшава",
      "tNumber": "+48733929474",
      "tEmail": "info@tutorpro.site",
      "tSocialLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f493e3db0f9142ea89da61171880dbad"
            },
            {
              "contentUdi": "umb://element/7ff6e71a9a2b4c61a66b5f06c310fdd5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/f493e3db0f9142ea89da61171880dbad",
            "tSocialName": "Tik tok",
            "tIcon": [
              {
                "key": "8070449e-58fc-4dad-96f8-427ea464aa7e",
                "mediaKey": "257578b8-81e7-4a63-8496-40ac0437ef7e"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
            "udi": "umb://element/7ff6e71a9a2b4c61a66b5f06c310fdd5",
            "tSocialName": "Instagram",
            "tIcon": [
              {
                "key": "00d621d7-f212-48c4-8873-a1822096dcde",
                "mediaKey": "2caf6b12-0840-44b1-b148-c2e1fc1ad87c"
              }
            ],
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tContactUsFooter>
    <tContentPage>
      <Value><![CDATA[umb://document/53132e38b6b7471e9b83959e2290ac89]]></Value>
    </tContentPage>
    <tCookieButton>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fcc68d76e2b2414893d4bd4226c63a89"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
      "udi": "umb://element/fcc68d76e2b2414893d4bd4226c63a89",
      "tButtonTitle": "Accept",
      "tFill": "1",
      "tLink": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5b1ac2437e634ce3a0635eec13e47b7e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
      "udi": "umb://element/5b1ac2437e634ce3a0635eec13e47b7e",
      "tButtonTitle": "Прийняти",
      "tLink": [
        {
          "name": "Application Form",
          "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e",
          "queryString": "#"
        }
      ],
      "tFill": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </tCookieButton>
    <tCookieIcon>
      <Value><![CDATA[[
  {
    "key": "daafe0e9-47f7-4f79-8be2-66810d10f23d",
    "mediaKey": "7e942af9-93c4-416f-93f2-b2898f0f3a61"
  }
]]]></Value>
    </tCookieIcon>
    <tCookieUrls>
      <Value Culture="en-us"><![CDATA[[
  {
    "name": "Cookie collection policy",
    "udi": "umb://document/885ed674e6b943668e22d20bf562c08f"
  },
  {
    "name": "Site regulations",
    "udi": "umb://document/67b2f167b7284abe9099084b65f27d46"
  }
]]]></Value>
      <Value Culture="uk-ua"><![CDATA[[
  {
    "name": "Політика збору файлів cookie",
    "udi": "umb://document/8b095c4c054941a9af9f796fd4f716f2"
  },
  {
    "name": "Правила сайту",
    "udi": "umb://document/199934e970ca461d9aff9e1c374f98ca"
  }
]]]></Value>
    </tCookieUrls>
    <tHeaderButton>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4577471ffca649ae9bdc2a61a7472cec"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
      "udi": "umb://element/4577471ffca649ae9bdc2a61a7472cec",
      "tButtonTitle": "Waitlist",
      "tFill": "1",
      "tLink": [
        {
          "name": "Application Form",
          "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/522885021b294b328c3a550ad1939192"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
      "udi": "umb://element/522885021b294b328c3a550ad1939192",
      "tButtonTitle": "Список очікування",
      "tLink": [
        {
          "name": "Application Form",
          "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
        }
      ],
      "tFill": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </tHeaderButton>
    <tHeaderLinks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9aa73319cbe8425580c9d194e60d6c48"
      },
      {
        "contentUdi": "umb://element/b14434e584c64d1e9999a33caccc2ee6"
      },
      {
        "contentUdi": "umb://element/429c767a4da149ffa7cb4ba3a5a60053"
      },
      {
        "contentUdi": "umb://element/47364540e77040e4950fb1d106c8b50b"
      },
      {
        "contentUdi": "umb://element/baef69543df5497b86bd6ce57d9eed8c"
      },
      {
        "contentUdi": "umb://element/8f2e4aec63e743049d537c54e7a6217b"
      },
      {
        "contentUdi": "umb://element/38383c47cd8347f4bc37f14fa28c494c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/9aa73319cbe8425580c9d194e60d6c48",
      "tLinkTitle": "For teacher",
      "tUrl": [
        {
          "name": "For teacher",
          "udi": "umb://document/b77634e48fa4494985c45b51bb6a05b6",
          "queryString": ""
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/38383c47cd8347f4bc37f14fa28c494c",
      "tLinkTitle": "Office",
      "tUrl": [
        {
          "name": "/umbraco",
          "url": "/umbraco"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/b14434e584c64d1e9999a33caccc2ee6",
      "tLinkTitle": "For school",
      "tUrl": [
        {
          "name": "For school",
          "udi": "umb://document/6e8d84fe55494ed8bc821baa2c5339b8",
          "queryString": ""
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/429c767a4da149ffa7cb4ba3a5a60053",
      "tLinkTitle": "Matirials",
      "tUrl": [
        {
          "name": "Matirials",
          "udi": "umb://document/7dd8e29b8297405bafaa6608e77e70f8",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/47364540e77040e4950fb1d106c8b50b",
      "tLinkTitle": "About Us",
      "tUrl": [
        {
          "name": "About Us",
          "udi": "umb://document/b254d614195a413aa7b8d7bbb3bdcc78",
          "queryString": ""
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/baef69543df5497b86bd6ce57d9eed8c",
      "tLinkTitle": "Contacts",
      "tUrl": [
        {
          "name": "Contacts",
          "udi": "umb://document/46a23921aadc4f288e1ca9fa8ab448fd",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/8f2e4aec63e743049d537c54e7a6217b",
      "tLinkTitle": "Blog",
      "tUrl": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7031b7b62d824df399e20af03e4c0443"
      },
      {
        "contentUdi": "umb://element/00a129ca95fb4bb8b582e5b8fef4bad9"
      },
      {
        "contentUdi": "umb://element/028abde12337443098ccf52637828d5b"
      },
      {
        "contentUdi": "umb://element/e6ebd7ec1f9649fdbce230d6e47b35ee"
      },
      {
        "contentUdi": "umb://element/5169c8ccad4f4dcbb9f6ece7f9543cda"
      },
      {
        "contentUdi": "umb://element/2184cdee565941718cf806baaf7db391"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/7031b7b62d824df399e20af03e4c0443",
      "tLinkTitle": "Для вчителя",
      "tUrl": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/00a129ca95fb4bb8b582e5b8fef4bad9",
      "tLinkTitle": "Для школи",
      "tUrl": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/028abde12337443098ccf52637828d5b",
      "tLinkTitle": "Матеріали",
      "tUrl": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/e6ebd7ec1f9649fdbce230d6e47b35ee",
      "tLinkTitle": "Про нас",
      "tUrl": [
        {
          "name": "About Us",
          "udi": "umb://document/68fb1e00296e45d39dd6f272f4279363",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/5169c8ccad4f4dcbb9f6ece7f9543cda",
      "tLinkTitle": "Контакти",
      "tUrl": [
        {
          "name": "Contacts",
          "udi": "umb://document/5f9ab649c9784faeb989fb596c6221ca",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "udi": "umb://element/2184cdee565941718cf806baaf7db391",
      "tLinkTitle": "Блог",
      "tUrl": [
        {
          "name": "#",
          "url": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </tHeaderLinks>
    <tLogo>
      <Value><![CDATA[[
  {
    "key": "31e27a48-c2dd-4cea-a1c3-48bca71d79cc",
    "mediaKey": "edb465a1-9ae0-45a1-b18a-3e50e88e89b3"
  }
]]]></Value>
    </tLogo>
    <tQuickLinks>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e3b578a8f77a42a891ba46a487438f11"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "557884ad-9140-4fca-9c22-7e739e42a340",
      "udi": "umb://element/e3b578a8f77a42a891ba46a487438f11",
      "tShowLanguagesSwitch": "1",
      "tQuickTitle": "Quick link",
      "tLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7b03dbf1c4ae4b84b9f57d8625529a82"
            },
            {
              "contentUdi": "umb://element/3377d81442e64ffcaf6f9946e9ed5151"
            },
            {
              "contentUdi": "umb://element/4543a98de34d4776b6a293e6c5a7a63a"
            },
            {
              "contentUdi": "umb://element/e946f99efbba4e78bdd813ab27e4abd0"
            },
            {
              "contentUdi": "umb://element/5215211aae244699850eb15642496140"
            },
            {
              "contentUdi": "umb://element/81ed9faa13594949a8b48fb09dd4b72e"
            },
            {
              "contentUdi": "umb://element/c5a28b5100304590a6ed35726dc9b8aa"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/7b03dbf1c4ae4b84b9f57d8625529a82",
            "tLinkTitle": "Home",
            "tUrl": [
              {
                "name": "Home Page",
                "udi": "umb://document/d1ca52b10fdd41ec84a05a3531b1c22b"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/3377d81442e64ffcaf6f9946e9ed5151",
            "tLinkTitle": "For teacher",
            "tUrl": [
              {
                "name": "For teacher",
                "udi": "umb://document/b77634e48fa4494985c45b51bb6a05b6",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/4543a98de34d4776b6a293e6c5a7a63a",
            "tLinkTitle": "For school",
            "tUrl": [
              {
                "name": "For school",
                "udi": "umb://document/6e8d84fe55494ed8bc821baa2c5339b8",
                "queryString": ""
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/e946f99efbba4e78bdd813ab27e4abd0",
            "tLinkTitle": "Matirials",
            "tUrl": [
              {
                "name": "Matirials",
                "udi": "umb://document/7dd8e29b8297405bafaa6608e77e70f8",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/5215211aae244699850eb15642496140",
            "tLinkTitle": "About Us",
            "tUrl": [
              {
                "name": "About Us",
                "udi": "umb://document/b254d614195a413aa7b8d7bbb3bdcc78",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/81ed9faa13594949a8b48fb09dd4b72e",
            "tLinkTitle": "Contacts",
            "tUrl": [
              {
                "name": "Contacts",
                "udi": "umb://document/46a23921aadc4f288e1ca9fa8ab448fd",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/c5a28b5100304590a6ed35726dc9b8aa",
            "tLinkTitle": "Blog",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b4fddd69e114987bcd81aaa172e546f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "557884ad-9140-4fca-9c22-7e739e42a340",
      "udi": "umb://element/0b4fddd69e114987bcd81aaa172e546f",
      "tShowLanguagesSwitch": "1",
      "tQuickTitle": "Швидке посилання",
      "tLinks": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/273bff28eb7a4a57a9bab5910e73afef"
            },
            {
              "contentUdi": "umb://element/7fe6186b4ca448f087196271fd3d060c"
            },
            {
              "contentUdi": "umb://element/ddd4c7804ef542af918cea766532c937"
            },
            {
              "contentUdi": "umb://element/1a940faa6a90442cac31014b171fa29c"
            },
            {
              "contentUdi": "umb://element/ed91b59f523a40b1b56f33bcbf0f452b"
            },
            {
              "contentUdi": "umb://element/5ac93169f4a146408a05da7fe45dbd4a"
            },
            {
              "contentUdi": "umb://element/e3ae216eea4f40d792886634e975819d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/273bff28eb7a4a57a9bab5910e73afef",
            "tLinkTitle": "Домашня сторінка",
            "tUrl": [
              {
                "name": "Home Page",
                "udi": "umb://document/d1ca52b10fdd41ec84a05a3531b1c22b"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/7fe6186b4ca448f087196271fd3d060c",
            "tLinkTitle": "Для вчителя",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/ddd4c7804ef542af918cea766532c937",
            "tLinkTitle": "Для школи",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/1a940faa6a90442cac31014b171fa29c",
            "tLinkTitle": "Матеріали",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/ed91b59f523a40b1b56f33bcbf0f452b",
            "tLinkTitle": "Про нас",
            "tUrl": [
              {
                "name": "About Us",
                "udi": "umb://document/68fb1e00296e45d39dd6f272f4279363",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/5ac93169f4a146408a05da7fe45dbd4a",
            "tLinkTitle": "Контакти",
            "tUrl": [
              {
                "name": "Contacts",
                "udi": "umb://document/5f9ab649c9784faeb989fb596c6221ca",
                "queryString": "#"
              }
            ]
          },
          {
            "contentTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
            "udi": "umb://element/e3ae216eea4f40d792886634e975819d",
            "tLinkTitle": "Блог",
            "tUrl": [
              {
                "name": "#",
                "url": "#"
              }
            ]
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tQuickLinks>
    <tTopText>
      <Value Culture="en-us"><![CDATA[We use cookies to provide you with the most relevant information.]]></Value>
      <Value Culture="uk-ua"><![CDATA[Ми використовуємо файли cookie, щоб надати вам найбільш актуальну інформацію.]]></Value>
    </tTopText>
  </Properties>
</Content>