<?xml version="1.0" encoding="utf-8"?>
<Content Key="53132e38-b6b7-471e-9b83-959e2290ac89" Alias="Home" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2024-04-17T10:50:18</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="167faab7-bb86-47aa-b7a8-19d5a6bd4715">BlockGridPage</Template>
  </Info>
  <Properties>
    <tBlockGridPage>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7e66ddd0749f4f63b8fbbd2855625bd6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/24fc85f6f12c411a8463a6f7ca99e3e5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a45657b4ab8b4b06b2bc21f1795c3f48",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/49f5930a18a34f36b398d40e2ff76959",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/18e30056cdb64b1991a84249a4d913a0",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6c5545cde77b41b8a50905c41a7407e7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8de9317f574e41f8884ee422f2671d34",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/81f9a2f664f14ea49beb4a211355bcb7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ccba9c47-b216-420e-8087-c7e2cabad72b",
      "udi": "umb://element/7e66ddd0749f4f63b8fbbd2855625bd6",
      "tTitle": "Innovative platform for innovative language schools and tutors",
      "tNumberOfColoredWords": "2",
      "tImage": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/4bed7daff2524b219806697c6108f778",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
            "udi": "umb://element/4bed7daff2524b219806697c6108f778",
            "tImage": [
              {
                "key": "c798c676-ff02-4230-8dbe-f263e6038517",
                "mediaKey": "97ace3b7-b14c-43b6-adbb-3f328a6b4d06"
              }
            ],
            "tHeight": "",
            "tWidth": ""
          }
        ],
        "settingsData": []
      },
      "tInfoText": "Imagine having all your communication tools, games, and school administration in one convenient system. TutorPro it's the perfect system to help you not only effectively manage your school affairs, but also inspire students to learn. Welcome to the future of education!",
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ad4c31ee200a45faa1e8bdda715a3053"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/ad4c31ee200a45faa1e8bdda715a3053",
            "tButtonTitle": "Waitlist",
            "tLink": [
              {
                "name": "Application Form",
                "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
              }
            ],
            "tFill": "0"
          }
        ],
        "settingsData": []
      },
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/1162895b0ce544b29a275f10e5fcc8f7",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/f59d67d05b784393a240338ecdca45e9",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/2c2791499174450d95522c5a9a52a859",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/1162895b0ce544b29a275f10e5fcc8f7",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "white"
            ],
            "tDash": "1",
            "tSpeed": "50",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/f59d67d05b784393a240338ecdca45e9",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "20",
            "tDirection": "1"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/2c2791499174450d95522c5a9a52a859",
            "tType": [
              "points"
            ],
            "tTypeNumber": "3",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "10a8759e-a3d6-4de5-97c7-c369a92b8e1a",
      "udi": "umb://element/24fc85f6f12c411a8463a6f7ca99e3e5",
      "tTitle": "A platform that will help your school",
      "tContent": "Stand out from competitors\nRetain students longer\nControl educational materials within the school",
      "tImage": [
        {
          "key": "ba79ecd0-099a-411d-9d76-794e8b7c98c8",
          "mediaKey": "ca86878f-cb5b-4979-9dd0-88affefbd215"
        }
      ],
      "tImageSmall": [
        {
          "key": "bd225886-7dd3-4717-ab72-98c4147b21e7",
          "mediaKey": "1550c7fa-063d-442d-a675-749d8aa0aeb5"
        }
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/138a0eb9914f4898ae97756d6863b935",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/6cc5cd49480a4127b3288cd678ff709d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/138a0eb9914f4898ae97756d6863b935",
            "tType": [
              "ring"
            ],
            "tTypeNumber": "",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "0",
            "tSpeed": "30",
            "tDirection": "1"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/6cc5cd49480a4127b3288cd678ff709d",
            "tType": [
              "points"
            ],
            "tTypeNumber": "",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "0",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "d4631fec-2d8c-47cc-9e6f-92ff04afbb72",
      "udi": "umb://element/a45657b4ab8b4b06b2bc21f1795c3f48",
      "tTitle": "With us, tutor lesson is exactly an hour lesson!",
      "tSubTitle": "The first platform to help teachers Revolutionizing Online Tutoring",
      "tItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0facd13fc82e448798e251e6c48bf3ba"
            },
            {
              "contentUdi": "umb://element/84edd91fbd2b47bea4cadca97ca496ae"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2bf91604-d8cd-4df6-95ad-a8f9e90ee444",
            "udi": "umb://element/0facd13fc82e448798e251e6c48bf3ba",
            "tText": "Forget the hassle of searching for materials before every lesson, tediously checking each homework assignment, assessing every pupil individually, and enduring monotonous lessons.",
            "tImages": [
              {
                "key": "3f404444-666a-4b4e-8634-977c3dddc503",
                "mediaKey": "e5e24479-7e92-4435-b27d-df6fff03f718"
              },
              {
                "key": "5da9eb60-2f71-4102-b48a-2fd2ccee8f0a",
                "mediaKey": "c95fa170-bf9a-4eb0-bcaf-26ffcd639736"
              }
            ],
            "tReverse": "0",
            "tTitle": "TutorPro is the only platform that allows to create an interactive lesson with just one click!",
            "tIsTitleLower": "0",
            "tDecors": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/8d8a1ab677ea4ba2a7b5ecacb00a8e2d",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
                  "udi": "umb://element/8d8a1ab677ea4ba2a7b5ecacb00a8e2d",
                  "tType": [
                    "points"
                  ],
                  "tTypeNumber": "",
                  "tAbove": "0",
                  "tStyle": [
                    "green"
                  ],
                  "tDash": "0",
                  "tSpeed": "50",
                  "tDirection": "0"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "2bf91604-d8cd-4df6-95ad-a8f9e90ee444",
            "udi": "umb://element/84edd91fbd2b47bea4cadca97ca496ae",
            "tText": "Thanks to artificial intelligence, the Tutor Pro platform allows for the creation of an entire lesson with just one click. You, as a tutor, only need to enter the requirements. If you want to choose the form of exercises, the platform will automatically generate a ready-to-use interactive lesson.",
            "tImages": [
              {
                "key": "03770032-d162-47c5-96f8-2ac4c8261caf",
                "mediaKey": "ca86878f-cb5b-4979-9dd0-88affefbd215"
              }
            ],
            "tReverse": "0",
            "tTitle": "Imagine a seamless process where teachers sculpt engaging lessons effortlessly",
            "tIsTitleLower": "1",
            "tDecors": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/10dca68b081d45e28d3904d46fc8deb5",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
                  "udi": "umb://element/10dca68b081d45e28d3904d46fc8deb5",
                  "tType": [
                    "points"
                  ],
                  "tTypeNumber": "",
                  "tAbove": "1",
                  "tStyle": [
                    "orange-big"
                  ],
                  "tDash": "0",
                  "tSpeed": "40",
                  "tDirection": "1"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/1ed1e5a9923e4b7ab52952f166b1598c",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/5d19e848b4704484800baf4ff343344a",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/1ed1e5a9923e4b7ab52952f166b1598c",
            "tType": [
              "circle"
            ],
            "tTypeNumber": "",
            "tAbove": "0",
            "tStyle": [
              "orange"
            ],
            "tDash": "0",
            "tSpeed": "40",
            "tDirection": "1"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/5d19e848b4704484800baf4ff343344a",
            "tType": [
              "ring"
            ],
            "tTypeNumber": "",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "0",
            "tSpeed": "50",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "d92fe084-e083-4d1e-9117-5badb6e02cf8",
      "udi": "umb://element/49f5930a18a34f36b398d40e2ff76959",
      "tTitle": "With TutorPRO streamline your teaching process",
      "tIconItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/741ab5d1a70443cfa5d7ae0057c20b1b"
            },
            {
              "contentUdi": "umb://element/20d592810b1a4c3aba1e3c53192e06ac"
            },
            {
              "contentUdi": "umb://element/15e2fc1859184eee84c219ab4c4078c0"
            },
            {
              "contentUdi": "umb://element/94c5f41f809042aaaab412fedb58c727"
            },
            {
              "contentUdi": "umb://element/ae6f50a961f34eeca8208d6323bdd090"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/741ab5d1a70443cfa5d7ae0057c20b1b",
            "tIconImage": [
              {
                "key": "a51f5eb8-035f-4ff6-8fc8-556faee5fce8",
                "mediaKey": "02976cea-c3c6-44d2-aaed-a5b86014caa6"
              }
            ],
            "tText": "Create your lessons with just one click"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/20d592810b1a4c3aba1e3c53192e06ac",
            "tIconImage": [
              {
                "key": "5423b93f-7a1a-4f57-adf8-bc1e92078f36",
                "mediaKey": "48c32516-467a-4889-94fe-8dda94b5fba7"
              }
            ],
            "tText": "Enjoy automatically checked homework"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/15e2fc1859184eee84c219ab4c4078c0",
            "tIconImage": [
              {
                "key": "b47b8daa-208d-48c8-a5d9-1cd3b7940edd",
                "mediaKey": "1c4a8910-7cca-47ed-905a-12959be28d72"
              }
            ],
            "tText": "Utilize materials crafted by fellow educators"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/94c5f41f809042aaaab412fedb58c727",
            "tIconImage": [
              {
                "key": "62c64347-0715-4971-9b24-0f7d7e74b9ef",
                "mediaKey": "98c3db3b-90d8-4139-ad3a-b51b4191f849"
              }
            ],
            "tText": "Work with interactive engagement materials"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/ae6f50a961f34eeca8208d6323bdd090",
            "tIconImage": [
              {
                "key": "7fec4832-4b64-4d54-b348-2f7263e4ac23",
                "mediaKey": "3cc78da0-a665-4124-afea-5ce75ce182a1"
              }
            ],
            "tText": "Engage with students during real-time classes"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0f510dd3-20d0-481e-aeb8-07a1bcecf77f",
      "udi": "umb://element/6c5545cde77b41b8a50905c41a7407e7",
      "tTitle": "Why should you choose us?",
      "tSections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8adb16f985f04afa9b327c832347e2d4"
            },
            {
              "contentUdi": "umb://element/ab7dce12905e4ec19c8f290200004f1d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c8984ea5-ab7f-4aa7-824d-c69465eadb44",
            "udi": "umb://element/8adb16f985f04afa9b327c832347e2d4",
            "tTitle": "No platform",
            "tItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3e0dc0ed42e841d78ba7ebcec6ee5b95"
                  },
                  {
                    "contentUdi": "umb://element/58d93fda63954216a692c1bb8099ac3b"
                  },
                  {
                    "contentUdi": "umb://element/4f6b731f1ad34243a16afcd962b7ff38"
                  },
                  {
                    "contentUdi": "umb://element/d8c0d1d859054c24bd2fc7d5d67d6881"
                  },
                  {
                    "contentUdi": "umb://element/5d84bd7a89b64cf4a028a15b8020de93"
                  },
                  {
                    "contentUdi": "umb://element/dfaffa2a73bd42428870ae992e8e15fb"
                  },
                  {
                    "contentUdi": "umb://element/d40101b513434a189aa7e330d90c5785"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/3e0dc0ed42e841d78ba7ebcec6ee5b95",
                  "tTitle": "Searching for necessary materials",
                  "tTimeValue": "30",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/58d93fda63954216a692c1bb8099ac3b",
                  "tTitle": " Conducting a boring lesson during which the screen is simply broadcasting a scanned book",
                  "tTimeValue": "",
                  "tTimeType": ""
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/4f6b731f1ad34243a16afcd962b7ff38",
                  "tTitle": "Homework Preparation",
                  "tTimeValue": "30",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/d8c0d1d859054c24bd2fc7d5d67d6881",
                  "tTitle": "Homework checking",
                  "tTimeValue": "30",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/5d84bd7a89b64cf4a028a15b8020de93",
                  "tTitle": "The teacher creates a course plan",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "hour"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/dfaffa2a73bd42428870ae992e8e15fb",
                  "tTitle": "Independent Preparation of Exam Materials: Can take up to 3 hours, if the teacher has enough energy for it",
                  "tTimeValue": "3",
                  "tTimeType": [
                    "hour"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/d40101b513434a189aa7e330d90c5785",
                  "tTitle": "Checking Students' Exam Papers: Approximately 1 hour per student",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "hour"
                  ]
                }
              ],
              "settingsData": []
            },
            "tWith": "0",
            "tResultTimeValue": "6.30",
            "tResultTimeType": [
              "hour"
            ]
          },
          {
            "contentTypeKey": "c8984ea5-ab7f-4aa7-824d-c69465eadb44",
            "udi": "umb://element/ab7dce12905e4ec19c8f290200004f1d",
            "tTitle": "TutorPRO",
            "tItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c2957d42de2a4cdbb7574c205b4172cd"
                  },
                  {
                    "contentUdi": "umb://element/81fc987dbbd4410eb8e76ef595dfbbd0"
                  },
                  {
                    "contentUdi": "umb://element/71ff0ea6b7bc4f98b8836bee6e84c841"
                  },
                  {
                    "contentUdi": "umb://element/7032bc727d6a421aa2312de84bcdf33d"
                  },
                  {
                    "contentUdi": "umb://element/aa7713b281624fb4aff3dd84e40dc904"
                  },
                  {
                    "contentUdi": "umb://element/9dbbe495c6594a78839e529c1f3b9240"
                  },
                  {
                    "contentUdi": "umb://element/abf1638395804575af6dcf11f8e783e3"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/c2957d42de2a4cdbb7574c205b4172cd",
                  "tTitle": "Lesson Creation: Takes just 1 minute",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/81fc987dbbd4410eb8e76ef595dfbbd0",
                  "tTitle": "Interactive Real-Time Learning: The teacher sees students' responses on the platform, which facilitates more effective interaction",
                  "tTimeValue": "",
                  "tTimeType": ""
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/71ff0ea6b7bc4f98b8836bee6e84c841",
                  "tTitle": "Homework Generation: Based on the results of the lesson and takes 1 minute",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/7032bc727d6a421aa2312de84bcdf33d",
                  "tTitle": " Homework Checking with Al: The teacher makes corrections and provides guidance, which takes about 3 minutes",
                  "tTimeValue": "3",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/aa7713b281624fb4aff3dd84e40dc904",
                  "tTitle": "Generation of a Personalized Lesson Plan for Each Student",
                  "tTimeValue": "",
                  "tTimeType": ""
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/9dbbe495c6594a78839e529c1f3b9240",
                  "tTitle": "Exam Creation: Based on the covered material and takes 1 minute",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/abf1638395804575af6dcf11f8e783e3",
                  "tTitle": "Exam Creation: Based on the covered material and takes 1 minute",
                  "tTimeValue": "5",
                  "tTimeType": [
                    "min"
                  ]
                }
              ],
              "settingsData": []
            },
            "tWith": "1",
            "tResultTimeValue": "11",
            "tResultTimeType": [
              "min"
            ]
          }
        ],
        "settingsData": []
      },
      "tCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/24bb9d8522854cd58aa7dd7d8023ff7a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/24bb9d8522854cd58aa7dd7d8023ff7a",
            "tTitle": "Bottom card",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/731b9888f8724eaa9dd038c0917817bd"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/731b9888f8724eaa9dd038c0917817bd",
                  "tButtonTitle": "Waitlist",
                  "tLink": [
                    {
                      "name": "Application Form",
                      "udi": "umb://document/db21d1fade49460aa42a91621a23aa4e"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tImage": null,
            "tText": {
              "markup": "<p>With our platform, you don't waste time on routine tasks. Instead, you focus on what really matters - teaching and supporting your students.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3fbd14c2-0671-4f62-a9c9-ebf83ac2ed0e",
      "udi": "umb://element/18e30056cdb64b1991a84249a4d913a0",
      "tTitle": "Programs",
      "tCards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cba3887459ee45a7b24e62d736f81a23"
            },
            {
              "contentUdi": "umb://element/fb01afaa7d2b44e3a51404c8d39a4842"
            },
            {
              "contentUdi": "umb://element/bd03d73003474b3aa31b3b60c45e94d3"
            },
            {
              "contentUdi": "umb://element/ff138022103d458fb772ab94afe72b4a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/cba3887459ee45a7b24e62d736f81a23",
            "tTitle": "Class module for real-time interaction",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/4e2862abeebc4ab7b2bc542cdf7e644e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/4e2862abeebc4ab7b2bc542cdf7e644e",
                  "tButtonTitle": "",
                  "tLink": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ],
                  "tFill": "0"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/b94c21f1c54a4aeb9ddd60fcdd0e73a9",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/b94c21f1c54a4aeb9ddd60fcdd0e73a9",
                  "tImage": [
                    {
                      "key": "80c53991-2431-4eaa-8f0a-2acdd6ce7392",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/fb01afaa7d2b44e3a51404c8d39a4842",
            "tTitle": "AI-generated worksheets",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/114c991b6fdb4065bfb9cf0b493be05a"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/114c991b6fdb4065bfb9cf0b493be05a",
                  "tButtonTitle": "",
                  "tLink": null,
                  "tFill": "0"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/59ca36b7f228426db20fb1d783c1eb92",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/59ca36b7f228426db20fb1d783c1eb92",
                  "tImage": [
                    {
                      "key": "df290deb-f8d6-427e-9b37-bc33f7684e7f",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/bd03d73003474b3aa31b3b60c45e94d3",
            "tTitle": "Administration",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d7c80ea944e142c88e4aec4089470ad2"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/d7c80ea944e142c88e4aec4089470ad2",
                  "tButtonTitle": "",
                  "tLink": [
                    {
                      "name": "#",
                      "url": "#"
                    }
                  ],
                  "tFill": "0"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/8c4d1b1355e64aec8fd65a4e11aefa96",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/8c4d1b1355e64aec8fd65a4e11aefa96",
                  "tImage": [
                    {
                      "key": "52ef8469-c3d3-4bfd-b220-1c175d302b18",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/ff138022103d458fb772ab94afe72b4a",
            "tTitle": "Homework checked by AI",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/45021e206aef4e0aafc21b9ac2359b89"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/45021e206aef4e0aafc21b9ac2359b89",
                  "tButtonTitle": "",
                  "tLink": null,
                  "tFill": "0"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockGrid": [
                  {
                    "contentUdi": "umb://element/27d53bf5dfb94c15859e9f3811800ec5",
                    "areas": [],
                    "columnSpan": 12,
                    "rowSpan": 1
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/27d53bf5dfb94c15859e9f3811800ec5",
                  "tImage": [
                    {
                      "key": "1e631453-7524-44a7-94a1-1d430cdb4b25",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "474775a3-2436-4052-bd96-a0550b9d2cb3",
      "udi": "umb://element/8de9317f574e41f8884ee422f2671d34",
      "tImages": [
        {
          "key": "44a5f2f4-3385-4cf8-bdee-2755ace60fd2",
          "mediaKey": "863583f2-5907-4210-8ccf-d0d3bff48d7b"
        },
        {
          "key": "28567f41-c0de-4fec-813a-f513ea58d166",
          "mediaKey": "55254636-7cdd-46f2-91b6-560e928aa0d0"
        },
        {
          "key": "762c6384-53b9-4da8-8953-55c8c7a6d1f6",
          "mediaKey": "8ad693ff-6988-4747-bf17-7b7f2ed12ad5"
        },
        {
          "key": "49ad91cf-00b6-4f3e-9d02-6e4adc89f874",
          "mediaKey": "95de600d-e6a8-41ea-ad3f-2594fa2d28fe"
        },
        {
          "key": "b22f99be-500d-4d44-85c1-d7e9791ffa75",
          "mediaKey": "b1a0c17d-f5be-49a9-af02-3ca0d20097c2"
        },
        {
          "key": "50cc492e-d578-42d6-9422-ae0a581c9d41",
          "mediaKey": "c09a0aad-c647-485f-851b-488b205fc9b2"
        },
        {
          "key": "79563473-436f-4505-8542-7e41409c8a03",
          "mediaKey": "a255e5fa-fed2-4d7c-bc58-a121baf7140a"
        },
        {
          "key": "258ed27a-2260-4f1b-b790-c82a08c37e43",
          "mediaKey": "8dd97212-d94a-4379-9cc9-9106dc40e710"
        },
        {
          "key": "87a3b7a2-1c7f-48c5-9bd6-c866baa70818",
          "mediaKey": "1e818e48-c148-4ade-8f8d-1f28f83c3e3c"
        },
        {
          "key": "544226f5-6369-47cf-9d61-5205d2344483",
          "mediaKey": "7f0929ae-543a-43bf-a1dc-ebf3769dd3bc"
        }
      ]
    },
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/81f9a2f664f14ea49beb4a211355bcb7",
      "tCards": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/6d34124ade1b4d5eae959973721b0be4",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/44a5d499203d4476894949a45c8d9fa3",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/6d34124ade1b4d5eae959973721b0be4",
            "tTitle": "For teacher",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/478b1f36e83e4100987e0f4f213ecd4f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/478b1f36e83e4100987e0f4f213ecd4f",
                  "tButtonTitle": "Go!",
                  "tLink": [
                    {
                      "name": "For teacher",
                      "udi": "umb://document/0bee32e3eae5462fac3f33ca07accdd6"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tImage": null,
            "tText": {
              "markup": "<p class=\"actions__item-text\">Find out more information about the Functions for teachers that TutorPro provides!</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/44a5d499203d4476894949a45c8d9fa3",
            "tTitle": "For school",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/304dc324505f4f22b20879da6315961d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/304dc324505f4f22b20879da6315961d",
                  "tButtonTitle": "Go!",
                  "tLink": [
                    {
                      "name": "For school",
                      "udi": "umb://document/1a5845bcae4f46a3b52b9430b7298176"
                    }
                  ],
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tImage": null,
            "tText": {
              "markup": "<p class=\"actions__item-text\">Find out more information about the Functions for school that TutorPro provides!</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/8722b494c10349f79d4f858397bc4c9c",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/8722b494c10349f79d4f858397bc4c9c",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/1a570647093c47b3ad015f1da57e4af6"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/1a570647093c47b3ad015f1da57e4af6",
                  "tButtonTitle": "Send",
                  "tLink": null,
                  "tFill": "1"
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPlaceholderForName": "request-name",
            "tPlaceholderForEmail": "request-email",
            "tPlaceholderForPhone": "request-phone",
            "tPlaceholderForMessage": ""
          }
        ],
        "settingsData": []
      },
      "tStyle": "",
      "tTitle": "Make a request",
      "tActionUrl": "/Umbraco/Api/Form/RequestForm",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/74c70ee1cb22451ab54e9eb5718c4b87",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/74c70ee1cb22451ab54e9eb5718c4b87",
            "tType": [
              "points"
            ],
            "tTypeNumber": "",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "0",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockGridPage>
    <tPadding>
      <Value><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>