<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a8d1ddc-811d-41e6-b4e0-b2d57a61e25f" Alias="Home" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>blockListPage</ContentType>
    <CreateDate>2024-04-08T13:06:45</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="b20de5be-35a2-460c-8aee-b74213f1ab6b">BlockListPage</Template>
  </Info>
  <Properties>
    <tBlockList>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7f899d69a2644d5fa2b66220852fa4f4"
      },
      {
        "contentUdi": "umb://element/d9b4bbdc685c49bca8d12a0f98304f74"
      },
      {
        "contentUdi": "umb://element/95583f2174db4b709f278ed270fc3e54"
      },
      {
        "contentUdi": "umb://element/4bb93d6855b14abda3fe5e068a976058"
      },
      {
        "contentUdi": "umb://element/9c6b552b99ef4045ae9b288dad1ada94"
      },
      {
        "contentUdi": "umb://element/2db23f0514124dbbb033d8bf27af8bd4"
      },
      {
        "contentUdi": "umb://element/8bd01d3119df4ec183ae5c2c88dc6a87"
      },
      {
        "contentUdi": "umb://element/e2055bd6bae64c47b3be7a7ac44e4bb1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ccba9c47-b216-420e-8087-c7e2cabad72b",
      "udi": "umb://element/7f899d69a2644d5fa2b66220852fa4f4",
      "tTitle": "Innovative platform for innovative language schools and tutors",
      "tNumberOfColoredWords": "2",
      "tImage": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4ff640c8cc7841948c13a252ac382341"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
            "udi": "umb://element/4ff640c8cc7841948c13a252ac382341",
            "tImage": [
              {
                "key": "cf8676ba-fb33-40bc-b0aa-2576ec39ddcf",
                "mediaKey": "97ace3b7-b14c-43b6-adbb-3f328a6b4d06"
              }
            ],
            "tHeight": "",
            "tWidth": ""
          }
        ],
        "settingsData": []
      },
      "tInfoText": "Imagine having all your communication tools, games, and school administration in one convenient system. TutorPro it's the perfect system to help you not only effectively manage your school affairs, but also inspire students to learn. Welcome to the future of education!",
      "tButton": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/61afaae4474a42f39e83af2d4bd38d65"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
            "udi": "umb://element/61afaae4474a42f39e83af2d4bd38d65",
            "tButtonTitle": "Waitlist",
            "tFill": "0",
            "tButtonLink": "/application-form/"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "d4631fec-2d8c-47cc-9e6f-92ff04afbb72",
      "udi": "umb://element/95583f2174db4b709f278ed270fc3e54",
      "tTitle": "With us, tutor lesson is exactly an hour lesson!",
      "tSubTitle": "The first platform to help teachers Revolutionizing Online Tutoring",
      "tItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f7b4f9304084408eb6ee7b021ed3266f"
            },
            {
              "contentUdi": "umb://element/dc5a4e5bea2b4652a7b339249d2c88a8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "2bf91604-d8cd-4df6-95ad-a8f9e90ee444",
            "udi": "umb://element/dc5a4e5bea2b4652a7b339249d2c88a8",
            "tText": "Thanks to artificial intelligence, the Tutor Pro platform allows for the creation of an entire lesson with just one click. You, as a tutor, only need to enter the requirements. If you want to choose the form of exercises, the platform will automatically generate a ready-to-use interactive lesson.",
            "tImages": [
              {
                "key": "087b5a49-7ba3-45a2-a35f-8b946548bf67",
                "mediaKey": "ca86878f-cb5b-4979-9dd0-88affefbd215"
              }
            ],
            "tReverse": "0",
            "tTitle": "Imagine a seamless process where teachers sculpt engaging lessons effortlessly",
            "tIsTitleLower": "1"
          },
          {
            "contentTypeKey": "2bf91604-d8cd-4df6-95ad-a8f9e90ee444",
            "udi": "umb://element/f7b4f9304084408eb6ee7b021ed3266f",
            "tText": "Forget the hassle of searching for materials before every lesson, tediously checking each homework assignment, assessing every pupil individually, and enduring monotonous lessons.",
            "tImages": [
              {
                "key": "8bbe6cc5-10e3-4146-a5b4-2b0c27ca7d26",
                "mediaKey": "e5e24479-7e92-4435-b27d-df6fff03f718"
              },
              {
                "key": "f5b5201c-7730-40d9-be29-b2c6cd671fd5",
                "mediaKey": "c95fa170-bf9a-4eb0-bcaf-26ffcd639736"
              }
            ],
            "tReverse": "0",
            "tTitle": "TutorPro is the only platform that allows to create an interactive lesson with just one click!",
            "tIsTitleLower": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "10a8759e-a3d6-4de5-97c7-c369a92b8e1a",
      "udi": "umb://element/d9b4bbdc685c49bca8d12a0f98304f74",
      "tTitle": "A platform that will help your school",
      "tContent": "Stand out from competitors\nRetain students longer\nControl educational materials within the school",
      "tImage": [
        {
          "key": "bc7e4b9e-6422-4519-97ed-7995a77e9dc1",
          "mediaKey": "ca86878f-cb5b-4979-9dd0-88affefbd215"
        }
      ],
      "tImageSmall": [
        {
          "key": "a844fbdf-dbcd-4754-b38a-e3ba877822bd",
          "mediaKey": "1550c7fa-063d-442d-a675-749d8aa0aeb5"
        }
      ]
    },
    {
      "contentTypeKey": "d92fe084-e083-4d1e-9117-5badb6e02cf8",
      "udi": "umb://element/4bb93d6855b14abda3fe5e068a976058",
      "tTitle": "With TutorPRO streamline your teaching process",
      "tIconItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4e34afa4a8a7403fa14d9a01cee6aca2"
            },
            {
              "contentUdi": "umb://element/c1b58ab5de824d5ab7785ba3b200ae4f"
            },
            {
              "contentUdi": "umb://element/94eafe73150e4275bd28d210296ad913"
            },
            {
              "contentUdi": "umb://element/f27b8a3e07004f63813740a189a48f69"
            },
            {
              "contentUdi": "umb://element/b77634b4e04649608ebc32e7996b54d1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/4e34afa4a8a7403fa14d9a01cee6aca2",
            "tIconImage": [
              {
                "key": "2d9fab9c-5fb4-41cb-aae9-331cd4fec681",
                "mediaKey": "eee1e7ac-e6eb-4ea8-ab23-a66ef821e4b0"
              }
            ],
            "tText": "Create your lessons with just one click"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/c1b58ab5de824d5ab7785ba3b200ae4f",
            "tIconImage": [
              {
                "key": "742feb25-3345-4a8f-adac-2ecddbe80bd5",
                "mediaKey": "7753de17-a913-4d1a-8304-48462964e68a"
              }
            ],
            "tText": "Enjoy automatically checked homework"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/94eafe73150e4275bd28d210296ad913",
            "tIconImage": [
              {
                "key": "c06363b8-a661-41a4-aa76-4d0fbb601f99",
                "mediaKey": "65e5b6a2-d3d8-4114-810b-d2391acf3e30"
              }
            ],
            "tText": "Utilize materials crafted by fellow educators"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/f27b8a3e07004f63813740a189a48f69",
            "tIconImage": [
              {
                "key": "668c77bf-73bc-40d1-8924-aa806d1cf459",
                "mediaKey": "ddcd5712-a17e-4f00-a715-9c1298e14d90"
              }
            ],
            "tText": "Work with interactive engagement materials"
          },
          {
            "contentTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
            "udi": "umb://element/b77634b4e04649608ebc32e7996b54d1",
            "tIconImage": [
              {
                "key": "6bb4a044-aaf7-40ae-8419-0752efff13a6",
                "mediaKey": "ac9cc8dd-e22e-4dcf-8df1-8fc4be3e4bed"
              }
            ],
            "tText": "Engage with students during real-time classes"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "3fbd14c2-0671-4f62-a9c9-ebf83ac2ed0e",
      "udi": "umb://element/9c6b552b99ef4045ae9b288dad1ada94",
      "tTitle": "Programs",
      "tCards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bd95e3f2181c47958d4b0fdce0db51e4"
            },
            {
              "contentUdi": "umb://element/b3449453bdf84bc5856499d03236df44"
            },
            {
              "contentUdi": "umb://element/576eaf0fb369469fbfd568d5003cd755"
            },
            {
              "contentUdi": "umb://element/111ff2bc52cb4bd2ba0a397d8dcaa3a2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/bd95e3f2181c47958d4b0fdce0db51e4",
            "tTitle": "Class module for real-time interaction",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/2e2e9eb5d90d4cfeb717b83ebecada57"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/2e2e9eb5d90d4cfeb717b83ebecada57",
                  "tButtonTitle": "",
                  "tFill": "0",
                  "tButtonLink": "#"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/173e64de09344b198517171ab9c94114"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/173e64de09344b198517171ab9c94114",
                  "tImage": [
                    {
                      "key": "0043ac3e-9bbd-4d54-819d-cea58b10276e",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/b3449453bdf84bc5856499d03236df44",
            "tTitle": "AI-generated worksheets",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/aa10faf961cc4dd594af2dc54a9a525d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/aa10faf961cc4dd594af2dc54a9a525d",
                  "tButtonTitle": "",
                  "tFill": "0",
                  "tButtonLink": "#"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/57035838666949afbb4d7defb6d4fd0d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/57035838666949afbb4d7defb6d4fd0d",
                  "tImage": [
                    {
                      "key": "0043ac3e-9bbd-4d54-819d-cea58b10276e",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/576eaf0fb369469fbfd568d5003cd755",
            "tTitle": "Administration",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/66525f56344c4ad5ba648dd7e9132fac"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/66525f56344c4ad5ba648dd7e9132fac",
                  "tButtonTitle": "",
                  "tFill": "0",
                  "tButtonLink": "#"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/5d57bf74eff04a2a8fbc9429795d2256"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/5d57bf74eff04a2a8fbc9429795d2256",
                  "tImage": [
                    {
                      "key": "0043ac3e-9bbd-4d54-819d-cea58b10276e",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/111ff2bc52cb4bd2ba0a397d8dcaa3a2",
            "tTitle": "Homework checked by AI",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/41b9719aa4534199828a9df717bab0e9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/41b9719aa4534199828a9df717bab0e9",
                  "tButtonTitle": "",
                  "tFill": "0",
                  "tButtonLink": "#"
                }
              ],
              "settingsData": []
            },
            "tImage": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/c43a4b8f67ab416fb2f0703d0d2d7c4d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
                  "udi": "umb://element/c43a4b8f67ab416fb2f0703d0d2d7c4d",
                  "tImage": [
                    {
                      "key": "0043ac3e-9bbd-4d54-819d-cea58b10276e",
                      "mediaKey": "6dafa23f-f5ee-4afa-8434-e7105fef73ac"
                    }
                  ],
                  "tHeight": "",
                  "tWidth": ""
                }
              ],
              "settingsData": []
            },
            "tText": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "0f510dd3-20d0-481e-aeb8-07a1bcecf77f",
      "udi": "umb://element/2db23f0514124dbbb033d8bf27af8bd4",
      "tTitle": "Why should you choose us?",
      "tSections": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7e5aa93740e84551bbefc50fc70c1366"
            },
            {
              "contentUdi": "umb://element/122265f536ad43f592b51ce6832587f0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "c8984ea5-ab7f-4aa7-824d-c69465eadb44",
            "udi": "umb://element/7e5aa93740e84551bbefc50fc70c1366",
            "tTitle": "No platform",
            "tItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/39fd183c6e1c4553bc8e47fa04a8c643"
                  },
                  {
                    "contentUdi": "umb://element/35131d15497c415b987dac742b058c81"
                  },
                  {
                    "contentUdi": "umb://element/2fb9d0de1f5e4851ab9b6653b8f08e96"
                  },
                  {
                    "contentUdi": "umb://element/c9a6007efde942e6b2dfa079921cfbc4"
                  },
                  {
                    "contentUdi": "umb://element/65c95717dd974ab7afd19f090ec11851"
                  },
                  {
                    "contentUdi": "umb://element/6f01325097774a36bef351bd272c074c"
                  },
                  {
                    "contentUdi": "umb://element/80f7a54fb041407c8f66c7056c4f54c0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/39fd183c6e1c4553bc8e47fa04a8c643",
                  "tTitle": "Searching for necessary materials",
                  "tTimeValue": "30",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/35131d15497c415b987dac742b058c81",
                  "tTitle": " Conducting a boring lesson during which the screen is simply broadcasting a scanned book",
                  "tTimeValue": "",
                  "tTimeType": ""
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/2fb9d0de1f5e4851ab9b6653b8f08e96",
                  "tTitle": "Homework Preparation",
                  "tTimeValue": "30",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/c9a6007efde942e6b2dfa079921cfbc4",
                  "tTitle": "Homework checking",
                  "tTimeValue": "30",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/65c95717dd974ab7afd19f090ec11851",
                  "tTitle": "The teacher creates a course plan",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "hour"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/6f01325097774a36bef351bd272c074c",
                  "tTitle": "Independent Preparation of Exam Materials: Can take up to 3 hours, if the teacher has enough energy for it",
                  "tTimeValue": "3",
                  "tTimeType": [
                    "hour"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/80f7a54fb041407c8f66c7056c4f54c0",
                  "tTitle": "Checking Students' Exam Papers: Approximately 1 hour per student",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "hour"
                  ]
                }
              ],
              "settingsData": []
            },
            "tWith": "0",
            "tResultTimeType": [
              "hour"
            ],
            "tResultTimeValue": "6.30"
          },
          {
            "contentTypeKey": "c8984ea5-ab7f-4aa7-824d-c69465eadb44",
            "udi": "umb://element/122265f536ad43f592b51ce6832587f0",
            "tTitle": "TutorPRO",
            "tItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/778bdb6851d24284a4840890b55e3fec"
                  },
                  {
                    "contentUdi": "umb://element/449755b201c24a8e8c12043dc9405be1"
                  },
                  {
                    "contentUdi": "umb://element/6f6ac78846634b5f9491796004ffbe9e"
                  },
                  {
                    "contentUdi": "umb://element/62da997498c14dd687b098b6621c17ba"
                  },
                  {
                    "contentUdi": "umb://element/75f4c5ef35b44a0fb0b710f251283fa2"
                  },
                  {
                    "contentUdi": "umb://element/c88d28dda30e4750bdaf22aea7053310"
                  },
                  {
                    "contentUdi": "umb://element/a8d422cf30f947a0b6868dbd1a7bdd5e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/778bdb6851d24284a4840890b55e3fec",
                  "tTitle": "Lesson Creation: Takes just 1 minute",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/449755b201c24a8e8c12043dc9405be1",
                  "tTitle": "Interactive Real-Time Learning: The teacher sees students' responses on the platform, which facilitates more effective interaction",
                  "tTimeValue": "",
                  "tTimeType": ""
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/6f6ac78846634b5f9491796004ffbe9e",
                  "tTitle": "Homework Generation: Based on the results of the lesson and takes 1 minute",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/62da997498c14dd687b098b6621c17ba",
                  "tTitle": " Homework Checking with Al: The teacher makes corrections and provides guidance, which takes about 3 minutes",
                  "tTimeValue": "3",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/75f4c5ef35b44a0fb0b710f251283fa2",
                  "tTitle": "Generation of a Personalized Lesson Plan for Each Student",
                  "tTimeValue": "",
                  "tTimeType": ""
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/c88d28dda30e4750bdaf22aea7053310",
                  "tTitle": "Exam Creation: Based on the covered material and takes 1 minute",
                  "tTimeValue": "1",
                  "tTimeType": [
                    "min"
                  ]
                },
                {
                  "contentTypeKey": "5cf5bc3d-ab58-47b6-8aad-6e0ae605e95e",
                  "udi": "umb://element/a8d422cf30f947a0b6868dbd1a7bdd5e",
                  "tTitle": "Exam Results Analysis and Feedback: The teacher spends about 5 minutes on this",
                  "tTimeValue": "5",
                  "tTimeType": [
                    "min"
                  ]
                }
              ],
              "settingsData": []
            },
            "tWith": "1",
            "tResultTimeValue": "11",
            "tResultTimeType": [
              "min"
            ]
          }
        ],
        "settingsData": []
      },
      "tCard": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0366a895ae074e6bb54f9666ed9f9647"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/0366a895ae074e6bb54f9666ed9f9647",
            "tTitle": "Bottom card",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3b4217800dba420ebb928a0707db6bd0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/3b4217800dba420ebb928a0707db6bd0",
                  "tButtonTitle": "Waitlist",
                  "tFill": "1",
                  "tButtonLink": "/application-form/"
                }
              ],
              "settingsData": []
            },
            "tImage": null,
            "tText": "With our platform, you don't waste time on routine tasks. Instead, you focus on what really matters - teaching and supporting your students."
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "474775a3-2436-4052-bd96-a0550b9d2cb3",
      "udi": "umb://element/8bd01d3119df4ec183ae5c2c88dc6a87",
      "tImages": [
        {
          "key": "2d3a75b8-aa91-4482-9809-6adc1b1756f8",
          "mediaKey": "863583f2-5907-4210-8ccf-d0d3bff48d7b"
        },
        {
          "key": "b518534e-c127-416e-9d4b-90f2abdcece0",
          "mediaKey": "55254636-7cdd-46f2-91b6-560e928aa0d0"
        },
        {
          "key": "39f5cd06-0b36-4143-b7f6-a3de033e0cf9",
          "mediaKey": "8ad693ff-6988-4747-bf17-7b7f2ed12ad5"
        },
        {
          "key": "5c3a97f6-0e22-4e71-9f53-3edb68dfeb8e",
          "mediaKey": "95de600d-e6a8-41ea-ad3f-2594fa2d28fe"
        },
        {
          "key": "083d0b7a-2d7a-4c26-8fd5-3614689ac78b",
          "mediaKey": "b1a0c17d-f5be-49a9-af02-3ca0d20097c2"
        },
        {
          "key": "034f774e-6aba-42d9-8596-a831ebb29ae7",
          "mediaKey": "c09a0aad-c647-485f-851b-488b205fc9b2"
        },
        {
          "key": "76e6025d-e448-4823-9173-122881cf64f1",
          "mediaKey": "a255e5fa-fed2-4d7c-bc58-a121baf7140a"
        },
        {
          "key": "d93faa7a-79ac-453d-8bcc-6daa759e6211",
          "mediaKey": "8dd97212-d94a-4379-9cc9-9106dc40e710"
        },
        {
          "key": "eafe22e8-fab6-4d4d-bfea-e01549faf123",
          "mediaKey": "1e818e48-c148-4ade-8f8d-1f28f83c3e3c"
        },
        {
          "key": "c5541644-0e22-4fbd-8c2b-1435e838d6a2",
          "mediaKey": "7f0929ae-543a-43bf-a1dc-ebf3769dd3bc"
        }
      ]
    },
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/e2055bd6bae64c47b3be7a7ac44e4bb1",
      "tCards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/030dd5fa36c846548da81b861aaaef75"
            },
            {
              "contentUdi": "umb://element/9b754beba7ab42d08cd4dcc4a7205ee7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/030dd5fa36c846548da81b861aaaef75",
            "tTitle": "For teacher",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a5202c7d2cbb4d6caced0a3aefe01dc9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/a5202c7d2cbb4d6caced0a3aefe01dc9",
                  "tButtonTitle": "Go!",
                  "tFill": "1",
                  "tButtonLink": "$"
                }
              ],
              "settingsData": []
            },
            "tImage": null,
            "tText": "Find out more information about the Functions for teachers that TutorPro provides!"
          },
          {
            "contentTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
            "udi": "umb://element/9b754beba7ab42d08cd4dcc4a7205ee7",
            "tTitle": "For school",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/249532d2e80048b4a025527faabc8bda"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/249532d2e80048b4a025527faabc8bda",
                  "tButtonTitle": "Go!",
                  "tFill": "1",
                  "tButtonLink": "$"
                }
              ],
              "settingsData": []
            },
            "tImage": null,
            "tText": "Find out more information about the Functions for school that TutorPro provides!"
          }
        ],
        "settingsData": []
      },
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/602ba457e3114f39bce4ec9f8a6e985d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/602ba457e3114f39bce4ec9f8a6e985d",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/a0a5297d179e474cafb0481cff24421a"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/a0a5297d179e474cafb0481cff24421a",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tButtonLink": ""
                }
              ],
              "settingsData": []
            },
            "tPlaceholderForName": "request-name",
            "tPlaceholderForEmail": "request-email",
            "tPlaceholderForPhone": "request-phone",
            "tPlaceholderForMessage": "",
            "tCentered": "0"
          }
        ],
        "settingsData": []
      },
      "tStyle": "",
      "tTitle": "Make a request",
      "tActionUrl": "~/Umbraco/Api/Form/RequestForm"
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockList>
    <tPadding>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>