<?xml version="1.0" encoding="utf-8"?>
<Content Key="95bfa462-490c-449d-8576-5e0eb41a203c" Alias="Informacje ogólne" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/InformacjeOgolne</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:00</CreateDate>
    <NodeName Default="Informacje ogólne">
      <Name Culture="en-us">Informacje ogólne</Name>
      <Name Culture="pl-pl">Informacje ogólne</Name>
      <Name Culture="uk-ua">Informacje ogólne</Name>
    </NodeName>
    <SortOrder>301</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T16:13:14.932Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[e3a6fbd9-a4cb-4401-8c22-9af8c61b2c51]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722804459120.jpg?ts=1722804459619]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2-B1 (Pre-Int./Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Informacje ogólne]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:05:35.981Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>