<?xml version="1.0" encoding="utf-8"?>
<Content Key="4171afeb-f681-4eff-a2ec-8de847f64e5c" Alias="Jak odbywa się ustny egzamin ?" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/JakOdbywaSieUstnyEgzamin</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Jak odbywa się ustny egzamin ?">
      <Name Culture="en-us">Jak odbywa się ustny egzamin ?</Name>
      <Name Culture="pl-pl">Jak odbywa się ustny egzamin ?</Name>
      <Name Culture="uk-ua">Jak odbywa się ustny egzamin ?</Name>
    </NodeName>
    <SortOrder>128</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:06:23.268Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[722a5a73-00e5-4df3-84d2-cdbbe1506b39]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Jak odbywa się ustny egzamin ?]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:58:48.434Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>