<?xml version="1.0" encoding="utf-8"?>
<Content Key="355b621a-c55f-48d4-beb6-9195cf2dde02" Alias="Jak się uczysz języka?" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/JakSieUczyszJezyka</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Jak się uczysz języka?">
      <Name Culture="en-us">Jak się uczysz języka?</Name>
      <Name Culture="pl-pl">Jak się uczysz języka?</Name>
      <Name Culture="uk-ua">Jak się uczysz języka?</Name>
    </NodeName>
    <SortOrder>107</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T16:58:20.308Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[3335cbe4-5bf5-4637-8aeb-8cc0913c9a67]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722445099905.jpg?ts=1722445100243]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Jak się uczysz języka?]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:52:07.268Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>