<?xml version="1.0" encoding="utf-8"?>
<Content Key="33e4e2e6-42d9-408c-8ecf-0b76a4f6e7e1" Alias="Kamienie na Szaniec" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KamienieNaSzaniec</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Kamienie na Szaniec">
      <Name Culture="en-us">Kamienie na Szaniec</Name>
      <Name Culture="pl-pl">Kamienie na Szaniec</Name>
      <Name Culture="uk-ua">Kamienie na Szaniec</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-25T15:45:11.309Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c2bcb386-7b79-4951-88c3-898a47d44a6e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Kamienie na Szaniec]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-31T11:51:47.309Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>