<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e72dcc3-353f-4b9e-b565-bd4f5d6f9c82" Alias="Kamienie na Szaniec" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/KamienieNaSzaniec</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:32</CreateDate>
    <NodeName Default="Kamienie na Szaniec" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[c2bcb386-7b79-4951-88c3-898a47d44a6e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Kamienie na Szaniec]]></Value>
    </tTitle>
  </Properties>
</Content>