<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3c6d392-91b4-4668-b730-e1b0b63b8a49" Alias="Kamienie na Szaniec" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/KamienieNaSzaniec</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Kamienie na Szaniec">
      <Name Culture="en-us">Kamienie na Szaniec</Name>
      <Name Culture="pl-pl">Kamienie na Szaniec</Name>
      <Name Culture="uk-ua">Kamienie na Szaniec</Name>
    </NodeName>
    <SortOrder>15</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-25T15:45:11.309Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c2bcb386-7b79-4951-88c3-898a47d44a6e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Kamienie na Szaniec]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-07T12:27:42.671Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>