<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae3bef71-1962-49e1-87c6-e30ce2b7c359" Alias="Kamienie na szaniec (3)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KamienieNaSzaniec3</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:54</CreateDate>
    <NodeName Default="Kamienie na szaniec (3)">
      <Name Culture="en-us">Kamienie na szaniec (3)</Name>
      <Name Culture="pl-pl">Kamienie na szaniec (3)</Name>
      <Name Culture="uk-ua">Kamienie na szaniec (3)</Name>
    </NodeName>
    <SortOrder>227</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.780Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[0571e7ca-d34f-425a-bb43-bd07e9b364f2]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Kamienie na szaniec]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:13:51.213Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>