<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c6cc4f2-e0d7-44dd-b269-461a0135bc29" Alias="Kamienie na szaniec (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KamienieNaSzaniec2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:54</CreateDate>
    <NodeName Default="Kamienie na szaniec (2)">
      <Name Culture="en-us">Kamienie na szaniec (2)</Name>
      <Name Culture="pl-pl">Kamienie na szaniec (2)</Name>
      <Name Culture="uk-ua">Kamienie na szaniec (2)</Name>
    </NodeName>
    <SortOrder>219</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:53:44.721Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c67385b2-4b82-44a3-9406-908daa3705f5]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Kamienie na szaniec]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:48:01.837Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>