<?xml version="1.0" encoding="utf-8"?>
<Content Key="420cb15d-e01f-462e-a7c2-5d27260980fb" Alias="Kamienie na Szaniec (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KamienieNaSzaniec1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Kamienie na Szaniec (1)">
      <Name Culture="en-us">Kamienie na Szaniec (1)</Name>
      <Name Culture="pl-pl">Kamienie na Szaniec (1)</Name>
      <Name Culture="uk-ua">Kamienie na Szaniec (1)</Name>
    </NodeName>
    <SortOrder>108</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T11:51:47.291Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[93780bdf-a576-4dd7-824a-bfb2086ab456]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Kamienie na Szaniec]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:08:08.188Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>