<?xml version="1.0" encoding="utf-8"?>
<Content Key="972deaf8-9c8e-4d38-aced-e7f9b49c037d" Alias="Karta pracy 2" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KartaPracy2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:59</CreateDate>
    <NodeName Default="Karta pracy 2">
      <Name Culture="en-us">Karta pracy 2</Name>
      <Name Culture="pl-pl">Karta pracy 2</Name>
      <Name Culture="uk-ua">Karta pracy 2</Name>
    </NodeName>
    <SortOrder>293</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:47:06.021Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[e18ca4b3-1727-4290-be61-11b11dd43e90]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722806789253.jpg?ts=1722806789578]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Karta pracy 2]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:05:01.515Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>