<?xml version="1.0" encoding="utf-8"?>
<Content Key="ffc3e9f5-8bc8-4b69-8e95-9269c97593fc" Alias="Karta pracy 4" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KartaPracy4</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:49</CreateDate>
    <NodeName Default="Karta pracy 4">
      <Name Culture="en-us">Karta pracy 4</Name>
      <Name Culture="pl-pl">Karta pracy 4</Name>
      <Name Culture="uk-ua">Karta pracy 4</Name>
    </NodeName>
    <SortOrder>152</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:47:19.104Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8cdfe6c0-dfd5-4b2d-b8a1-ebbb2a757ab7]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722811085514.jpg?ts=1722811085742]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Karta pracy 4]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:02:35.016Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>