<?xml version="1.0" encoding="utf-8"?>
<Content Key="21c7b85e-9e94-4ef9-b229-9bfc9b9a26f8" Alias="Karta pracy 6" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KartaPracy6</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:48</CreateDate>
    <NodeName Default="Karta pracy 6">
      <Name Culture="en-us">Karta pracy 6</Name>
      <Name Culture="pl-pl">Karta pracy 6</Name>
      <Name Culture="uk-ua">Karta pracy 6</Name>
    </NodeName>
    <SortOrder>150</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:47:23.464Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[4170ce0f-b626-4698-aeae-83741bdf7ce7]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722868496035.jpg?ts=1722868496239]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Karta pracy 6]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:57:34.128Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>