<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaecf586-8440-4d44-b5f3-d179ac3c163c" Alias="Karta pracy 12" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KartaPracy12</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:48</CreateDate>
    <NodeName Default="Karta pracy 12">
      <Name Culture="en-us">Karta pracy 12</Name>
      <Name Culture="pl-pl">Karta pracy 12</Name>
      <Name Culture="uk-ua">Karta pracy 12</Name>
    </NodeName>
    <SortOrder>145</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:47:35.945Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[6c6fbf45-195d-49ee-887e-c3aa1e67c2a6]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722972010291.jpg?ts=1722972010485]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Karta pracy 12]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:46:15.109Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>