<?xml version="1.0" encoding="utf-8"?>
<Content Key="84688dbf-29f0-4df6-ae06-92cf11a87d22" Alias="Karta pracy 1" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KartaPracy1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:51</CreateDate>
    <NodeName Default="Karta pracy 1">
      <Name Culture="en-us">Karta pracy 1</Name>
      <Name Culture="pl-pl">Karta pracy 1</Name>
      <Name Culture="uk-ua">Karta pracy 1</Name>
    </NodeName>
    <SortOrder>183</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:47:03.707Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[61b84cc9-7a9e-4ece-8b5c-b272d96552a8]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Karta pracy 1]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:13:55.193Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>