<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea9870c4-59d4-47d4-b6c8-5e44b0269e87" Alias="koleżanka/kolega" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/kolezankakolega</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:52</CreateDate>
    <NodeName Default="koleżanka/kolega">
      <Name Culture="en-us">koleżanka/kolega</Name>
      <Name Culture="pl-pl">koleżanka/kolega</Name>
      <Name Culture="uk-ua">koleżanka/kolega</Name>
    </NodeName>
    <SortOrder>196</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.298Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[474b3378-2a51-4366-8f5f-9b78d66e9606]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[koleżanka/kolega]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:19:47.775Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>