<?xml version="1.0" encoding="utf-8"?>
<Content Key="51c234d8-132d-4d0e-a4b6-1319bf8f4407" Alias="Komu bije dzwon?" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/KomuBijeDzwon</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:45</CreateDate>
    <NodeName Default="Komu bije dzwon?">
      <Name Culture="en-us">Komu bije dzwon?</Name>
      <Name Culture="pl-pl">Komu bije dzwon?</Name>
      <Name Culture="uk-ua">Komu bije dzwon?</Name>
    </NodeName>
    <SortOrder>100</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-25T19:32:15.496Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[a43f6fd1-83bb-4065-a050-aefa68e67252]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721935935215.jpg?ts=1721935935431]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Komu bije dzwon?]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:08:01.377Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>