<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7559c28-6afa-4f82-8222-cac630248004" Alias="Latarnik (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Latarnik2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:43</CreateDate>
    <NodeName Default="Latarnik (2)">
      <Name Culture="en-us">Latarnik (2)</Name>
      <Name Culture="pl-pl">Latarnik (2)</Name>
      <Name Culture="uk-ua">Latarnik (2)</Name>
    </NodeName>
    <SortOrder>68</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-12T14:20:05.102Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[5fadfc6b-eaca-45de-81db-e4e10a3678cb]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Latarnik]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:04:43.237Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>