<?xml version="1.0" encoding="utf-8"?>
<Content Key="8878a74b-ae2b-4267-acad-97ae52a26c92" Alias="Latarnik" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Latarnik</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Latarnik">
      <Name Culture="en-us">Latarnik</Name>
      <Name Culture="pl-pl">Latarnik</Name>
      <Name Culture="uk-ua">Latarnik</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-25T16:59:09.339Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[08ff1d02-0079-4a2c-ac83-9243b2bd9684]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Latarnik]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-12T14:20:05.116Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[2]]></Value>
    </tViewsNumber>
  </Properties>
</Content>