<?xml version="1.0" encoding="utf-8"?>
<Content Key="b54e5eb3-9b6f-4335-b20e-1c1fccbbd658" Alias="learning process (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/learningProcess1</Path>
    <Trashed Parent="32c3074c-11db-49cc-8546-3b85243bd4de">true</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2024-04-24T11:57:54</CreateDate>
    <NodeName Default="learning process (1)">
      <Name Culture="en-us">learning process (1)</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="167faab7-bb86-47aa-b7a8-19d5a6bd4715">BlockGridPage</Template>
  </Info>
  <Properties>
    <tBlockGridPage>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/059ea98a730441a49994d3cde55b7edf",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "11739d1f-ca3e-423f-8942-36ddf8978892",
      "udi": "umb://element/059ea98a730441a49994d3cde55b7edf",
      "tText": {
        "markup": "<div>\n<h2>The learning process has never been so enjoyable</h2>\n</div>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "tTextColor": "",
      "tBackgroundColor": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockGridPage>
    <tPadding>
      <Value><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>