<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd2f3132-737f-45ac-8889-5a669559840e" Alias="Lekcja 2 (5)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja25</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:44</CreateDate>
    <NodeName Default="Lekcja 2 (5)">
      <Name Culture="en-us">Lekcja 2 (5)</Name>
      <Name Culture="pl-pl">Lekcja 2 (5)</Name>
      <Name Culture="uk-ua">Lekcja 2 (5)</Name>
    </NodeName>
    <SortOrder>79</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-23T18:13:25.463Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[d9a61861-be51-4bfb-bb39-aff42b9dfbbf]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722349174272.jpg?ts=1722349174483]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 2]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:07:52.849Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>