<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c7bd720-645a-4f28-be69-b6de97e5a8bd" Alias="Lekcja 4" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja4</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:40</CreateDate>
    <NodeName Default="Lekcja 4">
      <Name Culture="en-us">Lekcja 4</Name>
      <Name Culture="pl-pl">Lekcja 4</Name>
      <Name Culture="uk-ua">Lekcja 4</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-03T13:10:33.728Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[05393f11-de77-4372-a71e-93cde5d6afd1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 4]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-11T10:09:02.807Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>