<?xml version="1.0" encoding="utf-8"?>
<Content Key="a62bad91-3f0c-4cfd-ad38-817d8ffdbe35" Alias="Lekcja 4" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja4</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:19</CreateDate>
    <NodeName Default="Lekcja 4">
      <Name Culture="en-us">Lekcja 4</Name>
      <Name Culture="pl-pl">Lekcja 4</Name>
      <Name Culture="uk-ua">Lekcja 4</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-03T13:10:33.728Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[05393f11-de77-4372-a71e-93cde5d6afd1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 4]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-11T10:09:02.807Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>