<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f98182e-5fd0-4e41-852b-36339b620728" Alias="Lekcja 17" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja17</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:58</CreateDate>
    <NodeName Default="Lekcja 17">
      <Name Culture="en-us">Lekcja 17</Name>
      <Name Culture="pl-pl">Lekcja 17</Name>
      <Name Culture="uk-ua">Lekcja 17</Name>
    </NodeName>
    <SortOrder>282</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-30T14:25:23.275Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f73df674-5174-433a-8c59-9316c7a301fa]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722511938889.jpg?ts=1722511939107]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 17]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:15:09.411Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>