<?xml version="1.0" encoding="utf-8"?>
<Content Key="9cdd4d6d-2c80-4d27-afd1-a9fdcf40cc3f" Alias=" Lekcja 19" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja19</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:48</CreateDate>
    <NodeName Default=" Lekcja 19">
      <Name Culture="en-us"> Lekcja 19</Name>
      <Name Culture="pl-pl"> Lekcja 19</Name>
      <Name Culture="uk-ua"> Lekcja 19</Name>
    </NodeName>
    <SortOrder>137</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:45:12.941Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f70c9cc6-dd21-4a5f-9e0f-11243cd94136]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722716517333.jpg?ts=1722716517525]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 19]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:09:33.001Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>