<?xml version="1.0" encoding="utf-8"?>
<Content Key="a51ac252-008f-4492-91ae-359dc79b7158" Alias="Lekcja pokazowa" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/LekcjaPokazowa</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:54</CreateDate>
    <NodeName Default="Lekcja pokazowa">
      <Name Culture="en-us">Lekcja pokazowa</Name>
      <Name Culture="pl-pl">Lekcja pokazowa</Name>
      <Name Culture="uk-ua">Lekcja pokazowa</Name>
    </NodeName>
    <SortOrder>222</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:53:44.982Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8e566cb7-65aa-4b24-95d9-b521549c4129]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja pokazowa]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:50:23.481Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>