<?xml version="1.0" encoding="utf-8"?>
<Content Key="85e6bb40-9a6c-41c7-adc3-6393bb64969c" Alias="Lekcja 11" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja11</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:19</CreateDate>
    <NodeName Default="Lekcja 11">
      <Name Culture="en-us">Lekcja 11</Name>
      <Name Culture="pl-pl">Lekcja 11</Name>
      <Name Culture="uk-ua">Lekcja 11</Name>
    </NodeName>
    <SortOrder>32</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-13T11:04:01.204Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[44059bf0-9c55-4e97-a505-d14331f68e1e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 11]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:12:14.253Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>