<?xml version="1.0" encoding="utf-8"?>
<Content Key="478419ed-6870-42b2-8505-fce03957ff15" Alias="Lekcja 5 (3)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja53</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:45</CreateDate>
    <NodeName Default="Lekcja 5 (3)">
      <Name Culture="en-us">Lekcja 5 (3)</Name>
      <Name Culture="pl-pl">Lekcja 5 (3)</Name>
      <Name Culture="uk-ua">Lekcja 5 (3)</Name>
    </NodeName>
    <SortOrder>96</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-30T14:24:57.712Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[47c697cd-0874-42f6-af3d-7e46185163c9]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722494199176.jpg?ts=1722494199424]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 5]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:58:15.010Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>