<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0c11005-fde1-4c6b-a66b-d15aecd576d7" Alias=" Lekcja 6" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja6</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:01</CreateDate>
    <NodeName Default=" Lekcja 6">
      <Name Culture="en-us"> Lekcja 6</Name>
      <Name Culture="pl-pl"> Lekcja 6</Name>
      <Name Culture="uk-ua"> Lekcja 6</Name>
    </NodeName>
    <SortOrder>309</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:44:14.939Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[b22939a7-5f7c-468e-8e6c-a85e2beea3dd]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722482875821.jpg?ts=1722482876017]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 6]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:00:17.159Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>