<?xml version="1.0" encoding="utf-8"?>
<Content Key="eafe7020-987c-4c04-8365-95429a517418" Alias="Lekcja 10 (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja101</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:40</CreateDate>
    <NodeName Default="Lekcja 10 (1)">
      <Name Culture="en-us">Lekcja 10 (1)</Name>
      <Name Culture="pl-pl">Lekcja 10 (1)</Name>
      <Name Culture="uk-ua">Lekcja 10 (1)</Name>
    </NodeName>
    <SortOrder>16</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-12T13:04:41.420Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[4a9e069f-e635-4355-85ad-d569a18a686f]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 10]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:12:23.454Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>