<?xml version="1.0" encoding="utf-8"?>
<Content Key="af72ebb1-e3a7-4359-bafe-76d3249fbf27" Alias=" Lekcja 22" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja22</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:50</CreateDate>
    <NodeName Default=" Lekcja 22">
      <Name Culture="en-us"> Lekcja 22</Name>
      <Name Culture="pl-pl"> Lekcja 22</Name>
      <Name Culture="uk-ua"> Lekcja 22</Name>
    </NodeName>
    <SortOrder>173</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:45:41.487Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8b2f7fbf-ee36-4cf5-aa19-3378f074a997]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 22]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:12:49.438Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>