<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d532102-9345-4fd4-9b13-9b692b0d17e5" Alias="Lekcja 14 (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja142</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Lekcja 14 (2)">
      <Name Culture="en-us">Lekcja 14 (2)</Name>
      <Name Culture="pl-pl">Lekcja 14 (2)</Name>
      <Name Culture="uk-ua">Lekcja 14 (2)</Name>
    </NodeName>
    <SortOrder>127</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-30T14:25:17.284Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8442a6e8-8d2f-43f0-813c-571d53585fc8]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722493844110.jpg?ts=1722493844387]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 14]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:55:19.625Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>