<?xml version="1.0" encoding="utf-8"?>
<Content Key="6881dd09-f323-44fc-a190-70c813cbdea7" Alias="Lekcja 2" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:32</CreateDate>
    <NodeName Default="Lekcja 2" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[c72480cf-4602-4c78-b418-a95f5cb858f3]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1714686771289.jpg?ts=1714686771563]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1(Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Rzeczy które nas otaczają, mianownik, czasownik BYĆ ]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 2]]></Value>
    </tTitle>
  </Properties>
</Content>