<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a030bc9-a8ce-40d8-954e-b3c5780c573c" Alias="Lekcja 1 (5)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja15</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Lekcja 1 (5)">
      <Name Culture="en-us">Lekcja 1 (5)</Name>
      <Name Culture="pl-pl">Lekcja 1 (5)</Name>
      <Name Culture="uk-ua">Lekcja 1 (5)</Name>
    </NodeName>
    <SortOrder>114</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-30T14:23:07.046Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[0a18a98c-ca9d-46d3-8c7e-2926006ed419]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722425159937.jpg?ts=1722425160166]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 1]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:06:48.959Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>