<?xml version="1.0" encoding="utf-8"?>
<Content Key="95510fa9-590f-406f-b867-a0e975d68eaf" Alias="Lekcja 2 (6)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja26</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:45</CreateDate>
    <NodeName Default="Lekcja 2 (6)">
      <Name Culture="en-us">Lekcja 2 (6)</Name>
      <Name Culture="pl-pl">Lekcja 2 (6)</Name>
      <Name Culture="uk-ua">Lekcja 2 (6)</Name>
    </NodeName>
    <SortOrder>89</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-30T14:23:36.555Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[b569a87e-cacc-4efd-81f0-2de0827325c0]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722494108991.jpg?ts=1722494109218]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 2]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:42:58.466Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>