<?xml version="1.0" encoding="utf-8"?>
<Content Key="7114bac7-2873-49ff-a76c-42d5da0a1927" Alias="LEKCJA 9 (5)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/LEKCJA95</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:01</CreateDate>
    <NodeName Default="LEKCJA 9 (5)">
      <Name Culture="en-us">LEKCJA 9 (5)</Name>
      <Name Culture="pl-pl">LEKCJA 9 (5)</Name>
      <Name Culture="uk-ua">LEKCJA 9 (5)</Name>
    </NodeName>
    <SortOrder>312</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-08T09:30:11.835Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c2865d63-7df8-4dc3-91e0-425009a09d24]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#spanish
#polish
B1-B2 (Int./Upper Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[LEKCJA 9]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:45:53.607Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>