<?xml version="1.0" encoding="utf-8"?>
<Content Key="16f28a25-103b-4c83-a504-469b8628bfc8" Alias="Lekcja 9" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja9</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:19</CreateDate>
    <NodeName Default="Lekcja 9">
      <Name Culture="en-us">Lekcja 9</Name>
      <Name Culture="pl-pl">Lekcja 9</Name>
      <Name Culture="uk-ua">Lekcja 9</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-11T10:12:45.495Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[5ce03b00-99a8-47b4-bbfc-15a63cbe0c9f]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 9]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-13T12:07:32.745Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>