<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9d97624-e6bd-4fac-b03d-9b58f3d98b1e" Alias="Lekcja 3 (5)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja35</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:44</CreateDate>
    <NodeName Default="Lekcja 3 (5)">
      <Name Culture="en-us">Lekcja 3 (5)</Name>
      <Name Culture="pl-pl">Lekcja 3 (5)</Name>
      <Name Culture="uk-ua">Lekcja 3 (5)</Name>
    </NodeName>
    <SortOrder>84</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-26T00:48:20.521Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[6f386c31-7a4d-45e0-a6c5-cf365c21d60d]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 3]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:08:34.043Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>