<?xml version="1.0" encoding="utf-8"?>
<Content Key="52b3a38d-aeba-4e0e-a816-dc93359f5f33" Alias="Lekcja 1 " Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:17</CreateDate>
    <NodeName Default="Lekcja 1 ">
      <Name Culture="en-us">Lekcja 1 </Name>
      <Name Culture="pl-pl">Lekcja 1 </Name>
      <Name Culture="uk-ua">Lekcja 1 </Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-27T09:31:45.241Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[bdf2ff6a-793c-450c-9475-98aed31f3d85]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 1 ]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-21T08:18:55.007Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[2]]></Value>
    </tViewsNumber>
  </Properties>
</Content>