<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ba542c1-f973-44f6-9c4f-3e891e6446ab" Alias="Lekcja 9" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja9</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:41</CreateDate>
    <NodeName Default="Lekcja 9">
      <Name Culture="en-us">Lekcja 9</Name>
      <Name Culture="pl-pl">Lekcja 9</Name>
      <Name Culture="uk-ua">Lekcja 9</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-11T10:12:45.495Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[5ce03b00-99a8-47b4-bbfc-15a63cbe0c9f]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 9]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-13T12:07:32.745Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>