<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7cf21e2-2d06-4e1e-8d45-7eec402ea25f" Alias="Lekcja 7" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja7</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:19</CreateDate>
    <NodeName Default="Lekcja 7">
      <Name Culture="en-us">Lekcja 7</Name>
      <Name Culture="pl-pl">Lekcja 7</Name>
      <Name Culture="uk-ua">Lekcja 7</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-06T11:00:27.427Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[9564531d-6f72-4689-be2f-b5b45898c601]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 7]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:12:39.804Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>