<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a281c4a-3e0b-4057-a611-da318f650e20" Alias="Lekcja 14 (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja141</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:44</CreateDate>
    <NodeName Default="Lekcja 14 (1)">
      <Name Culture="en-us">Lekcja 14 (1)</Name>
      <Name Culture="pl-pl">Lekcja 14 (1)</Name>
      <Name Culture="uk-ua">Lekcja 14 (1)</Name>
    </NodeName>
    <SortOrder>73</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-23T18:17:32.921Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[26eea477-42ea-4f01-89fe-d629071dd4a1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 14]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:06:53.690Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>