<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa17097d-d46f-47a3-92bc-4cb572687012" Alias=" Lekcja 12" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja12</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:00</CreateDate>
    <NodeName Default=" Lekcja 12">
      <Name Culture="en-us"> Lekcja 12</Name>
      <Name Culture="pl-pl"> Lekcja 12</Name>
      <Name Culture="uk-ua"> Lekcja 12</Name>
    </NodeName>
    <SortOrder>306</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:44:36.256Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[740c8bb1-cabb-43c0-9912-adf1e5da5846]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722609894061.jpg?ts=1722609894351]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 12]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:41:06.640Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>