<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a661fc4-f0a5-44e4-9443-0484d231dfb5" Alias=" Lekcja 27" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja27</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:40</CreateDate>
    <NodeName Default=" Lekcja 27">
      <Name Culture="en-us"> Lekcja 27</Name>
      <Name Culture="pl-pl"> Lekcja 27</Name>
      <Name Culture="uk-ua"> Lekcja 27</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:45:52.157Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[47816823-68f7-4a8e-87f0-f5b33609abd2]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 27]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-20T11:07:41.436Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[1]]></Value>
    </tViewsNumber>
  </Properties>
</Content>