<?xml version="1.0" encoding="utf-8"?>
<Content Key="504aa6d2-81b2-4362-90ef-724cca2be014" Alias="Lekcja 3" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja3</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Lekcja 3">
      <Name Culture="en-us">Lekcja 3</Name>
      <Name Culture="pl-pl">Lekcja 3</Name>
      <Name Culture="uk-ua">Lekcja 3</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-31T15:41:16.706Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[ad420965-41f1-4473-904e-867881288a3d]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 3]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-12T14:14:09.129Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[6]]></Value>
    </tViewsNumber>
  </Properties>
</Content>