<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f62a31f-13f0-4b26-9e61-a7f801a05f07" Alias="Lekcja 7" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja7</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:41</CreateDate>
    <NodeName Default="Lekcja 7">
      <Name Culture="en-us">Lekcja 7</Name>
      <Name Culture="pl-pl">Lekcja 7</Name>
      <Name Culture="uk-ua">Lekcja 7</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-06T11:00:27.427Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[9564531d-6f72-4689-be2f-b5b45898c601]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 7]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:12:39.804Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>