<?xml version="1.0" encoding="utf-8"?>
<Content Key="036dbf20-782f-4ea3-a50f-6cb4f324cb08" Alias=" Lekcja 8" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja8</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:49</CreateDate>
    <NodeName Default=" Lekcja 8">
      <Name Culture="en-us"> Lekcja 8</Name>
      <Name Culture="pl-pl"> Lekcja 8</Name>
      <Name Culture="uk-ua"> Lekcja 8</Name>
    </NodeName>
    <SortOrder>159</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:44:20.643Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[df9c6d3e-3247-4908-9a17-eab2d6bffaab]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722485435147.jpg?ts=1722485435320]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 8]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:00:02.743Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>