<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c83b3fe-b66b-40c6-8861-179ed060fe6c" Alias="Lekcja 2" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Lekcja2</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:17</CreateDate>
    <NodeName Default="Lekcja 2">
      <Name Culture="en-us">Lekcja 2</Name>
      <Name Culture="pl-pl">Lekcja 2</Name>
      <Name Culture="uk-ua">Lekcja 2</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-27T11:30:50.875Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[af4e0b4a-4727-4af3-a2cf-18a03ef9c7f9]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 2]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-07-15T15:48:39.336Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[2]]></Value>
    </tViewsNumber>
  </Properties>
</Content>