<?xml version="1.0" encoding="utf-8"?>
<Content Key="1719fba6-8d24-4907-9615-5d53d8e99eab" Alias="Lekcja 2 (7)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja27</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Lekcja 2 (7)">
      <Name Culture="en-us">Lekcja 2 (7)</Name>
      <Name Culture="pl-pl">Lekcja 2 (7)</Name>
      <Name Culture="uk-ua">Lekcja 2 (7)</Name>
    </NodeName>
    <SortOrder>109</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T02:09:54.749Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[47f9bef2-ddbd-44fb-a533-0db10da047d4]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 2]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:07:04.295Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>