<?xml version="1.0" encoding="utf-8"?>
<Content Key="71fb43c7-a668-4cb6-8d0a-65a57c5ff2c8" Alias="Lekcja 1 - Znajomość miasta" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja1ZnajomoscMiasta</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:45</CreateDate>
    <NodeName Default="Lekcja 1 - Znajomość miasta">
      <Name Culture="en-us">Lekcja 1 - Znajomość miasta</Name>
      <Name Culture="pl-pl">Lekcja 1 - Znajomość miasta</Name>
      <Name Culture="uk-ua">Lekcja 1 - Znajomość miasta</Name>
    </NodeName>
    <SortOrder>104</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T16:59:14.882Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[662b841f-84cb-45ba-b48f-563d83fed04c]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 1 - Znajomość miasta]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:31:03.569Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>