<?xml version="1.0" encoding="utf-8"?>
<Content Key="672f9f7f-ce4e-46cf-a756-ba577c481b24" Alias="Lekcja 4 (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja41</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:42</CreateDate>
    <NodeName Default="Lekcja 4 (1)">
      <Name Culture="en-us">Lekcja 4 (1)</Name>
      <Name Culture="pl-pl">Lekcja 4 (1)</Name>
      <Name Culture="uk-ua">Lekcja 4 (1)</Name>
    </NodeName>
    <SortOrder>38</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:02:12.975Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2a55f350-2efe-47e3-a52d-66115d6af2e6]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721091225575.jpg?ts=1721091225874]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 4]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:28:55.057Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>