<?xml version="1.0" encoding="utf-8"?>
<Content Key="0291e4d5-cf21-4b96-8d9c-ca08dd1ea3e9" Alias="Lekcja 11 (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja111</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:42</CreateDate>
    <NodeName Default="Lekcja 11 (1)">
      <Name Culture="en-us">Lekcja 11 (1)</Name>
      <Name Culture="pl-pl">Lekcja 11 (1)</Name>
      <Name Culture="uk-ua">Lekcja 11 (1)</Name>
    </NodeName>
    <SortOrder>44</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:07:15.432Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f4280282-d268-45f1-bb0a-1bcc4bb4361d]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721403094922.jpg?ts=1721403095317]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 11]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:27:21.615Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>