<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb24a37e-ce3c-4954-8993-e0ad3d30de21" Alias="Lekcja 8 (4)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja84</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Lekcja 8 (4)">
      <Name Culture="en-us">Lekcja 8 (4)</Name>
      <Name Culture="pl-pl">Lekcja 8 (4)</Name>
      <Name Culture="uk-ua">Lekcja 8 (4)</Name>
    </NodeName>
    <SortOrder>132</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-23T18:15:09.618Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[69010aca-6e33-4b3a-b4df-16cb96103f58]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722378202634.jpg?ts=1722378202842]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 8]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:09:23.600Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>