<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b26edea-8e74-42b8-9e39-2de6c6766b79" Alias=" Lekcja 24" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja24</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:50</CreateDate>
    <NodeName Default=" Lekcja 24">
      <Name Culture="en-us"> Lekcja 24</Name>
      <Name Culture="pl-pl"> Lekcja 24</Name>
      <Name Culture="uk-ua"> Lekcja 24</Name>
    </NodeName>
    <SortOrder>175</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:45:45.651Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2fd3c46a-02d4-42e9-9809-b5e2c0e7af8e]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 24]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:12:57.458Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>