<?xml version="1.0" encoding="utf-8"?>
<Content Key="e17c2aa3-cc1f-46f6-8905-b57d1874dae8" Alias=" Lekcja 26" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja26</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:51</CreateDate>
    <NodeName Default=" Lekcja 26">
      <Name Culture="en-us"> Lekcja 26</Name>
      <Name Culture="pl-pl"> Lekcja 26</Name>
      <Name Culture="uk-ua"> Lekcja 26</Name>
    </NodeName>
    <SortOrder>177</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:45:49.363Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f89b7a52-fd5d-4975-b2ab-18b79201ffcd]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 26]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:13:16.495Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>