<?xml version="1.0" encoding="utf-8"?>
<Content Key="f649a071-bf69-43bc-b423-aa9113d138e9" Alias="Lekcja 5 (4)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja54</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Lekcja 5 (4)">
      <Name Culture="en-us">Lekcja 5 (4)</Name>
      <Name Culture="pl-pl">Lekcja 5 (4)</Name>
      <Name Culture="uk-ua">Lekcja 5 (4)</Name>
    </NodeName>
    <SortOrder>116</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-23T18:14:19.881Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[1fa5d032-2a8d-4bdf-8f83-11dbf62261b1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1722352292718.jpg?ts=1722352292920]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 5]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:05:22.382Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>