<?xml version="1.0" encoding="utf-8"?>
<Content Key="92d9ad92-84b8-41a0-aeff-2b413eeec2be" Alias="Lekcja 10 (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja102</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:42</CreateDate>
    <NodeName Default="Lekcja 10 (2)">
      <Name Culture="en-us">Lekcja 10 (2)</Name>
      <Name Culture="pl-pl">Lekcja 10 (2)</Name>
      <Name Culture="uk-ua">Lekcja 10 (2)</Name>
    </NodeName>
    <SortOrder>51</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-18T11:01:18.801Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f6e7ff66-7fcc-4204-9245-2b959d477524]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721391203520.jpg?ts=1721391203885]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 10]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:27:29.698Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>