<?xml version="1.0" encoding="utf-8"?>
<Content Key="0455bee7-62eb-4c0a-8eb9-83aab557ce98" Alias="Lekcja 4 (3)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja43</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:45</CreateDate>
    <NodeName Default="Lekcja 4 (3)">
      <Name Culture="en-us">Lekcja 4 (3)</Name>
      <Name Culture="pl-pl">Lekcja 4 (3)</Name>
      <Name Culture="uk-ua">Lekcja 4 (3)</Name>
    </NodeName>
    <SortOrder>90</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-26T00:48:33.833Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[1cd2d998-b796-43b9-865e-dd3cec0177e3]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 4]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:50:04.013Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>