<?xml version="1.0" encoding="utf-8"?>
<Content Key="097b0493-e65b-4401-b1ad-73b6bf3513ef" Alias="Lekcja 2 (2)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja22</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:41</CreateDate>
    <NodeName Default="Lekcja 2 (2)">
      <Name Culture="en-us">Lekcja 2 (2)</Name>
      <Name Culture="pl-pl">Lekcja 2 (2)</Name>
      <Name Culture="uk-ua">Lekcja 2 (2)</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:00:16.558Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[ed95a082-b072-418e-ba54-916621408a34]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721086202426.jpg?ts=1721086202834]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 2]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:28:38.074Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>