<?xml version="1.0" encoding="utf-8"?>
<Content Key="df384c6e-c7f1-42cc-b02e-e9c5688ae33a" Alias="Lekcja 8" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja8</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:41</CreateDate>
    <NodeName Default="Lekcja 8">
      <Name Culture="en-us">Lekcja 8</Name>
      <Name Culture="pl-pl">Lekcja 8</Name>
      <Name Culture="uk-ua">Lekcja 8</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-10T08:35:21.622Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[3b5ae598-a0f0-4db7-8c42-4b30b8c3a936]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 8]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:12:32.769Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>