<?xml version="1.0" encoding="utf-8"?>
<Content Key="613f6311-9e2c-43eb-a744-bacc9caedd60" Alias=" Lekcja 30" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja30</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:49</CreateDate>
    <NodeName Default=" Lekcja 30">
      <Name Culture="en-us"> Lekcja 30</Name>
      <Name Culture="pl-pl"> Lekcja 30</Name>
      <Name Culture="uk-ua"> Lekcja 30</Name>
    </NodeName>
    <SortOrder>160</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:46:01.174Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2bf59362-6516-4641-be82-dd258ffdd9b0]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[ Lekcja 30]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:11:04.956Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>