<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7578f8a-45cd-4727-a051-b50da2d2970a" Alias="Lekcja 7 (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Lekcja71</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:43</CreateDate>
    <NodeName Default="Lekcja 7 (1)">
      <Name Culture="en-us">Lekcja 7 (1)</Name>
      <Name Culture="pl-pl">Lekcja 7 (1)</Name>
      <Name Culture="uk-ua">Lekcja 7 (1)</Name>
    </NodeName>
    <SortOrder>57</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:06:19.634Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[8db4e0fe-75a6-45f0-98d5-20b7911d8595]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1721094556909.jpg?ts=1721094557123]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Lekcja 7]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:36:07.836Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>