<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf6d3861-f098-4faa-9642-f36b402347c8" Alias="Liczebniki" Level="5">
  <Info>
    <Parent Key="442c8f49-836e-4e64-bd99-122a43668b22">English</Parent>
    <Path>/HomePage/Material/English/English/Liczebniki</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:39</CreateDate>
    <NodeName Default="Liczebniki">
      <Name Culture="en-us">Liczebniki</Name>
      <Name Culture="pl-pl">Liczebniki</Name>
      <Name Culture="uk-ua">Liczebniki</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-06-27T04:59:03.685Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[fa3dd24b-01c8-4ea3-b930-a082f29e4c95]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1719464343196.jpg?ts=1719464343610]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#children
#english
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Liczebniki]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:59:02.301Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>