<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d8f58f3-53eb-466d-b70b-4a756ee40020" Alias="Lifestyle" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/Lifestyle</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategoryPage</ContentType>
    <CreateDate>2024-07-22T12:35:29</CreateDate>
    <NodeName Default="Lifestyle">
      <Name Culture="en-us">Lifestyle</Name>
      <Name Culture="pl-pl">Styl życia</Name>
      <Name Culture="uk-ua">Спосіб життя</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="f8892e90-1933-4e09-951a-3e0c9499050d">BlogCategoryPage</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[[
  "Lifestyle"
]]]></Value>
    </tCategory>
    <tChildBorder>
      <Value><![CDATA[1]]></Value>
    </tChildBorder>
    <tDecors>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f8e80289959f45b2861b283c8764d92a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/f8e80289959f45b2861b283c8764d92a",
      "tType": [
        "points"
      ],
      "tTypeNumber": "1",
      "tAbove": "0",
      "tStyle": [
        "orange"
      ],
      "tDash": "1",
      "tSpeed": "40",
      "tDirection": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[
  {
    "key": "9fc705f1-e176-443b-b843-4ac0f97c0c3d",
    "mediaKey": "10b17942-69a1-471d-a09b-aab5d6cc36dc"
  }
]]]></Value>
    </tImage>
    <tPageSize>
      <Value><![CDATA[12]]></Value>
    </tPageSize>
    <tTitle>
      <Value Culture="en-us"><![CDATA[Lifestyle]]></Value>
      <Value Culture="pl-pl"><![CDATA[Styl życia]]></Value>
      <Value Culture="uk-ua"><![CDATA[Спосіб життя]]></Value>
    </tTitle>
  </Properties>
</Content>