<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dd8e29b-8297-405b-afaa-6608e77e70f8" Alias="Materials" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/Materials</Path>
    <Trashed>false</Trashed>
    <ContentType>blockGridPage</ContentType>
    <CreateDate>2024-04-22T09:10:47</CreateDate>
    <NodeName Default="Materials">
      <Name Culture="en-us">Materials</Name>
      <Name Culture="pl-pl">Materiałów</Name>
      <Name Culture="uk-ua">Матеріали</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="167faab7-bb86-47aa-b7a8-19d5a6bd4715">BlockGridPage</Template>
  </Info>
  <Properties>
    <tBlockGridPage>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c6e73dbc1f3e492b8d3564907b4a9482",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4197652e222149c695a912315b80bfc8",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/164e6dd185724691851cc3f0517c424a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/c6e73dbc1f3e492b8d3564907b4a9482",
      "tTitle": "Materials",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/21dcb8c996f94bbcbf039d968b181c5b",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/f6ba4f9dd4dc4cf888172aa14611fe20",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/21dcb8c996f94bbcbf039d968b181c5b",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/f6ba4f9dd4dc4cf888172aa14611fe20",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/4197652e222149c695a912315b80bfc8",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/e0d5eaec24ed4ab6b3da67ef294282e2",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/cb1a79b69e384a26b55d19d652882392",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/71738e91f4c74df79294c1bd660a3bcd",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/7bb00389363049439e264230b064f066",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/e0d5eaec24ed4ab6b3da67ef294282e2",
            "tName": "subject",
            "tPlaceholder": "Subject",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/5228461ea63f4ae9beb399e9e537a42e"
                  },
                  {
                    "contentUdi": "umb://element/eb3302629549403daca185a0e2542cc4"
                  },
                  {
                    "contentUdi": "umb://element/200c39230f994a95b2342c363dca18b9"
                  },
                  {
                    "contentUdi": "umb://element/cb0a287d58864c96bdd2e98d69173487"
                  },
                  {
                    "contentUdi": "umb://element/a5f9c1f3dfda4610976c19421b390773"
                  },
                  {
                    "contentUdi": "umb://element/7ffecf0d854248289dc5d1df8864ea94"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5228461ea63f4ae9beb399e9e537a42e",
                  "tKey": "Polish",
                  "tValue": "Polish"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/eb3302629549403daca185a0e2542cc4",
                  "tKey": "English",
                  "tValue": "English"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/200c39230f994a95b2342c363dca18b9",
                  "tKey": "Spanish",
                  "tValue": "Spanish"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/cb0a287d58864c96bdd2e98d69173487",
                  "tKey": "Biolody",
                  "tValue": "Biolody"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a5f9c1f3dfda4610976c19421b390773",
                  "tKey": "Ukrainian",
                  "tValue": "Ukrainian"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/7ffecf0d854248289dc5d1df8864ea94",
                  "tKey": "French",
                  "tValue": "French"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/cb1a79b69e384a26b55d19d652882392",
            "tName": "grade",
            "tPlaceholder": "Grade",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/130b122fb08548f6a5a25bb69c1fb549"
                  },
                  {
                    "contentUdi": "umb://element/ad0b7c660a8f4e21b368eb8ad567fdf4"
                  },
                  {
                    "contentUdi": "umb://element/a10af231cab64e7b87d760dbf00f6755"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/130b122fb08548f6a5a25bb69c1fb549",
                  "tKey": "adults",
                  "tValue": "adults"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ad0b7c660a8f4e21b368eb8ad567fdf4",
                  "tKey": "teens",
                  "tValue": "teens"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a10af231cab64e7b87d760dbf00f6755",
                  "tKey": "children",
                  "tValue": "children"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/71738e91f4c74df79294c1bd660a3bcd",
            "tName": "level",
            "tPlaceholder": "Level",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/eee7af741d3546cb8c8699a9e3a817cc"
                  },
                  {
                    "contentUdi": "umb://element/35fff749ceb543a0bc1046762cb96492"
                  },
                  {
                    "contentUdi": "umb://element/994002b4c9f447d29ace0ca8b263ff4e"
                  },
                  {
                    "contentUdi": "umb://element/5a5f7a60994e499ab2bb5cc7f5e53e3f"
                  },
                  {
                    "contentUdi": "umb://element/fb48bfb5d5034b44abbd366284c5266a"
                  },
                  {
                    "contentUdi": "umb://element/8fe07162870a4116afb7dd854cf1db7f"
                  },
                  {
                    "contentUdi": "umb://element/6cd66599567f43c385f05fc66bc99681"
                  },
                  {
                    "contentUdi": "umb://element/0a40500ec5684684ae74a79c55db7fb4"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/eee7af741d3546cb8c8699a9e3a817cc",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Beginner)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/35fff749ceb543a0bc1046762cb96492",
                  "tKey": "A2 (Pre-Intermediate)",
                  "tValue": "A2 (Pre-Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/994002b4c9f447d29ace0ca8b263ff4e",
                  "tKey": "A2 - B1 (Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Pre-Int./Int.)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5a5f7a60994e499ab2bb5cc7f5e53e3f",
                  "tKey": "B1 (Intermediate)",
                  "tValue": "B1 (Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/fb48bfb5d5034b44abbd366284c5266a",
                  "tKey": "B1 - B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Int./Upper Int.)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/8fe07162870a4116afb7dd854cf1db7f",
                  "tKey": "B2 (Upper Intermediate)",
                  "tValue": "B2 (Upper Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/6cd66599567f43c385f05fc66bc99681",
                  "tKey": "B2 - C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Upper Int./Advanced)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/0a40500ec5684684ae74a79c55db7fb4",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Advanced)"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/7bb00389363049439e264230b064f066",
            "tName": "sort",
            "tPlaceholder": "Sort by",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/8196ddf80ee04f93a18db52ee0744a1c"
                  },
                  {
                    "contentUdi": "umb://element/5566d4b9efd3463c81de86ad1b82b317"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/8196ddf80ee04f93a18db52ee0744a1c",
                  "tKey": "Number of use",
                  "tValue": "Number of use"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5566d4b9efd3463c81de86ad1b82b317",
                  "tKey": "Date of release/update",
                  "tValue": "Date of release/update"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tArticleUrl": [
        {
          "name": "Material acticle",
          "udi": "umb://document/56759070e47945f9b96ac2a5a5addefe"
        }
      ],
      "tNotFoundMessage": "Materials not found",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials"
    },
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/164e6dd185724691851cc3f0517c424a",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/c4a88e525d8c41ffa995cd5d92ce95ef",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/c4a88e525d8c41ffa995cd5d92ce95ef",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d9bc37c4df1141e08320a1dafe0034f6"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/d9bc37c4df1141e08320a1dafe0034f6",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPhoneInput": "1",
            "tMessageInput": "0"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Make a request",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/e47a527fe45b44e5ae9339c3b9de02f9",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/e47a527fe45b44e5ae9339c3b9de02f9",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e188e074b9d34cfbbe63c8c8c8abc300"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/30ea86c40bc6432fbf7520d3d99aac09"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f2549c7d8a044aaaaee2288ffe1d5f92"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/e188e074b9d34cfbbe63c8c8c8abc300",
      "tTitle": "Materiałów",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/7be9513956a947408171287bd8117148",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/48adb2fd5ad54d93ace7fde2418846d4",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/7be9513956a947408171287bd8117148",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/48adb2fd5ad54d93ace7fde2418846d4",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/30ea86c40bc6432fbf7520d3d99aac09",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/7a134661c7cc4689997fe7c3b1d96de5",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/fe3518e58d004718a1959696d94b5e19",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/7c8df3e13cd340f08ae0cca6a01a4360",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/68c309a10e1e4d83a9ce4246bf7940ce",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/7a134661c7cc4689997fe7c3b1d96de5",
            "tName": "subject",
            "tPlaceholder": "Temat",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/80600722a5744d18b052ca5d68ecd147"
                  },
                  {
                    "contentUdi": "umb://element/26e7c8b8de404cd6a201a36c225aab19"
                  },
                  {
                    "contentUdi": "umb://element/ef9b74d7b1db45afb97f1cfe3ea886dc"
                  },
                  {
                    "contentUdi": "umb://element/b2edbc88d8f94d979fd98fa7dd76c435"
                  },
                  {
                    "contentUdi": "umb://element/4d7f31d50be0423182eb262d896976f9"
                  },
                  {
                    "contentUdi": "umb://element/5bf388d69568490e86ad3265a43cb42f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/80600722a5744d18b052ca5d68ecd147",
                  "tKey": "Polish",
                  "tValue": "Polish"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/26e7c8b8de404cd6a201a36c225aab19",
                  "tKey": "English",
                  "tValue": "Angielski"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ef9b74d7b1db45afb97f1cfe3ea886dc",
                  "tKey": "Spanish",
                  "tValue": "Hiszpański"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/b2edbc88d8f94d979fd98fa7dd76c435",
                  "tKey": "Biolody",
                  "tValue": "Biolody"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/4d7f31d50be0423182eb262d896976f9",
                  "tKey": "Ukrainian",
                  "tValue": "Ukraiński"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5bf388d69568490e86ad3265a43cb42f",
                  "tKey": "French",
                  "tValue": "Francuski"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/fe3518e58d004718a1959696d94b5e19",
            "tName": "grade",
            "tPlaceholder": "Klasy",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/107930d5498b49e19407dadddd23d60f"
                  },
                  {
                    "contentUdi": "umb://element/945fd15158b54d8bbe67f2f5f4fee939"
                  },
                  {
                    "contentUdi": "umb://element/44362215bb2142f5b0cd8f3c3d89e202"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/107930d5498b49e19407dadddd23d60f",
                  "tKey": "adults",
                  "tValue": "dorośli"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/945fd15158b54d8bbe67f2f5f4fee939",
                  "tKey": "teens",
                  "tValue": "nastolatki"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/44362215bb2142f5b0cd8f3c3d89e202",
                  "tKey": "children",
                  "tValue": "dzieci"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/7c8df3e13cd340f08ae0cca6a01a4360",
            "tName": "level",
            "tPlaceholder": "Poziom",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/bd6332e4b504401c91c9dd8330040114"
                  },
                  {
                    "contentUdi": "umb://element/53725b6f35a14bc489a7bc16a1c0cc3a"
                  },
                  {
                    "contentUdi": "umb://element/94ccf7f6b5ab4d6e8c430c6317828c59"
                  },
                  {
                    "contentUdi": "umb://element/6f84643968dd4ae583dbb0a1845c4907"
                  },
                  {
                    "contentUdi": "umb://element/ffaa390af425470c82d1020fc4c83830"
                  },
                  {
                    "contentUdi": "umb://element/5a5bcfdacbd2452cba0f9c976a016b12"
                  },
                  {
                    "contentUdi": "umb://element/da31e0b22dc94a11aa4711d2ac9663cc"
                  },
                  {
                    "contentUdi": "umb://element/e5aa48766d7444eb84015bdbc9e843ac"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/bd6332e4b504401c91c9dd8330040114",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Początkujący)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/53725b6f35a14bc489a7bc16a1c0cc3a",
                  "tKey": "A2 (Pre-Intermediate)",
                  "tValue": "A2 (Średniozaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/94ccf7f6b5ab4d6e8c430c6317828c59",
                  "tKey": "A2 - B1 (Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Średniozaawansowany/Średnio zaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/6f84643968dd4ae583dbb0a1845c4907",
                  "tKey": "B1 (Intermediate)",
                  "tValue": "B1 (Średniozaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ffaa390af425470c82d1020fc4c83830",
                  "tKey": "B1 - B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Średniozaawansowany/Upper Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5a5bcfdacbd2452cba0f9c976a016b12",
                  "tKey": "B2 (Upper Intermediate)",
                  "tValue": "B2 (Zaawansowany średnio)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/da31e0b22dc94a11aa4711d2ac9663cc",
                  "tKey": "B2 - C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Zaawansowany średnio/zaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e5aa48766d7444eb84015bdbc9e843ac",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Zaawansowany)"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/68c309a10e1e4d83a9ce4246bf7940ce",
            "tName": "sort",
            "tPlaceholder": "Sortuj według",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/828fcc8cf1884b5f800a80bc40e19750"
                  },
                  {
                    "contentUdi": "umb://element/c18957db198c4fe38475092a438f429a"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/828fcc8cf1884b5f800a80bc40e19750",
                  "tKey": "Number of use",
                  "tValue": "Liczba użytkowników"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/c18957db198c4fe38475092a438f429a",
                  "tKey": "Date of release/update",
                  "tValue": "Data wydania/aktualizacji"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tArticleUrl": [
        {
          "name": "Material acticle",
          "udi": "umb://document/56759070e47945f9b96ac2a5a5addefe"
        }
      ],
      "tNotFoundMessage": "Nie znaleziono materiałów",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials"
    },
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/f2549c7d8a044aaaaee2288ffe1d5f92",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/8b5f6e82b072446b8cd6a248ff7790b9",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/8b5f6e82b072446b8cd6a248ff7790b9",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/7795288380ab4c708f3b29090021f28e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/7795288380ab4c708f3b29090021f28e",
                  "tButtonTitle": "Wysłać",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tMessageInput": "0",
            "tPhoneInput": "1"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Złóż wniosek",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/fe0aeea4238643a38c07e350240d1736",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/fe0aeea4238643a38c07e350240d1736",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/48df0ebb3b4644a0b4e7f42957fd931e"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e581b46f43a6419ca2aca3c47398ae84"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/1906ae538e644c868c958ea746b3e9fc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/48df0ebb3b4644a0b4e7f42957fd931e",
      "tTitle": "Матеріали",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/e33ef64088614efa9a038ee1fba2966d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/166e8c6340984e9cbf9eb45e9e7cc43f",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/e33ef64088614efa9a038ee1fba2966d",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/166e8c6340984e9cbf9eb45e9e7cc43f",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/e581b46f43a6419ca2aca3c47398ae84",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/5df08458de7b4fd6aaa4474516e12f69",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/3ee28b7341454efab8264196f4c5ebba",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/ae1d84f8d2f64228b320fdf53c0e5f0e",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/ba4d4ddc1c7e4717ad5e749be46158db",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/5df08458de7b4fd6aaa4474516e12f69",
            "tName": "subject",
            "tPlaceholder": "Предмети",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/808562ab075b436ebc210493e2f51203"
                  },
                  {
                    "contentUdi": "umb://element/47513a253771486d8092b36dbd2fef90"
                  },
                  {
                    "contentUdi": "umb://element/2d300d1ba1464bb5a02e69cb59e6b745"
                  },
                  {
                    "contentUdi": "umb://element/863f661ed63e4f6d934836c8e8c8f187"
                  },
                  {
                    "contentUdi": "umb://element/2f203843fe7146d0b3d498f1ae073dfa"
                  },
                  {
                    "contentUdi": "umb://element/e8e86beee05740bb866c6d289caabef6"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/808562ab075b436ebc210493e2f51203",
                  "tKey": "Polish",
                  "tValue": "Польська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/47513a253771486d8092b36dbd2fef90",
                  "tKey": "English",
                  "tValue": "Англійська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/2d300d1ba1464bb5a02e69cb59e6b745",
                  "tKey": "Spanish",
                  "tValue": "Іспанська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/863f661ed63e4f6d934836c8e8c8f187",
                  "tKey": "Biolody",
                  "tValue": "Biolody"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/2f203843fe7146d0b3d498f1ae073dfa",
                  "tKey": "Ukrainian",
                  "tValue": "Українська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e8e86beee05740bb866c6d289caabef6",
                  "tKey": "French",
                  "tValue": "Французька"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/3ee28b7341454efab8264196f4c5ebba",
            "tName": "grade",
            "tPlaceholder": "Вікова група",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/817217eb75fa4187af095dcfc95a38c2"
                  },
                  {
                    "contentUdi": "umb://element/46a8757b6c224130b2dd629d806f362b"
                  },
                  {
                    "contentUdi": "umb://element/8801bb387eb342ebbc8ab6ad6bea8c96"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/817217eb75fa4187af095dcfc95a38c2",
                  "tKey": "adults",
                  "tValue": "дорослі"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/46a8757b6c224130b2dd629d806f362b",
                  "tKey": "teens",
                  "tValue": "підлітки"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/8801bb387eb342ebbc8ab6ad6bea8c96",
                  "tKey": "children",
                  "tValue": "діти"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/ae1d84f8d2f64228b320fdf53c0e5f0e",
            "tName": "level",
            "tPlaceholder": "Рівень",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/bfd002eb7635404c9ab330c5c9ba5dfe"
                  },
                  {
                    "contentUdi": "umb://element/7c708ff63d2742eeb91ad3ba506bb1c0"
                  },
                  {
                    "contentUdi": "umb://element/ce0d70bf957a47e3bf474c0bdfd9ffdc"
                  },
                  {
                    "contentUdi": "umb://element/4573d5e7bb4147e99b4cf3bc0faf4ac6"
                  },
                  {
                    "contentUdi": "umb://element/04101d67be3f4b1286efedd68cd60e37"
                  },
                  {
                    "contentUdi": "umb://element/366c46db29e54a908a45ef455fd876e5"
                  },
                  {
                    "contentUdi": "umb://element/bb63e521d73d4fbbb77994e1aa29c8e7"
                  },
                  {
                    "contentUdi": "umb://element/babd840154fc4c2da4cc8253e2e51ee6"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/bfd002eb7635404c9ab330c5c9ba5dfe",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Початковий рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/7c708ff63d2742eeb91ad3ba506bb1c0",
                  "tKey": "A2 (Pre-Intermediate)",
                  "tValue": "A2 (Проміжний рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ce0d70bf957a47e3bf474c0bdfd9ffdc",
                  "tKey": "A2 - B1 (Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Проміжний/Початково-середній рівні)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/4573d5e7bb4147e99b4cf3bc0faf4ac6",
                  "tKey": "B1 (Intermediate)",
                  "tValue": "B1 (Середній рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/04101d67be3f4b1286efedd68cd60e37",
                  "tKey": "B1 - B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Середній/Вищий середній рівні)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/366c46db29e54a908a45ef455fd876e5",
                  "tKey": "B2 (Upper Intermediate)",
                  "tValue": "B2 (Вищий середній рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/bb63e521d73d4fbbb77994e1aa29c8e7",
                  "tKey": "B2 - C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Вищий середній/Високий рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/babd840154fc4c2da4cc8253e2e51ee6",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Високий рівень)"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/ba4d4ddc1c7e4717ad5e749be46158db",
            "tName": "sort",
            "tPlaceholder": "Сортувати за",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/1d4d62d376b84148b4a39fafad112eb6"
                  },
                  {
                    "contentUdi": "umb://element/e620a154cb65428e99b36b1c0d6aedab"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/1d4d62d376b84148b4a39fafad112eb6",
                  "tKey": "Number of use",
                  "tValue": "Кількість користувачів"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e620a154cb65428e99b36b1c0d6aedab",
                  "tKey": "Date of release/update",
                  "tValue": "Дата випуску/оновлення"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tArticleUrl": [
        {
          "name": "Material acticle",
          "udi": "umb://document/56759070e47945f9b96ac2a5a5addefe"
        }
      ],
      "tNotFoundMessage": "Матеріали не знайдені",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials"
    },
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/1906ae538e644c868c958ea746b3e9fc",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/3930ff99eae34231aad3274ac7eb008a",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/3930ff99eae34231aad3274ac7eb008a",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/84fae9c1642c4b84a61d19a62580b5a6"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/84fae9c1642c4b84a61d19a62580b5a6",
                  "tButtonTitle": "Надіслати",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tMessageInput": "0",
            "tPhoneInput": "1"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Зробіть запит",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/22f822d691eb4a04902e3692aa1e92ed",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/22f822d691eb4a04902e3692aa1e92ed",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tBlockGridPage>
    <tPadding>
      <Value><![CDATA[0]]></Value>
    </tPadding>
  </Properties>
</Content>