<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bc59210-b531-45f6-a4be-9f4e072660ee" Alias="Material" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/Material</Path>
    <Trashed>false</Trashed>
    <ContentType>materialPage</ContentType>
    <CreateDate>2024-06-21T10:10:19</CreateDate>
    <NodeName Default="Material">
      <Name Culture="en-us">Material</Name>
      <Name Culture="pl-pl">Materiał</Name>
      <Name Culture="uk-ua">Матеріали</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="8d1a7344-caf4-4f03-932f-108c9d068059">MaterialPage</Template>
  </Info>
  <Properties>
    <tAction>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e433f3f62fde4b8998d70bc98384e4cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/e433f3f62fde4b8998d70bc98384e4cd",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/0fad8b9c1aa5416899e9fcd5e78f7a50",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/0fad8b9c1aa5416899e9fcd5e78f7a50",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/bb429c6e4f5c4c2da49281c12bbed7d9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/bb429c6e4f5c4c2da49281c12bbed7d9",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPhoneInput": "1",
            "tMessageInput": "0"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Make a request",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/f9df383464f542709f000a945637936f",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/f9df383464f542709f000a945637936f",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/b04ccacaaa264aa3b6305f5691c709ef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/b04ccacaaa264aa3b6305f5691c709ef",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/2b24b5c69826450f84f47c9f73590603",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/2b24b5c69826450f84f47c9f73590603",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d23812225b6c467aa0c21b1827513968"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/d23812225b6c467aa0c21b1827513968",
                  "tButtonTitle": "Wysłać",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tMessageInput": "0",
            "tPhoneInput": "1"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Złóż wniosek",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/012b7f248dd946c8a52d34bdf79c44a6",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/012b7f248dd946c8a52d34bdf79c44a6",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/8eb4d37dbb6144e38e3d6663448e135f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/8eb4d37dbb6144e38e3d6663448e135f",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/177473ee551b4df0a59e0c8d366163f2",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/177473ee551b4df0a59e0c8d366163f2",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/dbe9797263ba454bbf301ad048c19c8e"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/dbe9797263ba454bbf301ad048c19c8e",
                  "tButtonTitle": "Надіслати",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tMessageInput": "0",
            "tPhoneInput": "1"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Зробіть запит",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/bf511f1dec854aac85559ea1a389e59b",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/bf511f1dec854aac85559ea1a389e59b",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tAction>
    <tArticleApiUrl>
      <Value><![CDATA[https://app.tutorpro.pl/web-component/index-web-component]]></Value>
    </tArticleApiUrl>
    <tArticleContentWidth>
      <Value><![CDATA[0]]></Value>
    </tArticleContentWidth>
    <tDecors>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ae9277bd405a472aa42e7f336fdd43f3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/feadf0be600949e0a2a324b94793187b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/ae9277bd405a472aa42e7f336fdd43f3",
      "tType": [
        "circle"
      ],
      "tTypeNumber": "",
      "tAbove": "0",
      "tStyle": [
        "orange"
      ],
      "tDash": "0",
      "tSpeed": "40",
      "tDirection": "0"
    },
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/feadf0be600949e0a2a324b94793187b",
      "tType": [
        "ring"
      ],
      "tTypeNumber": "",
      "tAbove": "0",
      "tStyle": [
        "green"
      ],
      "tDash": "0",
      "tSpeed": "25",
      "tDirection": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </tDecors>
    <tInnerTop>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ce4e06a1a44143c39e900571c920b770"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/ce4e06a1a44143c39e900571c920b770",
      "tTitle": "Materials",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/3b355a43107e487da8d77fbbc55f2af1",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/feea64deaaa5432981c4ea29b284a1a9",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/3b355a43107e487da8d77fbbc55f2af1",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/feea64deaaa5432981c4ea29b284a1a9",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f5f055eb8eec4e0aaf85ed99924d185b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/f5f055eb8eec4e0aaf85ed99924d185b",
      "tTitle": "Materiały",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/a779c9dae4c84ecd9589352027babe65",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/a33bfc75f09f4fb8b5025f0807bb6e20",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/a779c9dae4c84ecd9589352027babe65",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/a33bfc75f09f4fb8b5025f0807bb6e20",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/27b77f79a66f44f89394e6682792e7ae"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/27b77f79a66f44f89394e6682792e7ae",
      "tTitle": "Матеріали",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/3b924d2228d94431b97323fb09c718a0",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/c56b4f1485204a97af5cf615e6b73192",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/3b924d2228d94431b97323fb09c718a0",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/c56b4f1485204a97af5cf615e6b73192",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tInnerTop>
    <tMaterialFilters>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a599b9828c9946b8b6e6a164a222c80f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/a599b9828c9946b8b6e6a164a222c80f",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/44d961424dc849558115afbef6e4674b",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/2ed1135144c74d288cf8a75ccab619ed",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/44d961424dc849558115afbef6e4674b",
            "tName": "grade",
            "tPlaceholder": "Grade",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/6617fef6aa86479b941103e395c47a8b"
                  },
                  {
                    "contentUdi": "umb://element/d3b0a60745004f87b1c8f703e7ddfad2"
                  },
                  {
                    "contentUdi": "umb://element/f3c7258283324f7385fda1c318ffdd41"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/6617fef6aa86479b941103e395c47a8b",
                  "tKey": "#adults",
                  "tValue": "adults"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/d3b0a60745004f87b1c8f703e7ddfad2",
                  "tKey": "#teens",
                  "tValue": "teens"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/f3c7258283324f7385fda1c318ffdd41",
                  "tKey": "#children",
                  "tValue": "children"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/2ed1135144c74d288cf8a75ccab619ed",
            "tName": "level",
            "tPlaceholder": "Level",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/3f7e3777b6724b10a9cb665b1af4c210"
                  },
                  {
                    "contentUdi": "umb://element/64d0284579c74b8d866d0fa6f936bf76"
                  },
                  {
                    "contentUdi": "umb://element/25d375c0d8344232b587ea076618294d"
                  },
                  {
                    "contentUdi": "umb://element/f297ab51610947be9aa7b7bae8753d4c"
                  },
                  {
                    "contentUdi": "umb://element/320d51a7eb914b149e001af0e9b730a5"
                  },
                  {
                    "contentUdi": "umb://element/11df2e7c89214d8ca27ebcf4d1665714"
                  },
                  {
                    "contentUdi": "umb://element/b2725f5abf784f0c873c9fbccc162fca"
                  },
                  {
                    "contentUdi": "umb://element/d5a96ce896094c15b6f01d78519ed98f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/3f7e3777b6724b10a9cb665b1af4c210",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Beginner)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/64d0284579c74b8d866d0fa6f936bf76",
                  "tKey": "A2 (Pre-Int.)",
                  "tValue": "A2 (Pre-Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/25d375c0d8344232b587ea076618294d",
                  "tKey": "A2-B1(Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Pre-Int./Int.)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/f297ab51610947be9aa7b7bae8753d4c",
                  "tKey": "B1(Int.)",
                  "tValue": "B1 (Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/320d51a7eb914b149e001af0e9b730a5",
                  "tKey": "B1-B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Int./Upper Int.)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/11df2e7c89214d8ca27ebcf4d1665714",
                  "tKey": "B2 (Upper Int.)",
                  "tValue": "B2 (Upper Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/b2725f5abf784f0c873c9fbccc162fca",
                  "tKey": "B2-C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Upper Int./Advanced)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/d5a96ce896094c15b6f01d78519ed98f",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Advanced)"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tNotFoundMessage": "Materials not found",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials",
      "tSearchDelay": "500",
      "tSortFilter": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1,
              "contentUdi": "umb://element/e6db99cd2b73418aa5f62e02b848aa68"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/e6db99cd2b73418aa5f62e02b848aa68",
            "tName": "sort",
            "tPlaceholder": "Sort by",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d0126a6a8b71470fb4f67fe7e75279bc"
                  },
                  {
                    "contentUdi": "umb://element/e49e8ee5384b47bc9b3d3961abb42597"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/d0126a6a8b71470fb4f67fe7e75279bc",
                  "tKey": "1",
                  "tValue": "Number of use"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e49e8ee5384b47bc9b3d3961abb42597",
                  "tKey": "2",
                  "tValue": "Date of release/update"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/67932eed51ac4231a18425fe17ec6c7b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/67932eed51ac4231a18425fe17ec6c7b",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/9c1e56d2ce8848c892d4fe9c151fc343",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/fdd83ec061be49e78df37c9065811284",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/9c1e56d2ce8848c892d4fe9c151fc343",
            "tName": "grade",
            "tPlaceholder": "Klasy",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/745a6a93c6bc46c192b6d58f82fc85e8"
                  },
                  {
                    "contentUdi": "umb://element/dd385c34cc7c482c8956e350723fb8b4"
                  },
                  {
                    "contentUdi": "umb://element/a93c3febfa954ad19dd5c3e0da93cd26"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/745a6a93c6bc46c192b6d58f82fc85e8",
                  "tKey": "#adults",
                  "tValue": "dorośli"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/dd385c34cc7c482c8956e350723fb8b4",
                  "tKey": "#teens",
                  "tValue": "nastolatki"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a93c3febfa954ad19dd5c3e0da93cd26",
                  "tKey": "#children",
                  "tValue": "dzieci"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/fdd83ec061be49e78df37c9065811284",
            "tName": "level",
            "tPlaceholder": "Poziom",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/809cbba06f594fb28e8aecb7947ec43c"
                  },
                  {
                    "contentUdi": "umb://element/b206e5e4d1014aa9ab951b403165d041"
                  },
                  {
                    "contentUdi": "umb://element/76c3249b6b1d4fe38552f31863a67dea"
                  },
                  {
                    "contentUdi": "umb://element/a12fe04645c84405a34480adb252bd69"
                  },
                  {
                    "contentUdi": "umb://element/59e9ac5dab7a4e3a9e03539bfd05103d"
                  },
                  {
                    "contentUdi": "umb://element/f953f1655208463fa9f1540a7169910c"
                  },
                  {
                    "contentUdi": "umb://element/5fbf866413c14429ae8bbcc4a1f72012"
                  },
                  {
                    "contentUdi": "umb://element/1b3feda277b34843822ae6ac724a76db"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/809cbba06f594fb28e8aecb7947ec43c",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Początkujący)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/b206e5e4d1014aa9ab951b403165d041",
                  "tKey": "A2 (Pre-Int.)",
                  "tValue": "A2 (Średniozaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/76c3249b6b1d4fe38552f31863a67dea",
                  "tKey": "A2-B1(Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Średniozaawansowany/Średnio zaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a12fe04645c84405a34480adb252bd69",
                  "tKey": "B1(int.)",
                  "tValue": "B1 (Średniozaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/59e9ac5dab7a4e3a9e03539bfd05103d",
                  "tKey": "B1-B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Średniozaawansowany/Upper Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/f953f1655208463fa9f1540a7169910c",
                  "tKey": "B2 (Upper Int.)",
                  "tValue": "B2 (Zaawansowany średnio)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5fbf866413c14429ae8bbcc4a1f72012",
                  "tKey": "B2-C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Zaawansowany średnio/zaawansowany)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/1b3feda277b34843822ae6ac724a76db",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Zaawansowany)"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tNotFoundMessage": "Nie znaleziono materiałów",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials",
      "tSearchDelay": "500",
      "tSortFilter": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1,
              "contentUdi": "umb://element/805d99ef15e541199025f087a349ba22"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/805d99ef15e541199025f087a349ba22",
            "tName": "sort",
            "tPlaceholder": "Sortuj według",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/eb9dd759d1364d91ada65a457a8bb72f"
                  },
                  {
                    "contentUdi": "umb://element/eec0c17c5ce04e8c90bdf6f9235627df"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/eb9dd759d1364d91ada65a457a8bb72f",
                  "tKey": "1",
                  "tValue": "Liczba użytkowników"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/eec0c17c5ce04e8c90bdf6f9235627df",
                  "tKey": "2",
                  "tValue": "Data wydania/aktualizacji"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/b454b85d8e6a4016b4137f62e314e5b9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/b454b85d8e6a4016b4137f62e314e5b9",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/b4ba15cb9da842a4a877f5627bdb3e8b",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/273ab4d6040245d2a02a2050dd0d317d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/b4ba15cb9da842a4a877f5627bdb3e8b",
            "tName": "grade",
            "tPlaceholder": "Вікова група",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/087e357085064d91bb0e26b27d0519f9"
                  },
                  {
                    "contentUdi": "umb://element/84b146eeca824e3eb7763c86c9980970"
                  },
                  {
                    "contentUdi": "umb://element/3b8278e1c1e04e91b5a73fabaa9f073d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/087e357085064d91bb0e26b27d0519f9",
                  "tKey": "#adults",
                  "tValue": "дорослі"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/84b146eeca824e3eb7763c86c9980970",
                  "tKey": "#teens",
                  "tValue": "підлітки"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/3b8278e1c1e04e91b5a73fabaa9f073d",
                  "tKey": "#children",
                  "tValue": "діти"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/273ab4d6040245d2a02a2050dd0d317d",
            "tName": "level",
            "tPlaceholder": "Рівень",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/54701b2b0eb6472fae62fe3a37c6d88e"
                  },
                  {
                    "contentUdi": "umb://element/93a2e7bb14074cc38396e9ccb90ee449"
                  },
                  {
                    "contentUdi": "umb://element/2c4f2babfff8474490f3f4eed63cf8f7"
                  },
                  {
                    "contentUdi": "umb://element/2c2f696cff70444ab9271c264fddf709"
                  },
                  {
                    "contentUdi": "umb://element/ec2bc9a64b62417ba0fe901d24e4b1a2"
                  },
                  {
                    "contentUdi": "umb://element/90489d321d284c0f9ab05c04c5be90e4"
                  },
                  {
                    "contentUdi": "umb://element/57ba2b1c1abb43f88a687c573ecea826"
                  },
                  {
                    "contentUdi": "umb://element/e0679971f0354e23899eecd3a9172c9d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/54701b2b0eb6472fae62fe3a37c6d88e",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Початковий рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/93a2e7bb14074cc38396e9ccb90ee449",
                  "tKey": "A2 (Pre-Int.)",
                  "tValue": "A2 (Проміжний рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/2c4f2babfff8474490f3f4eed63cf8f7",
                  "tKey": "A2-B1(Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Проміжний/Початково-середній рівні)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/2c2f696cff70444ab9271c264fddf709",
                  "tKey": "B1 (Int.)",
                  "tValue": "B1 (Середній рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ec2bc9a64b62417ba0fe901d24e4b1a2",
                  "tKey": "B1-B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Середній/Вищий середній рівні)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/90489d321d284c0f9ab05c04c5be90e4",
                  "tKey": "B2 (Upper Int.)",
                  "tValue": "B2 (Вищий середній рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/57ba2b1c1abb43f88a687c573ecea826",
                  "tKey": "B2-C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Вищий середній/Високий рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e0679971f0354e23899eecd3a9172c9d",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Високий рівень)"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tNotFoundMessage": "Матеріали не знайдені",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials",
      "tSearchDelay": "500",
      "tSortFilter": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1,
              "contentUdi": "umb://element/a7933ff8c31149dea85232a30f37cf36"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/a7933ff8c31149dea85232a30f37cf36",
            "tName": "sort",
            "tPlaceholder": "Сортувати за",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/13c23e4f804845e09efabb81d970fa10"
                  },
                  {
                    "contentUdi": "umb://element/589cde2a95e74127a3b48761a463ee99"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/13c23e4f804845e09efabb81d970fa10",
                  "tKey": "1",
                  "tValue": "Кількість користувачів"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/589cde2a95e74127a3b48761a463ee99",
                  "tKey": "2",
                  "tValue": "Дата випуску/оновлення"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tMaterialFilters>
  </Properties>
</Content>