<?xml version="1.0" encoding="utf-8"?>
<Content Key="56759070-e479-45f9-b96a-c2a5a5addefe" Alias="Material article" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/MaterialArticle</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-04-24T15:17:52</CreateDate>
    <NodeName Default="Material article">
      <Name Culture="en-us">Material article</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tAction>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/9caa80e18752493a949120d49f55aa05"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/9caa80e18752493a949120d49f55aa05",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/c7b11d08c5a5489c8d0cab6486d43981",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/c7b11d08c5a5489c8d0cab6486d43981",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/4daf3b4894cd4c6b8af4339b16129772"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/4daf3b4894cd4c6b8af4339b16129772",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPlaceholderForName": "Name",
            "tPlaceholderForEmail": "e-mail",
            "tPlaceholderForPhone": "phone number",
            "tPlaceholderForMessage": "",
            "tEmaiLList": ""
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Make a request",
      "tActionUrl": "/Umbraco/Api/Form/RequestForm",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/8b42df037c6242bb8d48c85f8da8cd9c",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/8b42df037c6242bb8d48c85f8da8cd9c",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tAction>
  </Properties>
</Content>