<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c8b3946-df37-4122-9718-c2ad9b645ec3" Alias="Material Page" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/MaterialPage</Path>
    <Trashed>false</Trashed>
    <ContentType>materialPage</ContentType>
    <CreateDate>2024-06-19T13:11:24</CreateDate>
    <NodeName Default="Material Page">
      <Name Culture="en-us">Material Page</Name>
      <Name Culture="pl-pl">Materiał strony</Name>
      <Name Culture="uk-ua">Сторінка матеріалів</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="8d1a7344-caf4-4f03-932f-108c9d068059">MaterialPage</Template>
  </Info>
  <Properties>
    <tAction>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/b2389ba502574458a06886f708e67232"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/b2389ba502574458a06886f708e67232",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/9ceecdcd1023450cbe000273466fdfd1",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/9ceecdcd1023450cbe000273466fdfd1",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/1fc8558cb4ff4bb89199f9a34aa36a3d"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/1fc8558cb4ff4bb89199f9a34aa36a3d",
                  "tButtonTitle": "Send",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tPhoneInput": "1",
            "tMessageInput": "0"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Make a request",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/f68214ce9b6c4a65babb7b42abca1b88",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/f68214ce9b6c4a65babb7b42abca1b88",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/c17cfc4613de4cf6ac9c908c75b090a1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d4bda567-51b6-4988-a9d5-7be04a94c096",
      "udi": "umb://element/c17cfc4613de4cf6ac9c908c75b090a1",
      "tCards": null,
      "tRequestBlock": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/77738d7d520e4abca3e9aa6c43708096",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "f75f3ec1-b7b5-4bdc-9c41-101e06fd14ff",
            "udi": "umb://element/77738d7d520e4abca3e9aa6c43708096",
            "tButton": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/53a46ae350fd45c5bab05a702f3a2d16"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "2592356d-7a47-4698-83fc-c3bf1a8b1160",
                  "udi": "umb://element/53a46ae350fd45c5bab05a702f3a2d16",
                  "tButtonTitle": "Надіслати",
                  "tFill": "1",
                  "tLink": null
                }
              ],
              "settingsData": []
            },
            "tCentered": "0",
            "tMessageInput": "0",
            "tPhoneInput": "1"
          }
        ],
        "settingsData": []
      },
      "tStyle": [
        "Matirials"
      ],
      "tTitle": "Зробіть запит",
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/1490e5d42fbb467482c570b4cf6f4f70",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/1490e5d42fbb467482c570b4cf6f4f70",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "green-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tAction>
    <tArticleApiUrl>
      <Value><![CDATA[https://app.tutorpro.pl/web-component/index-web-component]]></Value>
    </tArticleApiUrl>
    <tArticleContentWidth>
      <Value><![CDATA[800]]></Value>
    </tArticleContentWidth>
    <tDecors>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4505e1afcc7d41fda921f585d7fd636e"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/5ef35596794d4e219123648ed4d468ea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/4505e1afcc7d41fda921f585d7fd636e",
      "tType": [
        "circle"
      ],
      "tTypeNumber": "",
      "tAbove": "0",
      "tStyle": [
        "orange"
      ],
      "tDash": "0",
      "tSpeed": "40",
      "tDirection": "0"
    },
    {
      "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
      "udi": "umb://element/5ef35596794d4e219123648ed4d468ea",
      "tType": [
        "ring"
      ],
      "tTypeNumber": "",
      "tAbove": "0",
      "tStyle": [
        "green"
      ],
      "tDash": "0",
      "tSpeed": "25",
      "tDirection": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </tDecors>
    <tInnerTop>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/48ffa1d1300a415d8b0442b07969ea0f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/48ffa1d1300a415d8b0442b07969ea0f",
      "tTitle": "Materials",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1,
              "contentUdi": "umb://element/cf9d6d24a5da4472bbf73ea807a548cd"
            },
            {
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1,
              "contentUdi": "umb://element/82c77d8b51cb46588d09b15283b2b9b9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/cf9d6d24a5da4472bbf73ea807a548cd",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/82c77d8b51cb46588d09b15283b2b9b9",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a8f51a618dd04ca69b8c0554bc6be7bf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "db5b2a9a-b362-4833-b6a2-b024c1c80b5c",
      "udi": "umb://element/a8f51a618dd04ca69b8c0554bc6be7bf",
      "tTitle": "Матеріали",
      "tText": "",
      "tStyle": [
        "Matirials"
      ],
      "tDecors": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/c6dd3449d5a6439ea1cf4731aba26723",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/4dffff4c88fb4d9294b30c29ed0613c7",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/c6dd3449d5a6439ea1cf4731aba26723",
            "tType": [
              "points"
            ],
            "tTypeNumber": "1",
            "tAbove": "0",
            "tStyle": [
              "green"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          },
          {
            "contentTypeKey": "3b5d81d2-9e1c-46a7-9b42-3cbf942ed065",
            "udi": "umb://element/4dffff4c88fb4d9294b30c29ed0613c7",
            "tType": [
              "points"
            ],
            "tTypeNumber": "2",
            "tAbove": "0",
            "tStyle": [
              "orange-big"
            ],
            "tDash": "1",
            "tSpeed": "40",
            "tDirection": "0"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </tInnerTop>
    <tMaterialFilters>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e15fec16fc5f470eb52ff2d24e82b3fe"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/e15fec16fc5f470eb52ff2d24e82b3fe",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/e36fa316997b48928bd5c60975431626",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/2c219eb5ae0c4762bab74b40d419d236",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/b717ff7c30d74dd59a6ce149d72840ba",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/924cd83bc5c0497796c021ddcd66de74",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/e36fa316997b48928bd5c60975431626",
            "tName": "subject",
            "tPlaceholder": "Subject",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0e3b4ddcde3e4665a28977ac886e9e02"
                  },
                  {
                    "contentUdi": "umb://element/60acc77224fe471e8cc3841f10949e99"
                  },
                  {
                    "contentUdi": "umb://element/2d798f69a2324820a8c511e87b00c67f"
                  },
                  {
                    "contentUdi": "umb://element/75b7b10a9dc04d178fbac0d22c6924c0"
                  },
                  {
                    "contentUdi": "umb://element/7dd8255978024eaf92f12caabbf30754"
                  },
                  {
                    "contentUdi": "umb://element/6729965926d1405d992adef9e49c8a80"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/0e3b4ddcde3e4665a28977ac886e9e02",
                  "tKey": "Polish",
                  "tValue": "Polish"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/60acc77224fe471e8cc3841f10949e99",
                  "tKey": "English",
                  "tValue": "English"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/2d798f69a2324820a8c511e87b00c67f",
                  "tKey": "Spanish",
                  "tValue": "Spanish"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/75b7b10a9dc04d178fbac0d22c6924c0",
                  "tKey": "Biolody",
                  "tValue": "Biolody"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/7dd8255978024eaf92f12caabbf30754",
                  "tKey": "Ukrainian",
                  "tValue": "Ukrainian"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/6729965926d1405d992adef9e49c8a80",
                  "tKey": "French",
                  "tValue": "French"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/2c219eb5ae0c4762bab74b40d419d236",
            "tName": "grade",
            "tPlaceholder": "Grade",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/e74a072e1265477bb1320cf497226e9b"
                  },
                  {
                    "contentUdi": "umb://element/8d327d307b6443db9e3001e60fe0c6d6"
                  },
                  {
                    "contentUdi": "umb://element/c6881cae8eb7438686ff748df00b5328"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e74a072e1265477bb1320cf497226e9b",
                  "tKey": "adults",
                  "tValue": "adults"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/8d327d307b6443db9e3001e60fe0c6d6",
                  "tKey": "teens",
                  "tValue": "teens"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/c6881cae8eb7438686ff748df00b5328",
                  "tKey": "children",
                  "tValue": "children"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/b717ff7c30d74dd59a6ce149d72840ba",
            "tName": "level",
            "tPlaceholder": "Level",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/1f481436e6d843b6b4645a9bb00c7375"
                  },
                  {
                    "contentUdi": "umb://element/7e4cb97450654dcd996530c3e885eda3"
                  },
                  {
                    "contentUdi": "umb://element/6c83e8e2cf5744e1835b618534d9720f"
                  },
                  {
                    "contentUdi": "umb://element/6dfb9fcf285847539346d32b49356aa9"
                  },
                  {
                    "contentUdi": "umb://element/84b8eee963f54f35b029379d0cf7508b"
                  },
                  {
                    "contentUdi": "umb://element/1b9cfa72aad64d7d8e489206a673333f"
                  },
                  {
                    "contentUdi": "umb://element/4132096bec7e432bae044f9cafe7a2c7"
                  },
                  {
                    "contentUdi": "umb://element/330da608c3114b26ae5503ab724f639f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/1f481436e6d843b6b4645a9bb00c7375",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Beginner)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/7e4cb97450654dcd996530c3e885eda3",
                  "tKey": "A2 (Pre-Intermediate)",
                  "tValue": "A2 (Pre-Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/6c83e8e2cf5744e1835b618534d9720f",
                  "tKey": "A2 - B1 (Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Pre-Int./Int.)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/6dfb9fcf285847539346d32b49356aa9",
                  "tKey": "B1 (Intermediate)",
                  "tValue": "B1 (Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/84b8eee963f54f35b029379d0cf7508b",
                  "tKey": "B1 - B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Int./Upper Int.)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/1b9cfa72aad64d7d8e489206a673333f",
                  "tKey": "B2 (Upper Intermediate)",
                  "tValue": "B2 (Upper Intermediate)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/4132096bec7e432bae044f9cafe7a2c7",
                  "tKey": "B2 - C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Upper Int./Advanced)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/330da608c3114b26ae5503ab724f639f",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Advanced)"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/924cd83bc5c0497796c021ddcd66de74",
            "tName": "sort",
            "tPlaceholder": "Sort by",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0d499ae73b5c49f3a539b93734668e9c"
                  },
                  {
                    "contentUdi": "umb://element/a6b99c7acafb442c91dc86df160cb000"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/0d499ae73b5c49f3a539b93734668e9c",
                  "tKey": "Number of use",
                  "tValue": "Number of use"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a6b99c7acafb442c91dc86df160cb000",
                  "tKey": "Date of release/update",
                  "tValue": "Date of release/update"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tNotFoundMessage": "Materials not found",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials",
      "tSearchDelay": "500"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/2922897fb2a34c4ea22bf2d22d446a04"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "01b6582e-fc48-4f43-b347-bc5b5b8238c7",
      "udi": "umb://element/2922897fb2a34c4ea22bf2d22d446a04",
      "tFilters": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/20c0176bf8b44b5bba0afa85fda0ca16",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/9a972a8b6a5e4ac8be183885d090f33c",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/7d49fd20009a4310ad6f895d47bf3b22",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/e060e36be5df4fe881dbff31aa0abbe5",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/20c0176bf8b44b5bba0afa85fda0ca16",
            "tName": "subject",
            "tPlaceholder": "Предмети",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/ef390dda81904e97876852495b520e21"
                  },
                  {
                    "contentUdi": "umb://element/f768e77b351d4b8f88a20bf12dc5b002"
                  },
                  {
                    "contentUdi": "umb://element/c9577bcd9c624107bbb49039460cfe31"
                  },
                  {
                    "contentUdi": "umb://element/5e5325268abe40809388f6f846b789fc"
                  },
                  {
                    "contentUdi": "umb://element/a517ea03f3ef4900bff87b42b8b611aa"
                  },
                  {
                    "contentUdi": "umb://element/e6ecf68909c44a2d845c7cb91c6530f2"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ef390dda81904e97876852495b520e21",
                  "tKey": "Polish",
                  "tValue": "Польська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/f768e77b351d4b8f88a20bf12dc5b002",
                  "tKey": "English",
                  "tValue": "Англійська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/c9577bcd9c624107bbb49039460cfe31",
                  "tKey": "Spanish",
                  "tValue": "Іспанська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/5e5325268abe40809388f6f846b789fc",
                  "tKey": "Biolody",
                  "tValue": "Biolody"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a517ea03f3ef4900bff87b42b8b611aa",
                  "tKey": "Ukrainian",
                  "tValue": "Українська"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e6ecf68909c44a2d845c7cb91c6530f2",
                  "tKey": "French",
                  "tValue": "Французька"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/9a972a8b6a5e4ac8be183885d090f33c",
            "tName": "grade",
            "tPlaceholder": "Вікова група",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/4077d3e6c6df4c56b971fbb8aac32c6b"
                  },
                  {
                    "contentUdi": "umb://element/8ed106630d7c48c4b1a40969d77456f4"
                  },
                  {
                    "contentUdi": "umb://element/a00cd1955125453ab2522d997bd4dc33"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/4077d3e6c6df4c56b971fbb8aac32c6b",
                  "tKey": "adults",
                  "tValue": "дорослі"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/8ed106630d7c48c4b1a40969d77456f4",
                  "tKey": "teens",
                  "tValue": "підлітки"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/a00cd1955125453ab2522d997bd4dc33",
                  "tKey": "children",
                  "tValue": "діти"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/7d49fd20009a4310ad6f895d47bf3b22",
            "tName": "level",
            "tPlaceholder": "Рівень",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/d7be27ab7f97498faf2e5d654ade4d21"
                  },
                  {
                    "contentUdi": "umb://element/c31f2ccdef914dae93cc2b9baabc65f3"
                  },
                  {
                    "contentUdi": "umb://element/c12c4e5ca7d640f587a0b98caff6917f"
                  },
                  {
                    "contentUdi": "umb://element/88a4430e3a2a49e3a8eb4a54dbdae1d6"
                  },
                  {
                    "contentUdi": "umb://element/88be1c04c5e7411b844b71077ed0ca2a"
                  },
                  {
                    "contentUdi": "umb://element/ea182b6a864e421ca8a1f013839d63c7"
                  },
                  {
                    "contentUdi": "umb://element/f0a76e908264493c9d5202cf51eafc38"
                  },
                  {
                    "contentUdi": "umb://element/e2ea87240161495cab50498360c4c65b"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/d7be27ab7f97498faf2e5d654ade4d21",
                  "tKey": "A1 (Beginner)",
                  "tValue": "A1 (Початковий рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/c31f2ccdef914dae93cc2b9baabc65f3",
                  "tKey": "A2 (Pre-Intermediate)",
                  "tValue": "A2 (Проміжний рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/c12c4e5ca7d640f587a0b98caff6917f",
                  "tKey": "A2 - B1 (Pre-Int./Int.)",
                  "tValue": "A2 - B1 (Проміжний/Початково-середній рівні)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/88a4430e3a2a49e3a8eb4a54dbdae1d6",
                  "tKey": "B1 (Intermediate)",
                  "tValue": "B1 (Середній рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/88be1c04c5e7411b844b71077ed0ca2a",
                  "tKey": "B1 - B2 (Int./Upper Int.)",
                  "tValue": "B1 - B2 (Середній/Вищий середній рівні)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/ea182b6a864e421ca8a1f013839d63c7",
                  "tKey": "B2 (Upper Intermediate)",
                  "tValue": "B2 (Вищий середній рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/f0a76e908264493c9d5202cf51eafc38",
                  "tKey": "B2 - C1 (Upper Int./Advanced)",
                  "tValue": "B2 - C1 (Вищий середній/Високий рівень)"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/e2ea87240161495cab50498360c4c65b",
                  "tKey": "C1 (Advanced)",
                  "tValue": "C1 (Високий рівень)"
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "494cb9f3-d6f6-41a3-b8aa-50731f9d4660",
            "udi": "umb://element/e060e36be5df4fe881dbff31aa0abbe5",
            "tName": "sort",
            "tPlaceholder": "Сортувати за",
            "tFIlterItems": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/0d0be005921b4eb8a8f62d633f83a5eb"
                  },
                  {
                    "contentUdi": "umb://element/36e64d877c84414a86ab227e8fc4d9cc"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/0d0be005921b4eb8a8f62d633f83a5eb",
                  "tKey": "Number of use",
                  "tValue": "Кількість користувачів"
                },
                {
                  "contentTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
                  "udi": "umb://element/36e64d877c84414a86ab227e8fc4d9cc",
                  "tKey": "Date of release/update",
                  "tValue": "Дата випуску/оновлення"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "tNotFoundMessage": "Матеріали не знайдені",
      "tPageSize": "6",
      "tApiUrl": "https://app.tutorpro.pl/api/trpc/availableMaterial.getPublicMaterials",
      "tSearchDelay": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </tMaterialFilters>
  </Properties>
</Content>