<?xml version="1.0" encoding="utf-8"?>
<Content Key="de03a3a0-70eb-4357-b9e6-72330c26553f" Alias="Mały książe 3" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/MalyKsiaze3</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:51</CreateDate>
    <NodeName Default="Mały książe 3">
      <Name Culture="en-us">Mały książe 3</Name>
      <Name Culture="pl-pl">Mały książe 3</Name>
      <Name Culture="uk-ua">Mały książe 3</Name>
    </NodeName>
    <SortOrder>188</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.542Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[542e76c5-4e5a-4f9a-b825-ce13f41a23db]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Mały książe 3]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:16:40.488Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>