<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad98b54f-8b2d-4bb1-ac5d-8ae5cf13cdad" Alias="Mały Książę (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/MalyKsiaze1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:03</CreateDate>
    <NodeName Default="Mały Książę (1)">
      <Name Culture="en-us">Mały Książę (1)</Name>
      <Name Culture="pl-pl">Mały Książę (1)</Name>
      <Name Culture="uk-ua">Mały Książę (1)</Name>
    </NodeName>
    <SortOrder>324</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-22T11:38:03.788Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[a370125f-b0c9-4244-a4cb-45e70a659fd0]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Mały Książę]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-07T12:28:48.379Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>