<?xml version="1.0" encoding="utf-8"?>
<Content Key="907da60c-421f-4219-914a-eaa29d3e16f2" Alias="Mały książe-sprawdzenie wiadomości" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/MalyKsiazeSprawdzenieWiadomosci</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:56</CreateDate>
    <NodeName Default="Mały książe-sprawdzenie wiadomości">
      <Name Culture="en-us">Mały książe-sprawdzenie wiadomości</Name>
      <Name Culture="pl-pl">Mały książe-sprawdzenie wiadomości</Name>
      <Name Culture="uk-ua">Mały książe-sprawdzenie wiadomości</Name>
    </NodeName>
    <SortOrder>252</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:21.034Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[bf6998b4-a099-4b5c-a54c-3f44886c6b18]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Mały książe-sprawdzenie wiadomości]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:00:58.845Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>