<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a812112-01fb-4336-ae6d-a09b8dfbe9ae" Alias="Motywy literackie w lekturach obowiązkowych" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/MotywyLiterackieWLekturachObowiazkowych</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Motywy literackie w lekturach obowiązkowych">
      <Name Culture="en-us">Motywy literackie w lekturach obowiązkowych</Name>
      <Name Culture="pl-pl">Motywy literackie w lekturach obowiązkowych</Name>
      <Name Culture="uk-ua">Motywy literackie w lekturach obowiązkowych</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-10T11:47:30.788Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[dd1802f3-016b-4736-8491-0fa308cc8f1a]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2-B1(Pre-Int./Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Motywy literackie w lekturach obowiązkowych]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:15:26.953Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>