<?xml version="1.0" encoding="utf-8"?>
<Content Key="56d21251-7267-4966-9ee5-44a6462dc0da" Alias="Motywy literackie w lekturach obowiązkowych" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/MotywyLiterackieWLekturachObowiazkowych</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:40</CreateDate>
    <NodeName Default="Motywy literackie w lekturach obowiązkowych">
      <Name Culture="en-us">Motywy literackie w lekturach obowiązkowych</Name>
      <Name Culture="pl-pl">Motywy literackie w lekturach obowiązkowych</Name>
      <Name Culture="uk-ua">Motywy literackie w lekturach obowiązkowych</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-05-10T11:47:30.788Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[dd1802f3-016b-4736-8491-0fa308cc8f1a]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2-B1(Pre-Int./Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Motywy literackie w lekturach obowiązkowych]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-06-23T12:15:26.953Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>