<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ab0d5db-2bf2-42e7-8dc5-377f4d46ba4b" Alias="Music" Level="4">
  <Info>
    <Parent Key="e8ce44e0-52a5-4585-97fa-38c1f5cf627c">English</Parent>
    <Path>/HomePage/Material/English/Music</Path>
    <Trashed>false</Trashed>
    <ContentType>materialCategoryPage</ContentType>
    <CreateDate>2024-08-21T07:47:54</CreateDate>
    <NodeName Default="Music">
      <Name Culture="en-us">Music</Name>
      <Name Culture="pl-pl">Muzyka</Name>
      <Name Culture="uk-ua">Музика</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="e250fdfa-1b8a-48e6-87c2-4c7b8ec0888f">MaterialCategoryPage</Template>
  </Info>
  <Properties>
    <tCards>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tCards>
    <tSubTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tSubTitle>
    <tTag>
      <Value><![CDATA[#music]]></Value>
    </tTag>
    <tTitle>
      <Value Culture="en-us"><![CDATA[Music Materials]]></Value>
      <Value Culture="pl-pl"><![CDATA[Materiały muzyczne]]></Value>
      <Value Culture="uk-ua"><![CDATA[Музичні матеріали]]></Value>
    </tTitle>
  </Properties>
</Content>