<?xml version="1.0" encoding="utf-8"?>
<Content Key="f26a29d2-f58d-42a5-b8c1-27665b5efbad" Alias="Mówienie" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Mowienie</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:59</CreateDate>
    <NodeName Default="Mówienie">
      <Name Culture="en-us">Mówienie</Name>
      <Name Culture="pl-pl">Mówienie</Name>
      <Name Culture="uk-ua">Mówienie</Name>
    </NodeName>
    <SortOrder>290</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T16:50:41.645Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[f024bcaa-d47b-4688-814d-db1bcf783834]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2-B1 (Pre-Int./Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Mówienie]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:52:26.415Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>