<?xml version="1.0" encoding="utf-8"?>
<Content Key="b7681918-872b-4586-b8ee-e33ed5570aff" Alias="New blog" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/NewBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-19T08:49:38</CreateDate>
    <NodeName Default="New blog">
      <Name Culture="en-us">New blog</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[
  {
    "key": "892ed9a2-9cf7-4cd7-9a16-13209fa926e9",
    "mediaKey": "9ce49d91-8a09-42ea-83f3-fab5d5fe1bb4"
  }
]]]></Value>
    </tImage>
    <tNew>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </tNew>
    <tPublicDate>
      <Value><![CDATA[2024-07-19T00:00:00]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[New blog]]></Value>
    </tTitle>
  </Properties>
</Content>