<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0feefe9-1faa-4a23-b3ce-9df7d3e936f7" Alias="new" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/new</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-07-11T11:20:52</CreateDate>
    <NodeName Default="new">
      <Name Culture="en-us">new</Name>
      <Name Culture="pl-pl">asdas</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[0]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[]]]></Value>
    </tImage>
    <tNew>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="pl-pl"><![CDATA[0]]></Value>
    </tNew>
    <tPublicDate>
      <Value><![CDATA[]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[new weq we qeq ]]></Value>
      <Value Culture="pl-pl"><![CDATA[asdas]]></Value>
    </tTitle>
  </Properties>
</Content>