<?xml version="1.0" encoding="utf-8"?>
<Content Key="abb3bdb5-e935-48af-a0b0-ecf96e63e8b8" Alias="Newsletter emails" Level="2">
  <Info>
    <Parent Key="d1ca52b1-0fdd-41ec-84a0-5a3531b1c22b">Home Page</Parent>
    <Path>/HomePage/NewsletterEmails</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterOptions</ContentType>
    <CreateDate>2024-07-22T12:23:00</CreateDate>
    <NodeName Default="Newsletter emails" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tSenderEmails>
      <Value><![CDATA[smeldoc@gmail.com|en-us]]></Value>
    </tSenderEmails>
  </Properties>
</Content>