<?xml version="1.0" encoding="utf-8"?>
<Content Key="7593a3dc-0b7b-4136-935a-457a873daf04" Alias="Opowieść wigilijna. " Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/OpowiescWigilijna</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:18</CreateDate>
    <NodeName Default="Opowieść wigilijna. ">
      <Name Culture="en-us">Opowieść wigilijna. </Name>
      <Name Culture="pl-pl">Opowieść wigilijna. </Name>
      <Name Culture="uk-ua">Opowieść wigilijna. </Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-15T22:40:40.291Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[830d4e3b-2418-491e-8e8f-50079ab56577]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Opowieść wigilijna. ]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-07T12:28:08.362Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>