<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef9db073-bc24-482c-a33c-b5c0164e9d88" Alias="Opowieść wigilijna. " Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/OpowiescWigilijna</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:03</CreateDate>
    <NodeName Default="Opowieść wigilijna. ">
      <Name Culture="en-us">Opowieść wigilijna. </Name>
      <Name Culture="pl-pl">Opowieść wigilijna. </Name>
      <Name Culture="uk-ua">Opowieść wigilijna. </Name>
    </NodeName>
    <SortOrder>322</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-15T22:40:40.291Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[830d4e3b-2418-491e-8e8f-50079ab56577]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Opowieść wigilijna. ]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-07T12:28:08.362Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>