<?xml version="1.0" encoding="utf-8"?>
<Content Key="2baf0f5b-b57d-4015-a697-8c07cd860ae9" Alias="Opowiadanie twórcze" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/OpowiadanieTworcze</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:49</CreateDate>
    <NodeName Default="Opowiadanie twórcze">
      <Name Culture="en-us">Opowiadanie twórcze</Name>
      <Name Culture="pl-pl">Opowiadanie twórcze</Name>
      <Name Culture="uk-ua">Opowiadanie twórcze</Name>
    </NodeName>
    <SortOrder>154</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:53:44.562Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[d21c3b6b-abb4-4a23-8034-cdaab3c66204]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Opowiadanie twórcze]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:27:21.156Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>