<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3564952-ed7c-431f-bf3c-6746da5606a3" Alias="Pan Tadeusz (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/PanTadeusz1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:52</CreateDate>
    <NodeName Default="Pan Tadeusz (1)">
      <Name Culture="en-us">Pan Tadeusz (1)</Name>
      <Name Culture="pl-pl">Pan Tadeusz (1)</Name>
      <Name Culture="uk-ua">Pan Tadeusz (1)</Name>
    </NodeName>
    <SortOrder>199</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:53:44.586Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[d9c6478f-9446-455c-849f-57e130dab62c]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Pan Tadeusz]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:30:56.610Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>