<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e7fd317-14f3-4723-b7ce-34032059d0ff" Alias="pieniądze/pieniędzy itp." Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/pieniadzepieniedzyItp</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:54</CreateDate>
    <NodeName Default="pieniądze/pieniędzy itp.">
      <Name Culture="en-us">pieniądze/pieniędzy itp.</Name>
      <Name Culture="pl-pl">pieniądze/pieniędzy itp.</Name>
      <Name Culture="uk-ua">pieniądze/pieniędzy itp.</Name>
    </NodeName>
    <SortOrder>225</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.299Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[800e08cd-adb9-4c24-a821-51125cded678]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[pieniądze/pieniędzy itp.]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:19:21.052Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>