<?xml version="1.0" encoding="utf-8"?>
<Content Key="090504b6-d9ea-4319-a159-0b017bd677e2" Alias="Polska od kuchni" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/PolskaOdKuchni</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:46</CreateDate>
    <NodeName Default="Polska od kuchni">
      <Name Culture="en-us">Polska od kuchni</Name>
      <Name Culture="pl-pl">Polska od kuchni</Name>
      <Name Culture="uk-ua">Polska od kuchni</Name>
    </NodeName>
    <SortOrder>111</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T17:00:02.897Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[4475676a-6c2b-4a4c-b7bf-3da121400d1c]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Polska od kuchni]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:59:11.043Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>