<?xml version="1.0" encoding="utf-8"?>
<Content Key="008a7147-c738-43d8-af72-1b4006fe5c1d" Alias="Polski na start  15a" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/PolskiNaStart15a</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:31</CreateDate>
    <NodeName Default="Polski na start  15a" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[f4935dbc-f6b8-4e59-aa50-9f401487e9c9]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Polski na start  15a]]></Value>
    </tTitle>
  </Properties>
</Content>