<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f606a5f-a12e-40c2-87c1-ad5a27a3d397" Alias="Present Simple" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/PresentSimple</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:31</CreateDate>
    <NodeName Default="Present Simple" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[8c30d801-4114-4217-a511-21882b136077]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1711529622727.jpg?ts=1711529622994]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#english]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Present Simple]]></Value>
    </tTitle>
  </Properties>
</Content>