<?xml version="1.0" encoding="utf-8"?>
<Content Key="7732d5e8-2e91-42b0-bc31-914bb81fe77d" Alias="Przedstawianie się" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/PrzedstawianieSie</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:42</CreateDate>
    <NodeName Default="Przedstawianie się">
      <Name Culture="en-us">Przedstawianie się</Name>
      <Name Culture="pl-pl">Przedstawianie się</Name>
      <Name Culture="uk-ua">Przedstawianie się</Name>
    </NodeName>
    <SortOrder>41</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:08:44.472Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[a40900b0-45a1-4e48-9b4d-d59dbd970323]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1720537757088.jpg?ts=1720537757305]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Przedstawianie się]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:53:41.237Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>