<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d9ba32a-b1f2-447e-9e06-4d6d620826b9" Alias="Puzzles" Level="4">
  <Info>
    <Parent Key="e8ce44e0-52a5-4585-97fa-38c1f5cf627c">English</Parent>
    <Path>/HomePage/Material/English/Puzzles</Path>
    <Trashed>false</Trashed>
    <ContentType>materialCategoryPage</ContentType>
    <CreateDate>2024-08-21T07:48:31</CreateDate>
    <NodeName Default="Puzzles">
      <Name Culture="en-us">Puzzles</Name>
      <Name Culture="pl-pl">Puzzle</Name>
      <Name Culture="uk-ua">Головоломки</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="e250fdfa-1b8a-48e6-87c2-4c7b8ec0888f">MaterialCategoryPage</Template>
  </Info>
  <Properties>
    <tCards>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tCards>
    <tSubTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tSubTitle>
    <tTag>
      <Value><![CDATA[#puzzles]]></Value>
    </tTag>
    <tTitle>
      <Value Culture="en-us"><![CDATA[Puzzles Materials]]></Value>
      <Value Culture="pl-pl"><![CDATA[Materiały do ​​puzzli]]></Value>
      <Value Culture="uk-ua"><![CDATA[Матеріали головоломки]]></Value>
    </tTitle>
  </Properties>
</Content>