<?xml version="1.0" encoding="utf-8"?>
<Content Key="53999ded-81fa-419b-a68a-b30fe6d02b71" Alias="Rozprawka (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Rozprawka1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:01</CreateDate>
    <NodeName Default="Rozprawka (1)">
      <Name Culture="en-us">Rozprawka (1)</Name>
      <Name Culture="pl-pl">Rozprawka (1)</Name>
      <Name Culture="uk-ua">Rozprawka (1)</Name>
    </NodeName>
    <SortOrder>313</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T03:00:27.243Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[980852d0-b58f-4ea4-8c33-7a3936d17727]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Rozprawka]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:57:13.328Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>