<?xml version="1.0" encoding="utf-8"?>
<Content Key="01836582-94e8-4db3-a8ea-c69678dfb156" Alias="Skąd jesteś? Gdzie mieszkasz? " Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/SkadJestesGdzieMieszkasz</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:01</CreateDate>
    <NodeName Default="Skąd jesteś? Gdzie mieszkasz? ">
      <Name Culture="en-us">Skąd jesteś? Gdzie mieszkasz? </Name>
      <Name Culture="pl-pl">Skąd jesteś? Gdzie mieszkasz? </Name>
      <Name Culture="uk-ua">Skąd jesteś? Gdzie mieszkasz? </Name>
    </NodeName>
    <SortOrder>314</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-05T12:43:54.196Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[3475d041-0f7c-4535-bb14-585e3c2d7d3d]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish
A1 (Beginner)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Materiały w oparciu o podręczniki "Krok po kroku 1" oraz "Hura 1"]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Skąd jesteś? Gdzie mieszkasz? ]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:58:03.277Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>