<?xml version="1.0" encoding="utf-8"?>
<Content Key="75383936-49d7-4183-86cb-3e73b9c69e03" Alias="srodki stylistyczne" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/srodkiStylistyczne</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:59</CreateDate>
    <NodeName Default="srodki stylistyczne">
      <Name Culture="en-us">srodki stylistyczne</Name>
      <Name Culture="pl-pl">srodki stylistyczne</Name>
      <Name Culture="uk-ua">srodki stylistyczne</Name>
    </NodeName>
    <SortOrder>295</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:51.890Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c19a4793-4147-4653-a974-ddfe776a26b1]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[srodki stylistyczne]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:50:54.911Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>