<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d61426c-ed76-41f1-a979-5090cd6e0099" Alias="Szczegółowo o każdej części" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/SzczegolowoOKazdejCzesci</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Szczegółowo o każdej części">
      <Name Culture="en-us">Szczegółowo o każdej części</Name>
      <Name Culture="pl-pl">Szczegółowo o każdej części</Name>
      <Name Culture="uk-ua">Szczegółowo o każdej części</Name>
    </NodeName>
    <SortOrder>126</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:05:56.755Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c0e0099c-3430-4688-a82b-3c58eaa5c141]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Szczegółowo o każdej części]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:58:53.998Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>