<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac2f3817-a4c9-4424-a12c-c0a88642b8b1" Alias="Szkoła" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Szkola</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Szkoła">
      <Name Culture="en-us">Szkoła</Name>
      <Name Culture="pl-pl">Szkoła</Name>
      <Name Culture="uk-ua">Szkoła</Name>
    </NodeName>
    <SortOrder>133</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T17:00:46.979Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[e7f83391-8b64-4183-a673-b5b917f66d9a]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Szkoła]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:12:18.579Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>