<?xml version="1.0" encoding="utf-8"?>
<Content Key="39d1020e-3426-4987-9ae0-5c1cf29697df" Alias="Sztuczna inteligencja" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/SztucznaInteligencja</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:32</CreateDate>
    <NodeName Default="Sztuczna inteligencja" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[a801be46-4e02-48bd-ad80-e3bf994623d4]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Sztuczna inteligencja]]></Value>
    </tTitle>
  </Properties>
</Content>