<?xml version="1.0" encoding="utf-8"?>
<Content Key="170f6f96-2f45-4159-92ea-e611129f128c" Alias="Technika, komputer, internet" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/TechnikaKomputerInternet</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:41</CreateDate>
    <NodeName Default="Technika, komputer, internet">
      <Name Culture="en-us">Technika, komputer, internet</Name>
      <Name Culture="pl-pl">Technika, komputer, internet</Name>
      <Name Culture="uk-ua">Technika, komputer, internet</Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T14:57:41.063Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[7e21c841-d56b-47f9-b424-f170e506975b]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Technika, komputer, internet]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:04:15.937Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>