<?xml version="1.0" encoding="utf-8"?>
<Content Key="64263d45-e118-4117-b116-6671b67e6e94" Alias="Test blog" Level="3">
  <Info>
    <Parent Key="32c3074c-11db-49cc-8546-3b85243bd4de">Blog page</Parent>
    <Path>/HomePage/BlogPage/TestBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogArticle</ContentType>
    <CreateDate>2024-05-21T09:23:47</CreateDate>
    <NodeName Default="Test blog">
      <Name Culture="en-us">Test blog</Name>
      <Name Culture="pl-pl">Test polish</Name>
      <Name Culture="uk-ua">Тест</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="ed63d7ea-d453-4219-b524-4e32a4c87c0e">BlogArticle</Template>
  </Info>
  <Properties>
    <tBreadcrumbs>
      <Value><![CDATA[1]]></Value>
    </tBreadcrumbs>
    <tCategory>
      <Value><![CDATA[]]></Value>
    </tCategory>
    <tContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pl-pl"><![CDATA[]]></Value>
      <Value Culture="uk-ua"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ffaeb3ff9dc447d5bb78219983c197fa",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ce134633-f03c-48e3-92fe-edabb925ecb9",
      "udi": "umb://element/ffaeb3ff9dc447d5bb78219983c197fa",
      "tImage": [
        {
          "key": "aca00c2f-eaef-4ef7-87c5-916f68ed067b",
          "mediaKey": "cc8d5b3f-174f-4e7b-857e-18381b7039a3"
        }
      ],
      "tHeight": "800",
      "tWidth": "800"
    }
  ],
  "settingsData": []
}]]></Value>
    </tContent>
    <tDecors>
      <Value><![CDATA[]]></Value>
    </tDecors>
    <tImage>
      <Value><![CDATA[[
  {
    "key": "36f0f055-a196-47f8-85ea-d1320905aea2",
    "mediaKey": "97ace3b7-b14c-43b6-adbb-3f328a6b4d06"
  }
]]]></Value>
    </tImage>
    <tNew>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="pl-pl"><![CDATA[0]]></Value>
      <Value Culture="uk-ua"><![CDATA[0]]></Value>
    </tNew>
    <tPublicDate>
      <Value><![CDATA[2024-05-21T00:00:00]]></Value>
    </tPublicDate>
    <tTitle>
      <Value Culture="en-us"><![CDATA[Test blog]]></Value>
      <Value Culture="pl-pl"><![CDATA[Test polish]]></Value>
      <Value Culture="uk-ua"><![CDATA[Тест]]></Value>
    </tTitle>
  </Properties>
</Content>