<?xml version="1.0" encoding="utf-8"?>
<Content Key="62fdaf83-1581-4c4e-b72f-6b0f43aaff47" Alias="Test Dzieci Ekateriny" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/TestDzieciEkateriny</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:55:00</CreateDate>
    <NodeName Default="Test Dzieci Ekateriny">
      <Name Culture="en-us">Test Dzieci Ekateriny</Name>
      <Name Culture="pl-pl">Test Dzieci Ekateriny</Name>
      <Name Culture="uk-ua">Test Dzieci Ekateriny</Name>
    </NodeName>
    <SortOrder>303</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.057Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[21b4da62-87e6-49c7-b78a-44de052819e8]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Test Dzieci Ekateriny]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:20:45.836Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>