<?xml version="1.0" encoding="utf-8"?>
<Content Key="1247742d-fc92-4f90-9487-9db71338df01" Alias="Transport" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Transport</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:47</CreateDate>
    <NodeName Default="Transport">
      <Name Culture="en-us">Transport</Name>
      <Name Culture="pl-pl">Transport</Name>
      <Name Culture="uk-ua">Transport</Name>
    </NodeName>
    <SortOrder>135</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-31T23:14:39.914Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[99f79ce2-908b-41e6-8cae-41625c8ac94f]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Transport]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:46:07.166Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>