<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8b764e7-e287-47d4-b541-cd5eb349b3f9" Alias="Treść Lalki" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/TrescLalki</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:55</CreateDate>
    <NodeName Default="Treść Lalki">
      <Name Culture="en-us">Treść Lalki</Name>
      <Name Culture="pl-pl">Treść Lalki</Name>
      <Name Culture="uk-ua">Treść Lalki</Name>
    </NodeName>
    <SortOrder>234</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:57:41.577Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[e6058e62-f051-4fae-9003-bbbe00921e01]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Treść Lalki]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:10:42.868Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>