<?xml version="1.0" encoding="utf-8"?>
<Content Key="0653f433-ed01-400e-a7fa-557d2576fe7a" Alias="Trial lesson" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/TrialLesson</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:31</CreateDate>
    <NodeName Default="Trial lesson" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[648bdd66-11fe-405f-b344-3b7db6cc0a9d]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#adults
#polish]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Trial]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Trial lesson]]></Value>
    </tTitle>
  </Properties>
</Content>