<?xml version="1.0" encoding="utf-8"?>
<Content Key="011f29bb-5c84-47ee-a886-78a85a5d0337" Alias="Ukraine" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Ukraine</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:30</CreateDate>
    <NodeName Default="Ukraine" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[0258e7ad-57bd-4ab9-9039-6ecd41e8a4a0]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1713821083376.jpg?ts=1713821083687]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#ukrainian
B2(Upper Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Ukraine]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Ukraine]]></Value>
    </tTitle>
  </Properties>
</Content>