<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd480a9c-7f06-4c49-b768-95e4ffbad17e" Alias="Ukraine (1)" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Ukraine1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-06-20T10:49:32</CreateDate>
    <NodeName Default="Ukraine (1)" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tGuid>
      <Value><![CDATA[12d3f0bc-8cf8-45be-a96b-cb7cc89d2945]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1713821083376.jpg?ts=1713821083687]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#ukrainian
B2(Upper Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[Ukraine]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Ukraine]]></Value>
    </tTitle>
  </Properties>
</Content>