<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dc25d78-0e8c-4eab-a626-ca21031cdb64" Alias="Zawody, liczba mnoga rzeczownika" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/ZawodyLiczbaMnogaRzeczownika</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:42</CreateDate>
    <NodeName Default="Zawody, liczba mnoga rzeczownika">
      <Name Culture="en-us">Zawody, liczba mnoga rzeczownika</Name>
      <Name Culture="pl-pl">Zawody, liczba mnoga rzeczownika</Name>
      <Name Culture="uk-ua">Zawody, liczba mnoga rzeczownika</Name>
    </NodeName>
    <SortOrder>42</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-07-09T15:10:10.037Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[4d950885-f27f-43d3-8bdb-d64914bed9c3]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[https://tutorpro-pl.s3.eu-north-1.amazonaws.com/lessons/prod/1720537809620.jpg?ts=1720537809911]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
A2 (Pre-Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Zawody, liczba mnoga rzeczownika]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T11:07:29.253Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>