<?xml version="1.0" encoding="utf-8"?>
<Content Key="58c3976f-91ca-49e6-b223-78fd3eb43c80" Alias="Zdania złożone współrzędnie (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/ZdaniaZlozoneWspolrzednie1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:57</CreateDate>
    <NodeName Default="Zdania złożone współrzędnie (1)">
      <Name Culture="en-us">Zdania złożone współrzędnie (1)</Name>
      <Name Culture="pl-pl">Zdania złożone współrzędnie (1)</Name>
      <Name Culture="uk-ua">Zdania złożone współrzędnie (1)</Name>
    </NodeName>
    <SortOrder>267</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:52.165Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[a784fc92-f185-4753-8de0-b3fb1e70a69d]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Zdania złożone współrzędnie]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:49:59.685Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>