<?xml version="1.0" encoding="utf-8"?>
<Content Key="509ec505-1c08-4af6-8003-1f348eac2d0c" Alias="Zdania złożone podrzędnie" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/ZdaniaZlozonePodrzednie</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:57</CreateDate>
    <NodeName Default="Zdania złożone podrzędnie">
      <Name Culture="en-us">Zdania złożone podrzędnie</Name>
      <Name Culture="pl-pl">Zdania złożone podrzędnie</Name>
      <Name Culture="uk-ua">Zdania złożone podrzędnie</Name>
    </NodeName>
    <SortOrder>264</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:59:52.318Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[da2dc02e-8e23-45b7-af2c-2e722cdd7e31]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Zdania złożone podrzędnie]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T09:49:40.636Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>