<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1902eb3-7167-41e9-aaad-d40a79e3f02a" Alias="Zemsta (1)" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/Zemsta1</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:51</CreateDate>
    <NodeName Default="Zemsta (1)">
      <Name Culture="en-us">Zemsta (1)</Name>
      <Name Culture="pl-pl">Zemsta (1)</Name>
      <Name Culture="uk-ua">Zemsta (1)</Name>
    </NodeName>
    <SortOrder>186</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:56:36.602Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[2dd64853-a3a5-4428-a81d-7763766df98b]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Zemsta]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:15:25.885Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>