<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3546d8c-af0c-4990-a9bd-93ae7aaf0522" Alias="Zemsta - Aleksander Fredro" Level="5">
  <Info>
    <Parent Key="d1e8ed9c-94c0-4d7a-aa5a-6575d7f1dfb5">Polish</Parent>
    <Path>/HomePage/Material/English/Polish/ZemstaAleksanderFredro</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-08-21T07:54:56</CreateDate>
    <NodeName Default="Zemsta - Aleksander Fredro">
      <Name Culture="en-us">Zemsta - Aleksander Fredro</Name>
      <Name Culture="pl-pl">Zemsta - Aleksander Fredro</Name>
      <Name Culture="uk-ua">Zemsta - Aleksander Fredro</Name>
    </NodeName>
    <SortOrder>244</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-08-01T02:58:52.867Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[c43485a1-f5fb-4be9-ac17-6e8407f37e76]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1 (Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Zemsta - Aleksander Fredro]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-08-09T10:05:30.282Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>