<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d2a8304-08e4-42b6-b82c-817e5516e81a" Alias="Świtezianka" Level="3">
  <Info>
    <Parent Key="3c8b3946-df37-4122-9718-c2ad9b645ec3">Material Page</Parent>
    <Path>/HomePage/MaterialPage/Switezianka</Path>
    <Trashed>false</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-07-19T09:10:19</CreateDate>
    <NodeName Default="Świtezianka">
      <Name Culture="en-us">Świtezianka</Name>
      <Name Culture="pl-pl">Świtezianka</Name>
      <Name Culture="uk-ua">Świtezianka</Name>
    </NodeName>
    <SortOrder>40</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pl-pl">true</Published>
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[2024-04-18T22:54:00.575Z]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[96656339-fb69-4734-a4f3-f82bb474a92f]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[#teens
#polish
B1(Int.)]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[Świtezianka]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[2024-05-07T12:27:33.971Z]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[0]]></Value>
    </tViewsNumber>
  </Properties>
</Content>