<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ae2b5db-4d1e-4a4d-8a43-30e26a6c2704" Alias="Еуіе" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/EuE</Path>
    <Trashed Parent="6eee4a00-6d98-4d67-a9c6-44a882ecafe8">true</Trashed>
    <ContentType>materialArticle</ContentType>
    <CreateDate>2024-09-03T10:18:44</CreateDate>
    <NodeName Default="Еуіе">
      <Name Culture="en-us">Еуіе</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="125e345b-97cc-4f50-a26d-c2e4effa74f4">MaterialArticle</Template>
  </Info>
  <Properties>
    <tCreatedDate>
      <Value><![CDATA[івфів]]></Value>
    </tCreatedDate>
    <tGuid>
      <Value><![CDATA[фівф]]></Value>
    </tGuid>
    <tImageUrl>
      <Value><![CDATA[фів]]></Value>
    </tImageUrl>
    <tTags>
      <Value><![CDATA[]]></Value>
    </tTags>
    <tText>
      <Value><![CDATA[]]></Value>
    </tText>
    <tTitle>
      <Value><![CDATA[]]></Value>
    </tTitle>
    <tUpdatedDate>
      <Value><![CDATA[]]></Value>
    </tUpdatedDate>
    <tViewsNumber>
      <Value><![CDATA[11]]></Value>
    </tViewsNumber>
  </Properties>
</Content>