<?xml version="1.0" encoding="utf-8"?>
<Content Key="36671413-fac9-4343-83a8-78afabc430c9" Alias="Польська" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/PolSKa</Path>
    <Trashed Parent="e8ce44e0-52a5-4585-97fa-38c1f5cf627c">true</Trashed>
    <ContentType>materialCategoryPage</ContentType>
    <CreateDate>2024-09-03T10:13:46</CreateDate>
    <NodeName Default="Польська">
      <Name Culture="uk-ua">Польська</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="uk-ua">true</Published>
    </Published>
    <Schedule />
    <Template Key="e250fdfa-1b8a-48e6-87c2-4c7b8ec0888f">MaterialCategoryPage</Template>
  </Info>
  <Properties>
    <tCards>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tCards>
    <tSubTitle>
      <Value Culture="uk-ua"><![CDATA[]]></Value>
    </tSubTitle>
    <tTag>
      <Value><![CDATA[#polish]]></Value>
    </tTag>
    <tTitle>
      <Value Culture="uk-ua"><![CDATA[Польські Матеріали]]></Value>
    </tTitle>
  </Properties>
</Content>