@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BlockGridPage>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
	ViewBag.CurrentPage = Model;
	ViewBag.ParentPage = Model.Parent;
}

<section class="content">
    <div class="container">
        <div class="case-info">
            @await Html.GetBlockGridHtmlAsync(Model.BlockGrid)
        </div>
    </div>
</section>