@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@{
	Layout = "Main.cshtml";
}

@if (Model.TContentPage is TBlogGridPage blockGridPage)
{
    <div>
        @await Html.PartialAsync("BlockGridPage", blockGridPage)
    </div>
}

@if (Model.TContentPage is BlockListPage listPage)
{
    <main class="main">
		@await Html.PartialAsync("BlockListPage", listPage)
	</main>
}