@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TListPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<section class="content">
    <div class="container">
        <div class="case-info">
            @await Html.GetBlockListHtmlAsync(Model.TblockListPage)
        </div>
    </div>
</section>