@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
	var model = (HomePage)Model.Root();

	var mainHeader = Model.ContentType.Alias == "homePage";
	var disableFixedComponents = Model.ContentType.Alias == "page404" || Model.ContentType.Alias == "ApplicationForm";
	var mainHeaderPadding = (mainHeader || disableFixedComponents);
	@if(Model is BlockListPage page)
	{
		mainHeaderPadding = !page.TPadding;
	}
	
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>TutorPro - @Umbraco.AssignedContentItem.Name</title>

		<link rel="stylesheet" href="~/css/libs.min.css">
		<link rel="stylesheet" href="~/css/style.css">
		
	</head>
	<body>
		<div class="wrapper@(mainHeaderPadding ? "" : " main-padding")" id="top">	
			@await Html.PartialAsync("tutorPartials/TCookies", model)

			@if (!disableFixedComponents)
			{
				@await Html.PartialAsync("tutorPartials/THeader", model, new ViewDataDictionary(ViewData) {{"isDark", mainHeader}})
			}
			
			<main class="main">
				@RenderBody()
			</main>

			@if (!disableFixedComponents)
			{
				@await Html.PartialAsync("tutorPartials/TFooter", model)		
			}
		</div>

		<script src="~/js/libs.min.js"></script>
		<script src="~/js/main.js"></script>
		
	</body>
</html>


