@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MaterialArticle>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Main.cshtml";
    var guid = Context.Request.Query["guid"];
    var title = Context.Request.Query["title"];
    var language = Umbraco.CultureDictionary.Culture.Name.ToLower();
}
<h1 class="main-top__title"><span>@title</span></h1>
<link rel="stylesheet" href="https://tutorpro.team/web-component/index-web-component.css">
<script type="module" src="https://tutorpro.team/web-component/index-web-component.js"></script>
<div style="text-align: center;">
    <div style="display: inline-block; width: 65%; text-align: left;">
        <ce-tutorpro-material guid="@guid" lang="@language" height="@Model.TMaterialContentBlockHeight"></ce-tutorpro-material>
    </div>
</div>
<div style="margin-top:-20px">
    @await Html.GetBlockGridHtmlAsync(Model.TAction);
</div>

