@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Page404>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Main.cshtml";
}
<div>
	<h1>@Model.TErrorCode</h1>

	@if(Model.TCard != null)
	{
		<div style="display: flex; gap: 10px">
			@Html.GetBlockListHtml(Model.TCard)
		</div>
	}
	@if(Model.TIcons != null)
	{
		@Html.GetBlockListHtml(Model.TIcons)
	}
</div>