<div ng-controller="tMainTop" ng-click="block.edit()">
    <section class="main-top">
        <span class="decor-element ring1 parallax-element"></span>
        <span class="decor-element ring2 parallax-element"></span>
        <div class="decor-bg radial-bg"></div>
        <div class="container">
            <!-- <div class="main-top__inner"></div> -->
            <h1 class="main-top__title"><span>{{firstTitlePart}}</span>{{secondTitlePart}}</h1>
            <div style="margin-bottom:30px" class="main-top__image">
                <div class="image-container">
                    <img ng-src="{{images[0].mediaLink}}" alt="@content.TImages.ElementAt(0).Name" class="first-image" />
                    <div class="second-image-container">
                        <video autoplay loop muted playsinline class="second-image">
                            <source ng-src="{{content.tTopVideo[0].src}}" type="video/webm">
                            not supported
                        </video>
                    </div>
                    <img ng-src="{{images[1].mediaLink}}" alt="@content.TImages.ElementAt(1).Name" class="third-image" />
                </div>
                <div ng-controller="tDecor" ng-init="initDecors(content)"></div>
                <span ng-controller="tDecor" ng-repeat="decor in content.tDecors.contentData" class="{{decor.typeClass}}">
                    <img ng-src="{{decor.src}}" alt="Decor points">
                </span>
            </div>
            <div class="main-top__info">
                <p class="main-top__text">{{text}}</p>
                <button ng-controller="tButton" ng-init="initButton(button)" ng-class="toggleClass">
                    <span>{{button.tButtonTitle}}</span>
                </button>
            </div>
        </div>
    </section>
</div>
<style>
    .image-container {
        position: relative;
    }

    .second-image-container {
        position: absolute;
        top: 47%;
        left: 50.5%;
        transform: translate(-50%, -50%);
        width: 78%;
    }

    .second-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .third-image {
        margin-top: -5px;
    }
</style>