<div class="footer__inner" style="background-color:black" ng-controller="tContacts" ng-click="block.edit()">
    <div class="footer__contacts" style="margin-left: 20px" ng-if="content">
        <span class="footer__title medium-title">{{content.tContactTitle}}</span>
        <p class="footer__text">{{content.tContactAddress}}</p>
        <a class="footer__contacts-link">{{content.tNumber}}</a>
        <a class="footer__contacts-link">{{content.tEmail}}</a>
        <ul class="footer__socials">
            <li class="footer__socials-item" ng-repeat="link in content.tSocialLinks.contentData">
                <a class="footer__socials-link">
                    <img class="social-icon-white" src="{{link.tIcon[0].src}}" alt="Icon">
                </a>
            </li>
        </ul>
        <div class="footer__languages" ng-if="content.tShowLanguageDropdown === '1'">
            <a class="footer__language">
                En
            </a>
        </div>
    </div>
</div>