<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="16a42aec-ea42-47d7-8de6-b724089ae437" Alias="and" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">and</Translation>
    <Translation Language="pl-PL">i</Translation>
    <Translation Language="uk-UA">i</Translation>
  </Translations>
</Dictionary>