<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8fabd469-1194-4be1-bdfd-049f35b9eb82" Alias="email placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">e-mail</Translation>
    <Translation Language="pl-PL">email</Translation>
    <Translation Language="uk-UA">емейл</Translation>
  </Translations>
</Dictionary>