<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0834217b-7aa0-4535-b366-dc46fb7ce809" Alias="Enter" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Enter</Translation>
    <Translation Language="pl-PL">Wchodzić</Translation>
    <Translation Language="uk-UA">Введіть</Translation>
  </Translations>
</Dictionary>