<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12d913b9-6b8f-48eb-880d-0e97f06002c6" Alias="Error" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Error</Translation>
    <Translation Language="pl-PL">Błąd</Translation>
    <Translation Language="uk-UA">Помилка</Translation>
  </Translations>
</Dictionary>