<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="682ebf6a-dbe8-4a1b-bbd6-e37cdfceb0bf" Alias="Invalid" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Invalid</Translation>
    <Translation Language="pl-PL">Nieważny</Translation>
    <Translation Language="uk-UA">Недійсний</Translation>
  </Translations>
</Dictionary>