<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83ce68df-97a4-4bb3-9c89-b90a684278d9" Alias="Latest posts" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Latest posts</Translation>
    <Translation Language="pl-PL">Najnowsze posty</Translation>
    <Translation Language="uk-UA">Останні пости</Translation>
  </Translations>
</Dictionary>