<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b9a4545-541c-4233-ba9b-27e757a1973e" Alias="Latest posts" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Latest posts</Translation>
    <Translation Language="pl-PL">Najnowsze posty</Translation>
    <Translation Language="uk-UA">Останні пости</Translation>
  </Translations>
</Dictionary>