<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="38b099b5-9f4b-4d02-bd17-e9c2c3ee6117" Alias="message placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">questions or message...</Translation>
    <Translation Language="pl-PL">pytania lub wiadomość...</Translation>
    <Translation Language="uk-UA">питання або повідомлення...</Translation>
  </Translations>
</Dictionary>