<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6a9edddc-f1f5-4268-a3a5-c72ffcde2778" Alias="name placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">name</Translation>
    <Translation Language="pl-PL">nazwa</Translation>
    <Translation Language="uk-UA">ім'я</Translation>
  </Translations>
</Dictionary>