<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="337886ee-54c5-41f1-b2b0-256d987410c3" Alias="Phone format" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">+44</Translation>
    <Translation Language="pl-PL">+48</Translation>
    <Translation Language="uk-UA">+380</Translation>
  </Translations>
</Dictionary>