<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83237c01-ce0c-43fe-96b0-06639a5f0879" Alias="Phone format" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">+44</Translation>
    <Translation Language="pl-PL">+48</Translation>
    <Translation Language="uk-UA">+380</Translation>
  </Translations>
</Dictionary>