<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c899f6f1-093f-4a70-9a15-d819d173d4a5" Alias="phone placeholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">phone</Translation>
    <Translation Language="pl-PL">telefon</Translation>
    <Translation Language="uk-UA">номер телефону</Translation>
  </Translations>
</Dictionary>