<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a12a4008-6d5d-438b-8ac9-0f190248aaaf" Alias="Reviews" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">reviews</Translation>
    <Translation Language="pl-PL">wyświetlenia</Translation>
    <Translation Language="uk-UA">переглядів</Translation>
  </Translations>
</Dictionary>