<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68f35a41-5702-412b-9bf7-56e515fdc4ff" Alias="Search" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Search</Translation>
    <Translation Language="pl-PL">Szukaj</Translation>
    <Translation Language="uk-UA">Пошук</Translation>
  </Translations>
</Dictionary>