<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c43c80ef-8f7e-42a0-b01d-c1534bfb80a3" Alias="Send" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Send</Translation>
    <Translation Language="pl-PL">Wysłać</Translation>
    <Translation Language="uk-UA">Надіслати</Translation>
  </Translations>
</Dictionary>