<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="74025bc6-63ca-42ec-8045-ad41b4a47c2c" Alias="Send" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Send</Translation>
    <Translation Language="pl-PL">Wysłać</Translation>
    <Translation Language="uk-UA">Надіслати</Translation>
  </Translations>
</Dictionary>