.material_article_decor {
    position: relative;
    display: block;
    width: 100%;
}

    .material_article_decor > .decor-element.ring {
        position: absolute;
        bottom: 0;
        right: 12%;
        left: auto;
        width: 25%;
        height: auto;
        -webkit-transform: translate(0px, 20%);
        -ms-transform: translate(0px, 20%);
        transform: translate(0px, 20%);
    }

    .material_article_decor > .decor-element.circle {
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 25%;
        height: auto;
        -webkit-transform: translate(0px, 60%);
        -ms-transform: translate(0px, 60%);
        transform: translate(0px, 60%);
    }

.material_article__title {
    position: relative;
    max-width: 1100px;
    margin: 0 auto 28px;
    text-align: center;
    color: #FF6B00;
}

    .material_article__title::after {
        content: '';
        width: 225px;
        height: 230px;
        background: url("../images/icons/icon-arrow1.svg") left top/contain no-repeat;
        position: absolute;
        right: 10%;
        top: 30%;
        -webkit-transform: translateY(10px, 50%);
        -ms-transform: translateY(10px, 50%);
        transform: translateY(10px, 50%);
    }

.material_article_breadcrumbs {
    position: absolute;
    left: 19%;
    top: 45%;
    text-decoration: none;
    background: url("../images/icons/icon-back.svg") left top/contain no-repeat;
    background-size: 5px;
    background-position-y: 50%;
    font-size: 17px;
    -webkit-transform: translateY(10px, 50%);
    -ms-transform: translateY(10px, 50%);
    transform: translateY(10px, 50%);
}
.material_article_title {
    margin-left: 15px;
    color: #0a0400;
}
    .material_article_title:hover {
        color: #FF6B00;
    }

@media (max-width: 992px) {
    .material_article_breadcrumbs{
        visibility:hidden;
    }
}
