<div ng-controller="tScreenshots" ng-click="block.edit()" class="screenshots">
    <div class="decor-bg radial-bg green"></div>
    <div class="decor-bg radial-bg orange"></div>
    <div class="screenshots__block-wrap">
        <div class="screenshots__block" ng-repeat="index in [0, 1]">
            <div class="screenshots__left">
                <div class="screenshots__column1">
                    <img ng-src="{{ images[0].src }}" alt="Image" ng-if="images.length > 0">
                    <img ng-src="{{ images[1].src  }}" alt="Image" ng-if="images.length > 1">
                </div>
                <div class="screenshots__column2">
                    <img ng-src="{{ images[2].src  }}" alt="Image" ng-if="images.length > 2">
                    <img ng-src="{{ images[3].src  }}" alt="Image" ng-if="images.length > 3">
                </div>
                <div class="screenshots__column3">
                    <div class="screenshots__column3-row">
                        <img ng-src="{{ images[4].src  }}" alt="Image" ng-if="images.length > 4">
                        <img ng-src="{{ images[5].src  }}" alt="Image" ng-if="images.length > 5">
                    </div>
                    <img ng-src="{{ images[6].src  }}" alt="Image" ng-if="images.length > 6">
                </div>
                <div class="screenshots__bottom">
                    <img ng-src="{{ images[7].src  }}" alt="Image" ng-if="images.length > 7">
                </div>
            </div>
            <div class="screenshots__right">
                <div class="big-image" ng-if="images.length > 8">
                    <img ng-src="{{ images[8].src  }}" alt="Image">
                </div>
                <img ng-src="{{ images[9].src  }}" alt="Image" ng-if="images.length > 9">
            </div>
        </div>
    </div>
</div>