<link rel="stylesheet" href="/css/screen-grid.min.css" />
<div ng-controller="tScreenshots" ng-click="block.edit()" class="screenshots">
    <div class="decor-bg radial-bg green"></div>
    <div class="decor-bg radial-bg orange"></div>
    <div class="screenshots__block-wrap">
        <div class="screenshots__block" ng-repeat="i in [0, 1]">
            <div class="screenshots__grid">
                <div class="screenshots__item{{$index+1}}" ng-repeat="image in images track by $index">
                    <img loading="lazy" ng-src="{{images[$index].src}}" alt="Screenshot" ng-if="images[$index]">
                </div>
            </div>
        </div>
    </div>
</div>