<div ng-controller="tWhyChooseUs" ng-click="block.edit()">
    <section class="choose">
        <div class="choose__top radial-bg">
            <div class="container">
                <h2 class="choose__title section-title">{{content.tTitle}}</h2>
                <div class="choose__block">
                    <div ng-repeat="section in sections" class="choose__column {{ section.tWith === '1' ? 'with' : 'without' }}">
                        <div class="choose__column-info">
                            <p class="choose__column-title">{{section.tTitle}}</p>
                            <ul class="choose__list">
                                <li class="choose__list-item" ng-repeat="item in section.tItems.contentData">
                                    {{item.tTitle}}
                                    <span ng-if="item.tTimeValue && item.tTimeType" class="choose__list-notice"><b>{{item.tTimeValue}}</b>{{item.tTimeType}}</span>                                   
                                </li>
                            </ul>
                            <p class="choose__column-result">{{section.tResultTimeValue}} {{section.tResultTimeType}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="choose__bottom">
            <div class="container">
                <div class="choose__bottom-inner">
                    <img class="choose__bottom-arrow" src="/images/icons/icon-arrow2.svg" alt="Arrow image">
                    <div class="choose__bottom-info">
                        <p class="choose__bottom-text" ng-bind-html="card.tText.markup"></p>
                        <a class="choose__bottom-link" ng-controller="tButton" ng-click="block.edit()" ng-class="toggleClass" ng-init="initButton(card.tButton.contentData[0])">
                            <span>{{card.tButton.contentData[0].tButtonTitle}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>