<div ng-controller="tInnerForPage" ng-click="block.edit()" style="min-height:900px">
    <section class="{{class}}">
        <div class="container">
            <div class="inner-top__content">
                <h1 class="inner-top__title big-title">{{content.tTitle}}</h1>
                <p class="inner-top__subtitle" ng-if="!content.TSubTitle.IsNullOrWhiteSpace()">{{content.TSubTitle}}</p>
                <div class="inner-top__images">
                    <div ng-if="images[0]" class="inner-top__image" ng-class="{'image-big': changes, 'image-small': !changes}">
                        <img ng-src="{{images[0].mediaLink}}" alt="Top image1">
                    </div>
                    <div ng-if="images[1]" class="inner-top__image" ng-class="{'image-small': changes, 'image-big': !changes}">
                        <img ng-src="{{images[1].mediaLink}}" alt="Top image2">
                    </div>
                    <div ng-controller="tDecor" ng-init="initDecors(content)"></div>
                    <span ng-controller="tDecor" ng-repeat="decor in content.tDecors.contentData" class="{{decor.typeClass}}">
                        <img ng-src="{{decor.src}}" alt="Decor points">
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>
