<?xml version="1.0" encoding="utf-8"?>
<DataType Key="072ee8e6-501a-4e3b-958d-9b9b95cd9a26" Alias="About Footer - Block List" Level="1">
  <Info>
    <Name>About Footer - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "27b67209-db58-4e64-b0bd-2417dfd905f6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Link: {{tLinkTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/Link/tLink.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>