<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1211fd5a-2f6d-4c3a-a60b-fbc359283212" Alias="Actions - Style - Dropdown" Level="1">
  <Info>
    <Name>Actions - Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "About"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>