<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3aec3c14-0aa0-41de-aa9d-dfc620c4f4d7" Alias="Block Title - Size - Dropdown" Level="1">
  <Info>
    <Name>Block Title - Size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "big"
    },
    {
      "id": 2,
      "value": "medium"
    },
    {
      "id": 3,
      "value": "small"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>