<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7de941c1-ad4f-4599-9658-1ea3b03d489f" Alias="Block Title - Font - Dropdown" Level="1">
  <Info>
    <Name>Block Title - Font - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Montserrat"
    },
    {
      "id": 2,
      "value": "Inter"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>