<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d890350a-cf09-4d91-a639-4b8a748204ac" Alias="Block Title - Color - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Block Title - Color - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>