<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8024b192-126d-42cc-8f51-4f75674a444c" Alias="Blog category" Level="1">
  <Info>
    <Name>Blog category</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "English"
    },
    {
      "id": 2,
      "value": "Polish"
    },
    {
      "id": 3,
      "value": "Lifestyle"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>