<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b5a0696-8b77-489c-bed4-adf6ce5b9025" Alias="Button - Dropdown - Dropdown" Level="1">
  <Info>
    <Name>Button - Dropdown - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Request"
    },
    {
      "id": 2,
      "value": "Platform"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>