<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54da5d58-cafd-4878-8e0f-e6dd3622cf21" Alias="Card - Text color - Color Picker" Level="1">
  <Info>
    <Name>Card - Text color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"451d00\",\"label\":\"451d00\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"150c05\",\"label\":\"150c05\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"fdfdfd\",\"label\":\"fdfdfd\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>