<?xml version="1.0" encoding="utf-8"?>
<DataType Key="117a79ac-3893-4312-a6e6-1fea7263175a" Alias="Cards with image - Block List" Level="1">
  <Info>
    <Name>Cards with image - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b2dede14-d182-4d47-94be-8044cd3809b2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{tCardWithImage}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>