<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcf533a1-0776-4579-86ce-ea174fedcb27" Alias="Card - Position - Dropdown" Level="1">
  <Info>
    <Name>Card - Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Center"
    },
    {
      "id": 2,
      "value": "Right"
    },
    {
      "id": 3,
      "value": "Left"
    },
    {
      "id": 4,
      "value": "Top"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>