<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93791c1e-fc3f-43e3-82a9-ac1b84939f73" Alias="Card - Title color - Color Picker" Level="1">
  <Info>
    <Name>Card - Title color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"161616\",\"label\":\"161616\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e95f32\",\"label\":\"e95f32\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"fdfdfd\",\"label\":\"fdfdfd\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>