<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7369376-b416-4215-8254-847af01c85bb" Alias="Contacts - Tiny cards - Block List" Level="1">
  <Info>
    <Name>Contacts - Tiny cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c0f8a456-4ab8-45d2-ac41-42084d56e03c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{tTinyCard}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": null
  }
}]]></Config>
</DataType>