<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8a79fa7-91bb-4b1b-a185-8c0d74493892" Alias="Contact - Social links - Block List" Level="1">
  <Info>
    <Name>Contact - Social links - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5f7eaf1e-1861-4978-85a5-20dd0fcfdd93",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Link: {{tSocialName}}",
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/SocialLink/tSocialLink.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": 1
  }
}]]></Config>
</DataType>