<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f15a6025-afb6-4fef-8c5a-f250e448eeab" Alias="Conteiner - Background Color - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Conteiner - Background Color - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>