<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff6caa66-d23e-4984-94cd-1fe94359600a" Alias="Cookies - Multi URL Picker" Level="1">
  <Info>
    <Name>Cookies - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>