<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3d328ef-29f8-4ac1-b0e5-474c971109d6" Alias="Decor item - Style - Dropdown" Level="1">
  <Info>
    <Name>Decor item - Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "green"
    },
    {
      "id": 2,
      "value": "orange"
    },
    {
      "id": 3,
      "value": "green-big"
    },
    {
      "id": 4,
      "value": "orange-big"
    },
    {
      "id": 5,
      "value": "white"
    },
    {
      "id": 6,
      "value": "white-big"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>