<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b558b37-994d-40e6-a7f9-249ffd44adfd" Alias="Decor item - Image - Media Picker" Level="1">
  <Info>
    <Name>Decor item - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>