<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e35c7dd5-28bc-42c6-ace8-423306cf5a8e" Alias="email list" Level="1">
  <Info>
    <Name>email list</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>