<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25e613ef-b5ef-475f-ae64-febe86cf1540" Alias="Filter select - FIlter itemss - Block List" Level="1">
  <Info>
    <Name>Filter select - FIlter itemss - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "660d0e63-9a7c-45ac-8c2d-74ee6ef80dba",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$index}} Dictionary: {{tKey}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>