<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ba16dce-66ad-443f-9014-dffc782774b1" Alias="Hero moving block - Moving blocks - Block List" Level="1">
  <Info>
    <Name>Hero moving block - Moving blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a8dd1a63-a50d-44eb-bc0a-f2b673e94a78",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$index}} Hero moving",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>