<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99214f33-3e4c-4c17-a8ac-c64fa7cb5e4b" Alias="Hero moving - Items - Block List" Level="1">
  <Info>
    <Name>Hero moving - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d958263d-162b-4783-954c-66db3aeaee28",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$index}} Moving item",
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/MovingItem/tMovingItem.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>