<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58ca4c2a-d01a-4e22-b90f-a857519a1370" Alias="Hero moving item - Size - Dropdown" Level="1">
  <Info>
    <Name>Hero moving item - Size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "small"
    },
    {
      "id": 2,
      "value": "normal"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>