<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcffc218-1298-4647-b857-53193cd4d08e" Alias="Hero moving block - Style - Dropdown" Level="1">
  <Info>
    <Name>Hero moving block - Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "teacher"
    },
    {
      "id": 2,
      "value": "school"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>