<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0b91cb7-cc59-481c-9f1f-3364fbaf0f66" Alias="Icons - Block List" Level="1">
  <Info>
    <Name>Icons - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$index}} Icon",
      "settingsElementTypeKey": null,
      "stylesheet": "~/css/style.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockGrid/Icon/tIcon.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>