<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0ae5457-9bf8-4c8c-af93-27c9b6f30f11" Alias="Icon - Icon size - Dropdown" Level="1">
  <Info>
    <Name>Icon - Icon size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Big"
    },
    {
      "id": 2,
      "value": "Small"
    },
    {
      "id": 3,
      "value": "Normal"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>