<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ef9a473-7281-4efe-a5ab-e11dc9bf9f09" Alias="Icons - Icons - Block List" Level="1">
  <Info>
    <Name>Icons - Icons - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f99b9a60-5693-4dd8-a134-8ae3db1ede6c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{tIcon}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 5,
    "min": 1
  }
}]]></Config>
</DataType>