<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df31c5b6-4b52-4fe3-ad13-f1f1d36af5cb" Alias="Icon position - Dropdown" Level="1">
  <Info>
    <Name>Icon position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Top"
    },
    {
      "id": 2,
      "value": "Left"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>