<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5a35f9a-eb5c-462c-b36b-702838a499e1" Alias="Images - Media Picker" Level="1">
  <Info>
    <Name>Images - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>