<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59ca6713-2125-4d38-a2aa-5918e6ac43d8" Alias="Inner for page top - For - Dropdown" Level="1">
  <Info>
    <Name>Inner for page top - For - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "teacher"
    },
    {
      "id": 2,
      "value": "school"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>