<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90b3ad19-88a0-4c6e-80a7-fea361355c72" Alias="Main Top - Top video - Media Picker" Level="1">
  <Info>
    <Name>Main Top - Top video - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo,File,Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>