<?xml version="1.0" encoding="utf-8"?>
<DataType Key="266f9cb6-2155-4795-b94e-49ed9dd674ed" Alias="Page 404 - Card - Block List" Level="1">
  <Info>
    <Name>Page 404 - Card - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "82056e37-f788-4aab-b626-ebb25f1df498",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{tCard}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>