<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8aeb8de7-ff69-4334-89f5-85c59323550e" Alias="Position Toggle" Level="1">
  <Info>
    <Name>Position Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Right",
  "LabelOn": "Left",
  "ShowLabels": true
}]]></Config>
</DataType>