<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d33310c-1ebc-4765-b268-e5c17e48ee44" Alias="Repeatable textstrings" Level="1">
  <Info>
    <Name>Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>