<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75d1e5ea-9255-4e29-beda-8d6b5f060a4b" Alias="Request Form - Email List - Repeatable textstrings" Level="1">
  <Info>
    <Name>Request Form - Email List - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>