<?xml version="1.0" encoding="utf-8"?>
<DataType Key="228f30fd-b1d4-4ad8-88d2-e5f4cc69065f" Alias="Request block - Style - Dropdown" Level="1">
  <Info>
    <Name>Request block - Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Main"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>