<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f271b9b5-f441-4f5b-964d-2e1a8166427b" Alias="Slide - Rating - Numeric" Level="1">
  <Info>
    <Name>Slide - Rating - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 1,
  "max": 5
}]]></Config>
</DataType>