<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09ad7e19-cc3f-4fca-aa16-d8729cd6e6ee" Alias="Social Link - Icon is white - Toggle" Level="1">
  <Info>
    <Name>Social Link - Icon is white - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Black",
  "LabelOn": "White",
  "ShowLabels": false
}]]></Config>
</DataType>