<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3340b6e-37e9-498b-a9b9-b8a1a20bfa52" Alias="Step item - Type - Dropdown (1)" Level="1">
  <Info>
    <Name>Step item - Type - Dropdown (1)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "1"
    },
    {
      "id": 2,
      "value": "2"
    },
    {
      "id": 3,
      "value": "3"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>