<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c98895e2-4f3b-48be-aaf4-734aa6609fbf" Alias="Step item - Type - Dropdown" Level="1">
  <Info>
    <Name>Step item - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "1"
    },
    {
      "id": 2,
      "value": "2"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>