<?xml version="1.0" encoding="utf-8"?>
<DataType Key="882476b3-1cd4-4a55-aeaf-81da550be5eb" Alias="Style - Dropdown (1)" Level="1">
  <Info>
    <Name>Style - Dropdown (1)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "About"
    },
    {
      "id": 2,
      "value": "Main"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>