<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7a329f5e-dfb1-4364-8438-122da52b4a7c" Alias="Style - Dropdown" Level="1">
  <Info>
    <Name>Style - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "1"
    },
    {
      "id": 2,
      "value": "2"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>