<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41122e7d-433d-44ea-8023-05cbd42e294f" Alias="Text list with image - Repeatable textstrings" Level="1">
  <Info>
    <Name>Text list with image - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 5,
  "Minimum": 1
}]]></Config>
</DataType>