<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b7d1925-d9f0-4a36-8a2f-fbbc30f91601" Alias="Text - Block List" Level="1">
  <Info>
    <Name>Text - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "11739d1f-ca3e-423f-8942-36ddf8978892",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{tRichTextEditor}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>