<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d4072b2-1b73-499f-8fb1-cc237640f1d7" Alias="Time type" Level="1">
  <Info>
    <Name>Time type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "min"
    },
    {
      "id": 2,
      "value": "hour"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>