<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6011ad2-c7cd-48fd-afb9-ff4b82de14da" Alias="Tutor lesson - Items - Block List" Level="1">
  <Info>
    <Name>Tutor lesson - Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2bf91604-d8cd-4df6-95ad-a8f9e90ee444",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{$index}}  Image with text",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>