@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TCard>
@{
    var button = Model.TButton?.Content;
}

<div class="actions__column">
    <div class="actions__item" tabindex="0">
        @if (!string.IsNullOrEmpty(Model.TTitle))
        {
            <span class="actions__item-title medium-title">@Model.TTitle</span>          
        }
        <p class="actions__item-text">@Model.TText</p>
        @if(button != null)
        {
            @await Html.PartialAsync("tutorPartials/TButton", button, new ViewDataDictionary(ViewData) { { "class", "actions__item-link" }, { "span", true } })
        }
    </div>
</div>