@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TChoosePart>
@{
    var withClass = Model.TWith ? "with" : "without";
}

<div class="choose__column @withClass">
    <div class="choose__column-info">
        <p class="choose__column-title">@Model.TTitle</p>
        <ul class="choose__list">
            @if(Model.TItems != null)
            {
                foreach(var item in Model.TItems)
                {
                    @await Html.PartialAsync("tutorPartials/TChooseItem", item.Content)
                }
            }
        </ul>
        <p class="choose__column-result">@($"{Model.TResultTimeValue} {Model.TResultTimeType}")</p>
    </div>
</div>