@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TChooseItemCard>
@{
    var gap = ViewData["gap"] + "px";
}

<li class="choose__list-item" style="margin-bottom:@gap">
    @Model.TTitle
    @if(!Model.TTimeValue.IsNullOrWhiteSpace() && Model.TTimeType != null)
    {
        <span class="choose__list-notice"><b>@Model.TTimeValue</b>@Model.TTimeType</span>      
    }
</li>