@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TCircleText>
@{
    var index = ViewData["index"];
}
<div class="circle circle-@index" style="flex-direction:@(Model.TDirection)">
    <h1 class="circle_title">@Model.TTitle</h1>
    <svg width="36" height="37" viewBox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M33 18.5C33 26.7843 26.2843 33.5 18 33.5C9.71573 33.5 3 26.7843 3 18.5C3 10.2157 9.71573 3.5 18 3.5C26.2843 3.5 33 10.2157 33 18.5Z" fill="#FFE5C7" stroke="#FF6B00" stroke-width="6" />
    </svg>
    <p class="circle_text">@Model.TText</p>
</div>

<style>
   
</style>