@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

<footer class="footer radial-bg">
    <div class="container">
        <div class="footer__inner">
            @if(Model != null)
            {
                @if (Model.TQuickLinks != null)
                {
                    @await Html.PartialAsync("tutorPartials/TQuickLink", Model.TQuickLinks.Content, new ViewDataDictionary(ViewData))
                }
                @if (Model.TContactUsFooter != null)
                {
                    @await Html.PartialAsync("tutorPartials/TContacts", Model.TContactUsFooter.Content, new ViewDataDictionary(ViewData))
                }
                @if(Model.TAboutFoot != null)
                {
                    @await Html.PartialAsync("tutorPartials/TAbout", Model.TAboutFoot.Content)                  
                }                            
            }                
        </div>
    </div>
</footer>
