@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<button class="languages__current" data-choice="En" type="button">En</button>
<div class="languages__list">
    <a class="languages__link active" data-lang="En" href="#">En</a>
    <a class="languages__link" data-lang="Pl" href="#">Pl</a>
    <a class="languages__link" data-lang="Ua" href="#">Ua</a>
</div>