@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<THeaderChildBlock>
<div class="column">
    <h3 class="column__title">@Model.TTitle</h3>
    @if (Model.TChilds != null && Model.TChilds.Any())
    {
        foreach (var child in Model.TChilds)
        {
            
            @if (child.Content is TRepeatableDictionary headerChild)
            {
                var url = $"{ViewData["mainUrl"]}?Filter={headerChild.TKey}";
                <a class="column__item" data-query="@headerChild.TKey" href="@url">@headerChild.TValue</a>
            }
        }
    }
</div>