@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@{
	var logoIconPath = Model.TLogo == null ? "/media/okxhqfjy/logo-2.svg" : Model.TLogo.Url();
}

<div style="display:flex">
	<div>
		<img width="100" height="100" src="@logoIconPath" />
		
		@if (Model.THeaderLinks != null && Model.THeaderLinks.Any())
		{
			@Html.GetBlockListHtml(Model.THeaderLinks)		
		}
	</div>
</div>
