@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<THeroMovingItem>
@{
    var itemClass = Model.TSize == "small" ? "small-" : ""; 
}

<div class="animated__@(itemClass)item">
    @Html.Raw(Model.TText)
</div>