@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<THeroMovingItem>
@{
    var itemClass = Model.TSize == "small" ? "small-" : ""; 
}

<div class="animated__@(itemClass)item">
    @if(Model.TTitle != null)
    {
        <span>@Html.Raw(Model.TTitle)</span>
    }
    @if(Model.TText != null)
    {
        <p>@Model.TText</p>
    }
</div>