@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TInfoItem>

<div class="about-info__item @(Model.TReverse ? "reverse" : "") ">
    <span class="decor-element ring-big parallax-element"></span>
    <div class="about-info__item-content">
       @Html.Raw(Model.TText)
    </div>
    <div class="about-info__item-image">
        @if(Model.TImage != null)
        {
            <img loading="lazy" src="@Model.TImage.Url()" />
        }

        @if (Model.TDecors != null)
        {
            @foreach (var decor in Model.TDecors)
            {
                @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
            }
        }
    </div>
</div>