@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TIcon>

<div class="process__item">
    @if(Model.TIconImage != null)
    {
        <img class="process__item-icon" src="@Model.TIconImage.Url()" alt="Item icon">       
    }
    <p class="process__item-text">@Model.TText</p>
</div>