@using System.Globalization
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TQuickLinks>
@{
    var pageName = Umbraco.AssignedContentItem.Name;

    var language = Umbraco.CultureDictionary.Culture.Name;
}

<div class="footer__actions">
    <span class="footer__title medium-title">@Model.TQuickTitle</span>
    <ul class="footer__menu">
        @if(Model.TLinks != null)
        {
            @foreach(var link in Model.TLinks)
            {
                var newLink = link.Content as TBlockLink;
                <li class="footer__menu-item">
                    <a class="footer__menu-link @(pageName == newLink?.TUrl?.Name  ? "active" : "")" href="@newLink?.TUrl?.Url">@newLink?.TLinkTitle</a>
                </li>
            }
        }
    </ul>
    @if (Model.TShowLanguagesSwitch)
    {              
        <div class="footer__languages">
            @await Html.PartialAsync("tutorPartials/TLanguagesList", UmbracoContext?.PublishedRequest?.PublishedContent)
        </div>
    } 
</div>