@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TRequestBlock>

<div class="actions__form-block">
    @if(Model.TStyle == "Main")
    {
        <span class="decor-element points parallax-element">
            <img src="~/images/icons/decor-elements/decor-points-orange-big.svg" alt="Decor points">
        </span>
    }  
    <div class="actions__form-wrap">
        <h2 class="actions__form-title medium-title section-title">@Model.TTitle</h2>
        <form class="actions__form request-form three-cols" action="~/Umbraco/Api/Form/RequestForm" method="post" enctype="application/x-www-url-formencoded">
            @Html.AntiForgeryToken()
            <div class="request-form__row">
                <div class="request-form__item required">
                    <input class="request-form__input required" type="text" data-name="name" name="request-name" placeholder="@Model?.TPlaceholderForName">
                </div>
                <div class="request-form__item required">
                    <input class="request-form__input required" type="email" data-name="email" name="request-email" placeholder="@Model?.TPlaceholderForEmail">
                </div>
                <div class="request-form__item required">
                    <input class="request-form__input required" type="tel" data-name="phone number" name="request-phone" placeholder="@Model?.TPlaceholderForPhone">
                </div>
            </div>
            <div class="request-form__actions">
                @if(Model?.TButton != null)
                {
                    <button class="request-form__submit link link@(Model.TButton.Content.TFill ? "-main" : "-inverted")" type="submit"><span>@Model.TButton.Content.TButtonTitle</span></button>             
                }
                <p class="request-form__error"><span></span></p>
            </div>
        </form>
    </div>
</div>