@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<TIcon>

<div class="teacher-hero__info-item">
    @if(Model.TIconImage != null)
    {
        <img loading="lazy" class="teacher-hero__info-icon" src="@Model.TIconImage?.Url()" alt="Item icon">
    }
    <p class="teacher-hero__info-text">@Model.TText</p>
</div>