<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b385776-fdd8-4d34-a6cd-1d95772dccd3" Alias="blockGridPage" Level="2">
  <Info>
    <Name>Blog grid page</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8b385776-fdd8-4d34-a6cd-1d95772dccd3" SortOrder="0">blockGridPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8c4b3d7f-1d4b-4d95-aab9-2797956462e5</Key>
      <Name>BlockGrid</Name>
      <Alias>blockGrid</Alias>
      <Definition>d6843fd4-f0cf-482f-9ed9-a7d2899d1bdf</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="page">Page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1fb94004-7557-45cd-b7f9-9bcf6dfe18ce</Key>
      <Caption>Page</Caption>
      <Alias>page</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>