<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="740a1015-4582-4e98-bcaf-49a1068b025c" Alias="blockListPage" Level="2">
  <Info>
    <Name>Block list page</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b20de5be-35a2-460c-8aee-b74213f1ab6b">BlockListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="740a1015-4582-4e98-bcaf-49a1068b025c" SortOrder="0">blockListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9dc1191b-eee6-46af-83e8-0a67a7848e4e</Key>
      <Name>BlockList</Name>
      <Alias>tBlockList</Alias>
      <Definition>12728837-684b-4096-a1b6-77167e5949a9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d11f602-ba91-4474-b87d-8f81606ade82</Key>
      <Name>Padding</Name>
      <Alias>tPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f83734e0-15b6-4744-8e3a-8cafec401f29</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>