<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3f4cffff-7db8-4f7c-a02c-919ecb2fe4e3" Alias="blockGridPage" Level="2">
  <Info>
    <Name>Block grid page</Name>
    <Icon>icon-article color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>BlockGridPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="167faab7-bb86-47aa-b7a8-19d5a6bd4715">BlockGridPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3f4cffff-7db8-4f7c-a02c-919ecb2fe4e3" SortOrder="0">blockGridPage</ContentType>
    <ContentType Key="fd7650ec-23cb-446c-aebb-f8cadfcf6bb1" SortOrder="1">materialArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b2e390b4-ce2b-4abf-87c4-2ca5323735e1</Key>
      <Name>Block grid page</Name>
      <Alias>tBlockGridPage</Alias>
      <Definition>8d8b3072-2d7e-4435-86c9-59dcc79feb52</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2f2d9af-08a1-4a0e-9870-1fb47e02ebc9</Key>
      <Name>Padding</Name>
      <Alias>tPadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0f950e68-36e6-4576-9336-3557c8c81c9f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>