<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37cd979f-6320-4e55-b65e-31a726d2444c" Alias="materialCategoryPage" Level="2">
  <Info>
    <Name>Material category page</Name>
    <Icon>icon-article color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>MaterialCategoryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e250fdfa-1b8a-48e6-87c2-4c7b8ec0888f">MaterialCategoryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="37cd979f-6320-4e55-b65e-31a726d2444c" SortOrder="0">materialCategoryPage</ContentType>
    <ContentType Key="fd7650ec-23cb-446c-aebb-f8cadfcf6bb1" SortOrder="1">materialArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9eb8460c-e9b8-403d-a8f1-583c9dddd61b</Key>
      <Name>Preview</Name>
      <Alias>tPreview</Alias>
      <Definition>57b111e9-9f6d-40d4-b7cb-61d873660d2d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89a47e96-1598-4de7-aa63-f2e8b8dd43d4</Key>
      <Name>Tag</Name>
      <Alias>tTag</Alias>
      <Definition>2d33310c-1ebc-4765-b268-e5c17e48ee44</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8c31a701-8405-4d88-b3e4-e79e1fe9392b</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>