<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba92d559-39e2-49cf-be73-ebfedffcb352" Alias="materialPage" Level="2">
  <Info>
    <Name>MaterialPage</Name>
    <Icon>icon-grid color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>MaterialPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8d1a7344-caf4-4f03-932f-108c9d068059">MaterialPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fd7650ec-23cb-446c-aebb-f8cadfcf6bb1" SortOrder="0">materialArticle</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>35b2de05-f5a6-4cb8-9e13-160562326676</Key>
      <Name>Action</Name>
      <Alias>tAction</Alias>
      <Definition>02403eb6-ada2-4b0d-997b-467e0cc8b685</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="main/blockGridPage">Block grid page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>520a4fd8-094b-41cf-a171-c2c52445b5d1</Key>
      <Name>Article api url</Name>
      <Alias>tArticleApiUrl</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="articleSettings">Article settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34673cef-fb5d-4049-8e43-09b75e37a55c</Key>
      <Name>Article content width</Name>
      <Alias>tArticleContentWidth</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="articleSettings">Article settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>894e83ca-bde1-44d0-b5b4-9175fc9c9de4</Key>
      <Name>Inner top</Name>
      <Alias>tInnerTop</Alias>
      <Definition>80f62ec9-5d8f-4eab-9e07-2f235b062314</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main/blockGridPage">Block grid page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd86cf2d-05e4-4696-8794-8e3fdf2c5d4e</Key>
      <Name>Material Core</Name>
      <Alias>tMaterialFilters</Alias>
      <Definition>c813c1c4-df16-46f9-8a40-5d6bf1d30374</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="main/blockGridPage">Block grid page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>02904e82-7f29-4d59-a40f-4bc23ead052b</Key>
      <Caption>Block grid page</Caption>
      <Alias>main/blockGridPage</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4410ee91-eac3-4121-9bfe-d7136dc56be4</Key>
      <Caption>Article settings</Caption>
      <Alias>articleSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e240dc5e-814e-4d58-9be8-7eccd8eba820</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>