<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84feecfc-b24c-4775-8fd0-4f142ae935d7" Alias="tFullScreenBlockImage" Level="2">
  <Info>
    <Name>Full Screen Block Image</Name>
    <Icon>icon-window-sizes color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Base+Models</Folder>
    <Compositions>
      <Composition Key="ce134633-f03c-48e3-92fe-edabb925ecb9">tBlockImage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>