<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2061e8ef-a02c-4646-a3fc-0f2509302880" Alias="tListPage" Level="2">
  <Info>
    <Name>List page</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2061e8ef-a02c-4646-a3fc-0f2509302880" SortOrder="0">tListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bbeea931-3a1c-49a4-b7b6-561230256e1f</Key>
      <Name>Block List</Name>
      <Alias>TBlockListPage</Alias>
      <Definition>19af6659-4344-476c-b3b7-bdc7dfd9826c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="page">Page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b14dc22a-cc97-475e-bd8f-0e0de4311880</Key>
      <Caption>Page</Caption>
      <Alias>page</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>