@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TBlockLink)Model.Content;
}

<a style="text-decoration: none; text-align: center;" href="@content.TUrl?.Url">
    @Html.GetBlockListHtml(content.TLinkTitle)
</a>

