@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TBlockLink)Model.Content;
}

<li class="header__menu-item">
    <a class="header__menu-link" href="@content.TUrl?.Url">
        @content.TLinkTitle
    </a>
</li>

