@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TBlockLink)Model.Content;
}

<a href="@content.TUrl?.Url">@content.TLinkTitle</a>

