@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TBranches)Model.Content;
}

<div class="branches radial-bg type-@content.TType">
    <div class="container">
        <div class="branches__block">
            @if(content.TItems != null)
            {
                @foreach(var item in content.TItems)
                {
                    @await Html.PartialAsync("tutorPartials/TBrancheItem", item.Content)
                }
            }
        </div>
    </div>
</div>