@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TMainTop)Model.Content;
    var titleParts = content.TTitle?.Split(" ");
    var firstTitlePart = "";
    var secondTitlePart = "";

    if (titleParts != null)
    {
        for (int i = 0; i < Math.Min(content.TNumberOfColoredWords, titleParts.Length); i++)
        {
            firstTitlePart += $" {titleParts[i]}";
        }

        if (titleParts.Length > content.TNumberOfColoredWords)
        {
            secondTitlePart = " " + string.Join(" ", titleParts.Skip(content.TNumberOfColoredWords));
        }
    }
    var button = content.TButton?.Content;
}

<!-- Section "Main Top" -->
<section class="main-top">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    <div class="decor-bg radial-bg"></div>
    <div class="container">
        <!-- <div class="main-top__inner"></div> -->
        <h1 class="main-top__title"><span>@firstTitlePart</span>@secondTitlePart</h1>
        <div class="main-top__image">
            @Html.GetBlockListHtml(content.TImage)
            <span class="decor-element points-1 parallax-element">
                <img src="~/images/icons/decor-elements/decor-points-white.svg" alt="Decor points">
            </span>
            <span class="decor-element points-2 parallax-element">
                <img src="~/images/icons/decor-elements/decor-points-green.svg" alt="Decor points">
            </span>
            <span class="decor-element points-3 parallax-element">
                <img src="~/images/icons/decor-elements/decor-points-orange.svg" alt="Decor points">
            </span>
        </div>
        <div class="main-top__info">
            <p class="main-top__text">@content.TInfoText</p>
            @if(button != null)
            {
                @await Html.PartialAsync("tutorPartials/TButton", button, new ViewDataDictionary(ViewData) { { "class", "main-top__link" }, { "span", false } })
            }           
        </div>
    </div>
</section>