@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (TMarginsBlock)Model.Content;
    var marginTop = $"{content.TMarginTop}%";
    var marginBottom = $"{content.TMarginBottom}%";
    var marginLeft = $"{content.TMarginLeft}%";
    var marginRight = $"{content.TMarginRight}%";
}
<div style="margin: @marginTop @marginRight @marginBottom @marginLeft">
</div>