@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (TPlatformHelpSchool)Model.Content;
    var texts = content.TContent;
}

<!-- Section "Platform help school" -->
<section class="platform">
    <div class="container">
        <h2 class="platform__title section-title">@content.TTitle</h2>
        <div class="platform__block">
            <div class="platform__info">
                <ul class="platform__list">
                    @if (texts != null)
                    {
                        @foreach(var text in texts)
                        {
                            <li class="platform__list-item">@text</li>
                        }
                    }   
                </ul>
            </div>
            <div class="platform__image">
                <span class="decor-element ring parallax-element">
                    <img src="./images/icons/decor-elements/decor-ring-orange.svg" alt="Decor ring">
                </span>
                <span class="decor-element points parallax-element">
                    <picture>
                        <source srcset="./images/icons/decor-elements/decor-points-green.svg" media="(max-width: 576px)">
                        <img src="./images/icons/decor-elements/decor-points-orange.svg" alt="Decor points">
                    </picture>
                </span>
                <img class="platform__image-big" src="@content.TImage?.Url()" alt="Big image">
                <img class="platform__image-small" src="@content.TImageSmall?.Url()" alt="Small image">
            </div>
        </div>
    </div>
</section>