@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var form = Model.Content as TRequestBlock;
}

<form action="~/Umbraco/Api/Form/RequestForm" method="post" enctype="application/x-www-url-formencoded">
    @Html.AntiForgeryToken()
    <input type="text" name="SenderName" id="nameInput" placeholder="@form.TPlaceholderForName">
    <input type="text" name="SenderEmail" id="emailInput" placeholder="@form.TPlaceholderForEmail">
    <input type="text" name="SenderPhone" id="phoneInput" placeholder="@form.TPlaceholderForPhone">
    <button type="submit">Submit</button>
</form>