@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TRichTextEditor)Model.Content;
}
<div style="color:@content.TTextColor">
    @Html.Raw(content.TText)
</div>