@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TRichTextEditor)Model.Content;
}
<div style="color:@content.TTextColor; background-color:@content.TBackgroundColor; border-radius:10px; padding:5px;">
    @Html.Raw(content.TText)
</div>