@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>

@{
    var content = (TTinyCard)Model.Content;
}

<div>
    @if(content.TImage != null)
    {
        @Html.GetBlockListHtml(content.TImage)
    }
    @if(content.TTitle != null)
    {
        @Html.GetBlockListHtml(content.TTitle)
    }
    @if(content.TSubTitle != null)
    {
        @Html.GetBlockListHtml(content.TSubTitle)
    }
</div>