<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7e5b97e-8d4f-4f0d-a38e-4231a32f8102" Alias="1.1" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:15</CreateDate>
    <NodeName Default="1.1" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pc2plr0p/11.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>