<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbadb1c9-5045-4a36-814d-1a6f2dc665c1" Alias="1.2" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:18</CreateDate>
    <NodeName Default="1.2" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z4yl1o0f/12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>