<?xml version="1.0" encoding="utf-8"?>
<Media Key="38870cd6-d05f-4e43-a849-007ba9083dbf" Alias="1.3" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:18</CreateDate>
    <NodeName Default="1.3" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0agiooc5/13.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>