<?xml version="1.0" encoding="utf-8"?>
<Media Key="30a66930-9a10-43f8-b9b6-910ff3234b5b" Alias="1.5" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:16</CreateDate>
    <NodeName Default="1.5" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gzulmmaq/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>