<?xml version="1.0" encoding="utf-8"?>
<Media Key="e36de865-9d48-452b-9110-b6a3246a7172" Alias="2.1" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:18</CreateDate>
    <NodeName Default="2.1" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mpug1y0i/21.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>