<?xml version="1.0" encoding="utf-8"?>
<Media Key="41a7f2cd-46e1-4d11-9157-5e5a35cb91ba" Alias="2.2" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:17</CreateDate>
    <NodeName Default="2.2" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zpzkoqpb/22.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>