<?xml version="1.0" encoding="utf-8"?>
<Media Key="0beb4bd0-323d-47f6-8c02-4c4b93956c51" Alias="3 3" Level="2">
  <Info>
    <Parent Key="36f8be23-3d76-400a-898b-b6f86123cd76">For school</Parent>
    <Path>/ForSchool/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T10:03:19</CreateDate>
    <NodeName Default="3 3" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0zfpwcz3/3-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>