<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ef2fa0d-7cf4-4d61-94d7-6fca7e2cf02f" Alias="3 5" Level="2">
  <Info>
    <Parent Key="36f8be23-3d76-400a-898b-b6f86123cd76">For school</Parent>
    <Path>/ForSchool/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T10:03:19</CreateDate>
    <NodeName Default="3 5" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bp3pelxu/3-5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>