<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ee42c3c-e5f1-4bb6-9307-f2261cd81a2e" Alias="3.1" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T15:22:17</CreateDate>
    <NodeName Default="3.1" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hiwoihxr/3-5-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>