<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b75018f-3eb9-422b-8312-bdb2c4f47ea7" Alias="3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="cb5776a4-825b-4193-9c10-5acd0799cd56">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T12:46:32</CreateDate>
    <NodeName Default="3" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/reahkw3z/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>