<?xml version="1.0" encoding="utf-8"?>
<Media Key="277665b9-05e3-434b-a888-8493a995f8b1" Alias="About Info Image2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutInfoImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-11T12:36:57</CreateDate>
    <NodeName Default="About Info Image2" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x3shmj5d/about-info-image2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>