<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c50bc06-4d25-4da0-aa0b-657602bf58dd" Alias="Blog Item1 Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogItem1Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T11:22:35</CreateDate>
    <NodeName Default="Blog Item1 Image" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ac4fbdbf/blog-item1-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>