<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c8decf4-b4ff-4aa7-9c2d-80e1457dca93" Alias="Blog Item4 Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogItem4Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T11:22:35</CreateDate>
    <NodeName Default="Blog Item4 Image" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lwi1dh5/blog-item4-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>