<?xml version="1.0" encoding="utf-8"?>
<Media Key="61a817e8-00c1-4ddc-98d4-79c621e0a3ee" Alias="Blog Item2 Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogItem2Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T11:22:35</CreateDate>
    <NodeName Default="Blog Item2 Image" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3yllqyob/blog-item2-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>