<?xml version="1.0" encoding="utf-8"?>
<Media Key="10b17942-69a1-471d-a09b-aab5d6cc36dc" Alias="Blog Item5 Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogItem5Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T11:22:34</CreateDate>
    <NodeName Default="Blog Item5 Image" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ir2lcefb/blog-item5-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>