<?xml version="1.0" encoding="utf-8"?>
<Media Key="938fbd05-46cf-4a5c-9988-62bbab5135be" Alias="Blog Item6 Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlogItem6Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T11:22:35</CreateDate>
    <NodeName Default="Blog Item6 Image" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ao4j5e4p/blog-item6-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>