<?xml version="1.0" encoding="utf-8"?>
<Media Key="451b784d-10b2-457f-9243-c78efcf8e158" Alias="Color" Level="2">
  <Info>
    <Parent Key="df94f839-b4f4-464b-afe1-a09aed3fb771">Main page</Parent>
    <Path>/MainPage/Color</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T09:25:37</CreateDate>
    <NodeName Default="Color" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jn2bwrns/color.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>