<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e942af9-93c4-416f-93f2-b2898f0f3a61" Alias="Cookies Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CookiesIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-11T11:06:31</CreateDate>
    <NodeName Default="Cookies Icon" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/52vji5we/cookies-icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>