<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4718562-4d05-4c27-b4a1-4b7f59f140c2" Alias="Cream Colorful Illustrative English Course Facebook Post (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreamColorfulIllustrativeEnglishCourseFacebookPost2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-08T08:21:29</CreateDate>
    <NodeName Default="Cream Colorful Illustrative English Course Facebook Post (2)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kochdvaf/cream-colorful-illustrative-english-course-facebook-post.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>