<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8c05bc0-933a-489b-b878-4d1833da5563" Alias="Cream Colorful Illustrative English Course Facebook Post (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CreamColorfulIllustrativeEnglishCourseFacebookPost1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-08T08:16:34</CreateDate>
    <NodeName Default="Cream Colorful Illustrative English Course Facebook Post (1)" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4fnnb0b0/cream-colorful-illustrative-english-course-facebook-post-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>