<?xml version="1.0" encoding="utf-8"?>
<Media Key="639fbfc3-abaa-4c4d-b8ed-cb9e585d5100" Alias="Decor Points Green" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorPointsGreen</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Points Green" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4k5j4y3k/decor-points-green.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>