<?xml version="1.0" encoding="utf-8"?>
<Media Key="800a153e-ff73-4f1e-bee4-5b3dae1938ca" Alias="Decor Points Orange" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorPointsOrange</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Points Orange" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b2kbvadt/decor-points-orange.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>