<?xml version="1.0" encoding="utf-8"?>
<Media Key="cab69761-9590-4601-bfe1-5e8a17d22b8d" Alias="Decor Points White Big" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorPointsWhiteBig</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Points White Big" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kcllnsuq/decor-points-white-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>