<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0325e4a-8cd4-4200-8ae7-d75bd5aa3d29" Alias="Decor Points Orange Big" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorPointsOrangeBig</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Points Orange Big" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pnpdfmgu/decor-points-orange-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>