<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebd070d3-3a7a-4b16-af5d-262e2dc2d847" Alias="Decor Circle Green" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorCircleGreen</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Circle Green" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2jynb010/decor-circle-green.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>