<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f05db0d-4f4f-493e-a74a-d030ab83b639" Alias="Decor Ring Green" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorRingGreen</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Ring Green" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/htnblh0p/decor-ring-green.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>