<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae58f25-640d-406d-9289-8e789ccdb721" Alias="Decor Circle Orange" Level="102">
  <Info>
    <Parent Key="356ea16f-78af-4971-a98d-fb6da364fb96">Decor</Parent>
    <Path>/[-21]/Decor/DecorCircleOrange</Path>
    <Trashed Parent="356ea16f-78af-4971-a98d-fb6da364fb96">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-15T15:19:40</CreateDate>
    <NodeName Default="Decor Circle Orange" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cshplkqn/decor-circle-orange.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>