<?xml version="1.0" encoding="utf-8"?>
<Media Key="0593fb40-2499-4ee5-96f7-4d866f9f4e04" Alias="Ezgif.Com Video To Gif 1" Level="2">
  <Info>
    <Parent Key="df94f839-b4f4-464b-afe1-a09aed3fb771">Main page</Parent>
    <Path>/MainPage/EzgifComVideoToGif1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T09:25:37</CreateDate>
    <NodeName Default="Ezgif.Com Video To Gif 1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i13jgbmz/ezgifcom-video-to-gif-1.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>