<?xml version="1.0" encoding="utf-8"?>
<Media Key="36f8be23-3d76-400a-898b-b6f86123cd76" Alias="For school" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ForSchool</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-15T12:46:29</CreateDate>
    <NodeName Default="For school" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>