<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f39dd71-625e-4338-b323-92df6f2c2c0d" Alias="Icon Social Instagram Dark (1)" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/IconSocialInstagramDark1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:22:31</CreateDate>
    <NodeName Default="Icon Social Instagram Dark (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/idodsl04/icon-social-instagram-dark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>