<?xml version="1.0" encoding="utf-8"?>
<Media Key="35593260-2f37-46d2-988e-0e57cb3e8710" Alias="Icon Social Tiktok Dark" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IconSocialTiktokDark</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:30</CreateDate>
    <NodeName Default="Icon Social Tiktok Dark" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kezfsnjx/icon-social-tiktok-dark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>