<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dd58fcd-7226-48d9-b097-abd18d384809" Alias="Icon Success" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconSuccess</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-29T11:46:21</CreateDate>
    <NodeName Default="Icon Success" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5shnkljg/icon-success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>