<?xml version="1.0" encoding="utf-8"?>
<Media Key="db407ec5-ed32-4802-9ae5-0e2fbc81b531" Alias="Icon Ai" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/IconAi</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-18T12:46:15</CreateDate>
    <NodeName Default="Icon Ai" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4r5ebwzs/icon-ai.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>