<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b1d7645-7724-4a21-a446-38af3dd7b2cc" Alias="Icon Social Tiktok White" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IconSocialTiktokWhite</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:31</CreateDate>
    <NodeName Default="Icon Social Tiktok White" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/or1b0kze/icon-social-tiktok-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>