<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d2d9523-b120-43bb-b7d6-6567b0c3eff6" Alias="Icon Social Instagram Dark" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/IconSocialInstagramDark</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T09:43:46</CreateDate>
    <NodeName Default="Icon Social Instagram Dark" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ckkd0hja/icon-social-instagram-dark.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>