<?xml version="1.0" encoding="utf-8"?>
<Media Key="ced4b5c1-a632-4d03-ab6e-44851ff42f3b" Alias="Icon Social Instagram White" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IconSocialInstagramWhite</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:22:32</CreateDate>
    <NodeName Default="Icon Social Instagram White" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4c0njtrs/icon-social-instagram-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>