<?xml version="1.0" encoding="utf-8"?>
<Media Key="47cdc45f-d030-4091-a2e8-973f71940428" Alias="Icon Check Green" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/IconCheckGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T09:43:44</CreateDate>
    <NodeName Default="Icon Check Green" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1cm0rzq/icon-check-green.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>