<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3f99ccd-b8b2-41b0-9ea2-4946de13c70e" Alias="Instagram white" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/InstagramWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-24T09:30:14</CreateDate>
    <NodeName Default="Instagram white" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5soptm3s/icon-social-instagram-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>