<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7f3932d-c2a3-411b-8cfe-2999a587e478" Alias="Instagram 1 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Instagram11</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-12T09:31:09</CreateDate>
    <NodeName Default="Instagram 1 (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dsjphn3d/instagram-1-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>