<?xml version="1.0" encoding="utf-8"?>
<Media Key="2caf6b12-0840-44b1-b148-c2e1fc1ad87c" Alias="Instagram 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Instagram1</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-11T12:03:59</CreateDate>
    <NodeName Default="Instagram 1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/envl4lca/instagram-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>