<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ae0dfd3-018a-4ef0-9b4a-e88e109d328c" Alias="Linked in dark" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LinkedInDark</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-29T11:09:09</CreateDate>
    <NodeName Default="Linked in dark" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lppaouk/icons8-linkedin-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>