<?xml version="1.0" encoding="utf-8"?>
<Media Key="1568af43-c138-4ba1-8e7a-fe31b491df67" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-02T14:36:08</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/okxhqfjy/logo-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>