<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc8d5b3f-174f-4e7b-857e-18381b7039a3" Alias="Logo (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-24T09:27:48</CreateDate>
    <NodeName Default="Logo (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bznj1tcp/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>