<?xml version="1.0" encoding="utf-8"?>
<Media Key="edb465a1-9ae0-45a1-b18a-3e50e88e89b3" Alias="Logo" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logo</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-05T10:45:07</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sbslj1pa/logo-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>