<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4ca7487-fd2d-40cf-ba6a-728fe78ef1e5" Alias="Macbook Pro Fortecher 6" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/MacbookProFortecher6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T12:46:33</CreateDate>
    <NodeName Default="Macbook Pro Fortecher 6" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qf0mvjbn/macbook-pro_fortecher_6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>