<?xml version="1.0" encoding="utf-8"?>
<Media Key="18216eed-b4e7-4768-8a7c-e5de63c649c3" Alias="Macbook Pro Forteacher 5" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/MacbookProForteacher5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T12:46:32</CreateDate>
    <NodeName Default="Macbook Pro Forteacher 5" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3nxccghh/macbook-pro_forteacher_5-1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>