<?xml version="1.0" encoding="utf-8"?>
<Media Key="e979ded1-54ba-4522-bdab-ccd0d67d598c" Alias="Macbook Pro 17 2" Level="2">
  <Info>
    <Parent Key="36f8be23-3d76-400a-898b-b6f86123cd76">For school</Parent>
    <Path>/ForSchool/MacbookPro172</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T10:03:19</CreateDate>
    <NodeName Default="Macbook Pro 17 2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/05pht0n0/macbook-pro-17_2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>