<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d63a1fb-5c4a-4e9c-b143-4ad5143f710c" Alias="Mail 20Px" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/Mail20Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-07T10:16:14</CreateDate>
    <NodeName Default="Mail 20Px" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zkqhhdkk/mail-20px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>