<?xml version="1.0" encoding="utf-8"?>
<Media Key="df94f839-b4f4-464b-afe1-a09aed3fb771" Alias="Main page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-08T14:51:24</CreateDate>
    <NodeName Default="Main page" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>