<?xml version="1.0" encoding="utf-8"?>
<Media Key="97ace3b7-b14c-43b6-adbb-3f328a6b4d06" Alias="Main Top Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainTopImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-08T15:13:00</CreateDate>
    <NodeName Default="Main Top Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/whrlzf0m/main-top-image.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>