<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5a969dd-4fac-41e7-8f9b-b83fbeb46b55" Alias="Map Pin 20Px (1)" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/MapPin20Px1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-07T10:16:20</CreateDate>
    <NodeName Default="Map Pin 20Px (1)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3rult3nm/map-pin-20px-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>