<?xml version="1.0" encoding="utf-8"?>
<Media Key="b01f605b-9bad-474e-8a5a-0cbb4e9e8be4" Alias="Map Pin 20Px" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/MapPin20Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-07T07:14:58</CreateDate>
    <NodeName Default="Map Pin 20Px" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/njqb5mfn/map-pin-20px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>