<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ce49d91-8a09-42ea-83f3-fab5d5fe1bb4" Alias="Materials item image 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MaterialsItemImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-24T09:33:59</CreateDate>
    <NodeName Default="Materials item image 1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s4opjhaj/matirials-item1-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>