<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c445297-dad6-4643-9c9e-246b46faf060" Alias="Phone 20Px" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/Phone20Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-07T10:16:25</CreateDate>
    <NodeName Default="Phone 20Px" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uzjeipgw/phone-20px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>