<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd0bf81b-95b1-4037-a3fd-5b844691f920" Alias="Phone 20Px" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/Phone20Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-07T07:15:11</CreateDate>
    <NodeName Default="Phone 20Px" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fl2axtnr/phone-20px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>