<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca86878f-cb5b-4979-9dd0-88affefbd215" Alias="Platform Image Big" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PlatformImageBig</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-08T16:20:58</CreateDate>
    <NodeName Default="Platform Image Big" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rgdjnss1/platform-image-big.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>