<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddcd5712-a17e-4f00-a715-9c1298e14d90" Alias="Process Item4 Icon" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem4Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:06</CreateDate>
    <NodeName Default="Process Item4 Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enln1xl4/process-item4-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>