<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cc78da0-a665-4124-afea-5ce75ce182a1" Alias="Process item 5" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-24T09:29:36</CreateDate>
    <NodeName Default="Process item 5" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sggnopdf/process-item5-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>