<?xml version="1.0" encoding="utf-8"?>
<Media Key="65e5b6a2-d3d8-4114-810b-d2391acf3e30" Alias="Process Item3 Icon" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem3Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:06</CreateDate>
    <NodeName Default="Process Item3 Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/so1okzoy/process-item3-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>