<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac9cc8dd-e22e-4dcf-8df1-8fc4be3e4bed" Alias="Process Item5 Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProcessItem5Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:07</CreateDate>
    <NodeName Default="Process Item5 Icon" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3tejzlbo/process-item5-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>