<?xml version="1.0" encoding="utf-8"?>
<Media Key="65e5b6a2-d3d8-4114-810b-d2391acf3e30" Alias="Process Item3 Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProcessItem3Icon</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:06</CreateDate>
    <NodeName Default="Process Item3 Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/so1okzoy/process-item3-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>