<?xml version="1.0" encoding="utf-8"?>
<Media Key="32d904bb-bc9d-4ace-aa9d-3fdf63b6ff86" Alias="Process Item5 Icon" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem5Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:21</CreateDate>
    <NodeName Default="Process Item5 Icon" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ricnsmu3/process-item5-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>