<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddcd5712-a17e-4f00-a715-9c1298e14d90" Alias="Process Item4 Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProcessItem4Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:06</CreateDate>
    <NodeName Default="Process Item4 Icon" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enln1xl4/process-item4-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>