<?xml version="1.0" encoding="utf-8"?>
<Media Key="7753de17-a913-4d1a-8304-48462964e68a" Alias="Process Item2 Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProcessItem2Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:07</CreateDate>
    <NodeName Default="Process Item2 Icon" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1pfg3yt/process-item2-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>