<?xml version="1.0" encoding="utf-8"?>
<Media Key="eee1e7ac-e6eb-4ea8-ab23-a66ef821e4b0" Alias="Process Item1 Icon" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem1Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-09T10:08:07</CreateDate>
    <NodeName Default="Process Item1 Icon" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txtpd1xl/process-item1-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>