<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee3d20e9-c095-49c1-9571-8e799a116104" Alias="Process Item1 Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProcessItem1Icon</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:17</CreateDate>
    <NodeName Default="Process Item1 Icon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1aqd11uv/process-item1-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>