<?xml version="1.0" encoding="utf-8"?>
<Media Key="32d904bb-bc9d-4ace-aa9d-3fdf63b6ff86" Alias="Process Item5 Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProcessItem5Icon</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:21</CreateDate>
    <NodeName Default="Process Item5 Icon" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ricnsmu3/process-item5-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>