<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee34cea1-b845-49a4-90dc-d54371be27e1" Alias="Process Item2 Icon" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem2Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:18</CreateDate>
    <NodeName Default="Process Item2 Icon" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sdhdj1sf/process-item2-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>