<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0f7fb2f-f06f-4eda-8700-aba7e83adfc2" Alias="Process Item4 Icon" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem4Icon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:20</CreateDate>
    <NodeName Default="Process Item4 Icon" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d13ppidp/process-item4-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>