<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0f7fb2f-f06f-4eda-8700-aba7e83adfc2" Alias="Process Item4 Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ProcessItem4Icon</Path>
    <Trashed Parent="7ea46033-5cf2-496e-b416-39474e9c830b">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-17T14:24:20</CreateDate>
    <NodeName Default="Process Item4 Icon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d13ppidp/process-item4-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>