<?xml version="1.0" encoding="utf-8"?>
<Media Key="98c3db3b-90d8-4139-ad3a-b51b4191f849" Alias="Process item 4" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/ProcessItem4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-24T09:29:29</CreateDate>
    <NodeName Default="Process item 4" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/blnnhggy/process-item4-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>