<?xml version="1.0" encoding="utf-8"?>
<Media Key="19c98514-2a1e-4865-958d-c03da0420134" Alias="School 96Px (1)" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/School96Px1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-09T06:00:36</CreateDate>
    <NodeName Default="School 96Px (1)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ewcnsgi4/school-96px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>