<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd07d950-4903-4186-80f3-4782435604ac" Alias="School 96Px" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/School96Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-09T09:00:11</CreateDate>
    <NodeName Default="School 96Px" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mhmbpxid/school-96px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>