<?xml version="1.0" encoding="utf-8"?>
<Media Key="98788f20-7616-4fe4-9b43-8a1e39669b5d" Alias="School 96Px" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/School96Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-09T06:00:13</CreateDate>
    <NodeName Default="School 96Px" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cghhrgaw/school-96px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>