<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dd97212-d94a-4379-9cc9-9106dc40e710" Alias="Screenshots Image10" Level="2">
  <Info>
    <Parent Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1">Screenshots</Parent>
    <Path>/Screenshots/ScreenshotsImage10</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-10T11:04:30</CreateDate>
    <NodeName Default="Screenshots Image10" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/crzntdkk/screenshots-image10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>