<?xml version="1.0" encoding="utf-8"?>
<Media Key="a255e5fa-fed2-4d7c-bc58-a121baf7140a" Alias="Screenshots Image9" Level="2">
  <Info>
    <Parent Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1">Screenshots</Parent>
    <Path>/Screenshots/ScreenshotsImage9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-10T11:04:30</CreateDate>
    <NodeName Default="Screenshots Image9" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5tsfliws/screenshots-image9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>