<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ad693ff-6988-4747-bf17-7b7f2ed12ad5" Alias="Screenshots Image2" Level="2">
  <Info>
    <Parent Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1">Screenshots</Parent>
    <Path>/Screenshots/ScreenshotsImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-10T11:04:29</CreateDate>
    <NodeName Default="Screenshots Image2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5gjnncui/screenshots-image2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>