<?xml version="1.0" encoding="utf-8"?>
<Media Key="95de600d-e6a8-41ea-ad3f-2594fa2d28fe" Alias="Screenshots Image8" Level="2">
  <Info>
    <Parent Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1">Screenshots</Parent>
    <Path>/Screenshots/ScreenshotsImage8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-10T11:04:29</CreateDate>
    <NodeName Default="Screenshots Image8" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bnqn3fni/screenshots-image8.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>