<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1" Alias="Screenshots" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshots</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-10T11:04:00</CreateDate>
    <NodeName Default="Screenshots" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>