<?xml version="1.0" encoding="utf-8"?>
<Media Key="c09a0aad-c647-485f-851b-488b205fc9b2" Alias="Screenshots Image5" Level="2">
  <Info>
    <Parent Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1">Screenshots</Parent>
    <Path>/Screenshots/ScreenshotsImage5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-10T11:04:29</CreateDate>
    <NodeName Default="Screenshots Image5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vmfjvqch/screenshots-image5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>