<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f0929ae-543a-43bf-a1dc-ebf3769dd3bc" Alias="Screenshots Image6" Level="2">
  <Info>
    <Parent Key="7fb1ad29-5424-408f-adbb-816fe3a71fe1">Screenshots</Parent>
    <Path>/Screenshots/ScreenshotsImage6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-10T11:04:30</CreateDate>
    <NodeName Default="Screenshots Image6" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vaubs5z0/screenshots-image6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>