<?xml version="1.0" encoding="utf-8"?>
<Media Key="4090141b-33c2-42e3-9334-23ed3a25fff0" Alias="Shadow" Level="2">
  <Info>
    <Parent Key="df94f839-b4f4-464b-afe1-a09aed3fb771">Main page</Parent>
    <Path>/MainPage/Shadow</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-06T09:25:37</CreateDate>
    <NodeName Default="Shadow" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dukjaqgc/shadow.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>