<?xml version="1.0" encoding="utf-8"?>
<Media Key="53eead41-aa94-44e6-92b8-b632bb9328ca" Alias="Steps Item2 Image Small" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/StepsItem2ImageSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-18T11:08:25</CreateDate>
    <NodeName Default="Steps Item2 Image Small" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i4wp2u2u/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>