<?xml version="1.0" encoding="utf-8"?>
<Media Key="71ef94d5-f485-4fae-80c4-d14e20561ea2" Alias="Steps Bg Figure" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/StepsBgFigure</Path>
    <Trashed Parent="cb5776a4-825b-4193-9c10-5acd0799cd56">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-18T11:08:09</CreateDate>
    <NodeName Default="Steps Bg Figure" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2sko42mf/steps-bg-figure.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>