<?xml version="1.0" encoding="utf-8"?>
<Media Key="31190a7e-376b-4b0b-992e-e108fb8d1702" Alias="Steps Item2 Image Big" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/StepsItem2ImageBig</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-18T11:08:24</CreateDate>
    <NodeName Default="Steps Item2 Image Big" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pafbsmll/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>