<?xml version="1.0" encoding="utf-8"?>
<Media Key="34f534bd-f373-479a-b022-78c96b3ba1c7" Alias="Steps Item1 Image Small" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/StepsItem1ImageSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-18T11:08:23</CreateDate>
    <NodeName Default="Steps Item1 Image Small" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xm0pkndt/steps-item1-image-small.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>