<?xml version="1.0" encoding="utf-8"?>
<Media Key="a554936a-6df1-449f-9073-8c7fb633fe00" Alias="Teacher 96Px" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Teacher96Px</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-09T08:59:44</CreateDate>
    <NodeName Default="Teacher 96Px" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lojfjjpr/teacher-96px.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>