<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4375d17-e9ab-4403-aa65-3905bfd1c69f" Alias="Teacher Description Image3" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/TeacherDescriptionImage3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-18T11:08:40</CreateDate>
    <NodeName Default="Teacher Description Image3" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cfodpvfl/teacher-description-image3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>