<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ebd04b8-b624-4489-85e6-ba411e9dd01e" Alias="Teacher Branch Image2" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/TeacherBranchImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-18T11:08:33</CreateDate>
    <NodeName Default="Teacher Branch Image2" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xycl0pre/teacher-branch-image2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>