<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab603c02-12eb-4f55-ba75-d46aef9a53f2" Alias="Teacher Hero Info Icon9" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/TeacherHeroInfoIcon9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-15T12:46:16</CreateDate>
    <NodeName Default="Teacher Hero Info Icon9" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aq4gbk5l/teacher-hero-info-icon9.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>