<?xml version="1.0" encoding="utf-8"?>
<Media Key="1690e129-72fe-4c4f-b97f-b60698177231" Alias="Teacher Branch Image1" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/TeacherBranchImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-18T11:08:32</CreateDate>
    <NodeName Default="Teacher Branch Image1" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f5qjafx4/teacher-branch-image1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>