<?xml version="1.0" encoding="utf-8"?>
<Media Key="5998169d-fffc-4238-b3ac-01927bd499c8" Alias="Teacher Hero Info Icon4" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/TeacherHeroInfoIcon4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-15T12:46:16</CreateDate>
    <NodeName Default="Teacher Hero Info Icon4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tmljqwp2/teacher-hero-info-icon4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>