<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d47c227-5ca9-4a1f-9bc1-9ab293b50eae" Alias="Teacher Hero Info Icon7" Level="2">
  <Info>
    <Parent Key="cb5776a4-825b-4193-9c10-5acd0799cd56">For teacher</Parent>
    <Path>/ForTeacher/TeacherHeroInfoIcon7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-15T12:46:16</CreateDate>
    <NodeName Default="Teacher Hero Info Icon7" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ehbeodnj/teacher-hero-info-icon7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>