<?xml version="1.0" encoding="utf-8"?>
<Media Key="257578b8-81e7-4a63-8496-40ac0437ef7e" Alias="Tik Tok" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TikTok</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-11T12:03:59</CreateDate>
    <NodeName Default="Tik Tok" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rf2hkjph/tik-tok.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>