<?xml version="1.0" encoding="utf-8"?>
<Media Key="5af3e6db-386e-422f-afeb-6117025a870c" Alias="Tiktok white" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/TiktokWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-24T09:30:42</CreateDate>
    <NodeName Default="Tiktok white" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ltpgwto/icon-social-tiktok-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>