<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e9322c9-1870-404b-ac7f-78446576ef59" Alias="Tiktok 1" Level="2">
  <Info>
    <Parent Key="7ea46033-5cf2-496e-b416-39474e9c830b">Icons</Parent>
    <Path>/Icons/Tiktok1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-04-12T09:31:09</CreateDate>
    <NodeName Default="Tiktok 1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5arjg5tq/tiktok-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>