<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5e24479-7e92-4435-b27d-df6fff03f718" Alias="Tutor Lesson Item1 Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TutorLessonItem1Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-08T16:18:24</CreateDate>
    <NodeName Default="Tutor Lesson Item1 Image" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p3cofzms/tutor-lesson-item1-image.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>