<?xml version="1.0" encoding="utf-8"?>
<Media Key="52b9e64b-4a9d-4e38-b36c-034524217cad" Alias="video" Level="2">
  <Info>
    <Parent Key="df94f839-b4f4-464b-afe1-a09aed3fb771">Main page</Parent>
    <Path>/MainPage/video</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-05-24T12:32:05</CreateDate>
    <NodeName Default="video" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mptlsuu3/ezgifcom-video-to-gif-1-1.webm]]></Value>
    </umbracoFile>
  </Properties>
</Media>