@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TActions)Model.Content;
}
<!-- Section "Actions (links + request form)" -->
<section class="actions @(content.TCards?.Count == 1 ? "single-link" : "")">
    <span class="decor-element ring1 parallax-element"></span>

    @if(content.TStyle == "About")
    {
        <span class="decor-element ring2 parallax-element"></span>
    }

    <div class="container">
        <div class="actions__links-wrap">
            <div class="actions__links">
                @if(content.TCards != null)
                {
                    @foreach (var card in content.TCards)
                    {
                        @await Html.PartialAsync("tutorPartials/TActionCard", card.Content)
                    }
                }
            </div>
        </div>
        @if (content.TRequestBlock != null)
        {
            <div class="actions__form-block">
                @if (content.TStyle != "About")
                {
                    <span class="decor-element points parallax-element" data-speed="40" data-direction="false">
                        <img src="~/images/icons/decor-elements/decor-points-orange-big.svg" alt="Decor points">
                    </span>
                }           
            <div class="actions__form-wrap">              
                <h2 class="actions__form-title medium-title section-title">@content.TTitle</h2>
                <form class="actions__form request-form three-cols" action="@content.TActionUrl" method="POST">
                     @await Html.PartialAsync("tutorPartials/TRequestForm", content.TRequestBlock.FirstOrDefault()?.Content)
                </form>
                </div>
            </div>
        }
    </div>   
</section>
