@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TBlockTitle)Model.Content;
    var fontColor = content.TColor == null ? "black" :  content.TColor;
    var titleClass = content.TSubTitle ? "sub-title" : "title";
    var textAlign = content.TcenterAlign ? "center" : "left";
}
<p class="@titleClass" style="
    font-weight:@content.TWeight;
    text-align:@textAlign;
    color:@fontColor !important;
    font-family:@content.TFont;
    font-size:@(content.TSize + "px")">
@content.TTitle</p>


