@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (TContactsInfo)Model.Content;
}

<!-- Section with different information + color background -->
<div class="contacts-info-block info-block radial-bg">
    <div class="info-block__bg radial-bg"></div>
    <div class="container">
        <div class="info-block__contacts-block">
            <div class="info-block__contacts-links">
                @if(content.TLinkCard != null)
                {
                    @foreach(var card in content.TLinkCard)
                    {
                        @await Html.PartialAsync("tutorPartials/TContactCard", card.Content)
                    }
                }
            </div>
            <div class="info-block__contacts-info">
                @if (content.TInfoCard != null)
                {
                    @foreach (var card in content.TInfoCard)
                    {
                        @await Html.PartialAsync("tutorPartials/TContactCard", card.Content)
                    }
                }
            </div>
            <div class="info-block__contacts-socials">
                @if(content.TSocialNetworkTitle != null && !string.IsNullOrEmpty(content.TSocialNetworkTitle))
                {
                    <span class="info-block__contacts-title medium-title">@content.TSocialNetworkTitle</span>
                }             
                <ul class="info-block__socials">
                    @if (content.TSocialLinks != null)
                    {
                        @foreach (var link in content.TSocialLinks)
                        {
                            @if (link.Content is TSocialLink newLink)
                            {
                                <li class="info-block__socials-item">
                                    <a class="info-block__socials-link" href="@newLink?.TUrl?.Url" target="_blank">
                                        <img loading="lazy" class="social-icon" width="32" height="36" src="@newLink?.TIcon?.Url()" alt="Icon">
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>