@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TMapBlock)Model.Content;
}

<div class="map_container">
    <span class="decor-element ring1 parallax-element"></span>
    <div class="container">
        <div class="map_content">
            @if (content.TDecors != null)
            {
                @foreach (var decor in content.TDecors)
                {
                    @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
                }
            }
            <div class="map_text">
                <h1 class="map_title big-title">@content.TTitle</h1>
            </div>          
            @if(content.TImage != null)
            {
                <div class="map_image">
                    <img src="@content.TImage.Url()" />
                </div>
            }            
        </div>      
    </div>
</div>