@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TRequestFormBlock)Model.Content;
    var rootPage = Umbraco.ContentAtRoot().FirstOrDefault() as HomePage;
}

<section class="contacts-request">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    <div class="container">
        <div class="contacts-request__inner">
        @if (content.TDecors != null)
        {
            @foreach (var decor in content.TDecors)
            {
                @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
            }
        }
        <div class="actions__form-wrap">              
            <h2 class="actions__form-title medium-title section-title">@content.TTitle</h2>
            <p class="actions__form-subtitle">@content.TSubTitle</p>
                <form class="actions__form request-form two-cols" method="post">
                    @Html.AntiForgeryToken()
                    @await Html.PartialAsync("tutorPartials/TRequestForm", content.TRequestForm?.FirstOrDefault()?.Content, new ViewDataDictionary(ViewData) {{"mainPage", rootPage}})
                </form>
                <input type="hidden" id="urlToSend" value="@rootPage?.TFormUrl" />
                @if (rootPage?.TThanksForm != null && rootPage?.TThanksForm.FirstOrDefault() != null)
                {
                    @await Html.PartialAsync("tutorPartials/TThanksForm", rootPage.TThanksForm?.FirstOrDefault()?.Content)
                }
            </div>
        </div>
    </div>
</section>