@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TRequestFormBlock)Model.Content;
    var rootPage = Umbraco.ContentAtRoot().FirstOrDefault() as HomePage;
}

<section class="contacts-request">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    <div class="container">
        <div class="contacts-request__inner">
        @if (content.TDecors != null)
        {
            @foreach (var decor in content.TDecors)
            {
                @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
            }
        }
            @if(rootPage != null)
            {
                <div class="actions__form-wrap">
                    @if (!string.IsNullOrEmpty(content.TTitle))
                    {
                        <h2 class="actions__form-title medium-title section-title">@content.TTitle</h2>                      
                    }
                    @if (!string.IsNullOrEmpty(content.TSubTitle))
                    {
                        <p class="actions__form-subtitle">@content.TSubTitle</p>                     
                    }
                    @await Html.PartialAsync("tutorPartials/TRequestForm", content.TRequestForm?.FirstOrDefault()?.Content, new ViewDataDictionary(ViewData) { { "mainPage", rootPage }, { "mainClass", "actions__form request-form two-cols" } })                  
                </div>
            }          
        </div>
    </div>
</section>