@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TRequestFormBlock)Model.Content;
}

<section class="contacts-request">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    <div class="container">
        <div class="contacts-request__inner">
        @if (content.TDecors != null)
        {
            @foreach (var decor in content.TDecors)
            {
                @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
            }
        }
        <div class="actions__form-wrap">              
            <h2 class="actions__form-title medium-title section-title">@content.TTitle</h2>
            <p class="actions__form-subtitle">@content.TSubTitle</p>
            <form class="actions__form request-form two-cols" action="@content.TActionUrl" enctype="application/x-www-url-formencoded" method="post">
                @await Html.PartialAsync("tutorPartials/TRequestForm", content.TRequestForm?.FirstOrDefault()?.Content)
             </form>
            </div>
        </div>
    </div>
</section>