@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TResourcesBlock)Model.Content;
}

<div class="resource-container">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    @if (content.TDecors != null)
    {
        @foreach (var decor in content.TDecors)
        {
            @await Html.PartialAsync("tutorPartials/TDecorItem", decor.Content)
        }
    }
    <div class="container">
        <div class="resource-content">
            @if(content.TPreview != null)
            {
                <div class="resource-preview">
                    <h1 class="resource-preview-title">@content.TPreview.Content.TTitle</h1>
                    <div class="resource-preview-text">
                        @Html.Raw(content.TPreview.Content.TText)
                    </div>
                    @if (content.TPreview.Content.TButton != null)
                    {
                        @await Html.PartialAsync("tutorPartials/TButton", content.TPreview.Content.TButton.Content, new ViewDataDictionary(ViewData) { { "class", "resource__link" }, { "span", true } })
                    }
                </div>
            }
            <div class="resource-items">
                    @if (content.TItems != null && content.TItems.Any() && content.TItems.Count >= 3)
                    {
                        <div class="resource-column resource-column_1">
                            @foreach (var item in content.TItems.Take(3))
                            {
                                @await Html.PartialAsync("tutorPartials/TResourceItem", item.Content)
                            }
                        </div>
                        @if (content.TItems.Count >= 7)
                        {
                            <div class="resource-column resource-column_2">
                                @foreach (var item in content.TItems.Skip(3).Take(4))
                                {
                                    @await Html.PartialAsync("tutorPartials/TResourceItem", item.Content)
                                }
                            </div>
                        }
                    }
            </div>
         
        </div>
    </div>
</div>           