@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TRichTextEditor)Model.Content;
}

<section class="text-content">
    <div class="container">
        <div class="text-content__inner" style="color:@content.TTextColor; background-color:@content.TBackgroundColor">
            <div style="color:@content.TTextColor" >
                @Html.Raw(content.TText)        
            </div>
        </div>
    </div>
</section>
}
