@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TScreenshots)Model.Content;
    var images = content.TImages;
}
<link rel="stylesheet" href="~/css//screen-grid.min.css" />
<!-- Section with screenshots -->
<div class="screenshots">
    <div class="decor-bg radial-bg green"></div>
    <div class="decor-bg radial-bg orange"></div>
    <div class="screenshots__block-wrap">
        @if (images != null){
            @for (int i = 0; i < 2; i++)
            {
                <div class="screenshots__block">
                    <div class="screenshots__grid">
                        @for (int ii = 0; ii < images.Count(); ii++)
                        {
                            if (images.ElementAtOrDefault(ii) != null)
                            {
                                <div class="screenshots__item@(ii+1)">
                                    <img loading="lazy" src="@images.ElementAt(ii).Content.Url()" alt="Screenshot">
                                </div>
                            }
                        }                                                 
                    </div>
                </div>
            }      
        }
    </div>
</div>
