@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var content = (TTeacherHero)Model.Content;
}

<!-- Section "Teacher hero (correction school hero)" -->
<section class="teacher-hero school-hero radial-bg">
    <span class="decor-element ring1 parallax-element"></span>
    <span class="decor-element ring2 parallax-element"></span>
    <div class="container">
        <div class="school-hero__inner">
            @if (!string.IsNullOrEmpty(content.TTitile))
            {
                <h2 class="teacher-hero__title section-title first-title">@content.TTitile</h2>              
            }
            <div class="teacher-hero__info-block">
                @if(content.TIcons != null)
                {
                    @foreach(var icon in content.TIcons)
                    {
                        @await Html.PartialAsync("tutorPartials/TTeacherHeroIcon", icon.Content)
                    }
                }
                @if(content.TButton != null)
                {
                    @await Html.PartialAsync("tutorPartials/TButton", content.TButton.Content, new ViewDataDictionary(ViewData) { { "class", "teacher-hero__info-link" }, { "span", false } })
                }              
            </div>
            @if (!string.IsNullOrEmpty(content.TSecondTitle))
            {
                <h2 class="teacher-hero__title second-title">@content.TSecondTitle</h2>              
            }
            <div class="school-hero__block hero-block">
                <span class="decor-element points parallax-element" data-speed="50" data-direction="true">
                    <img src="~/images/icons/decor-elements/decor-points-green.svg" alt="Decor points">
                </span>
                @if(content.TBlockInfo != null)
                {
                    @await Html.PartialAsync("tutorPartials/THeroInfoCard", content.TBlockInfo.Content, new ViewDataDictionary(ViewData) {{"style", "white"}})                   
                }
            </div>
        </div>
    </div>
</section>