<div class="about-info" ng-controller="tInfo" ng-click="block.edit()">
    <div class="container">
        <div ng-controller="tDecor" ng-init="initDecors(content)"></div>
        <span ng-controller="tDecor" ng-repeat="decor in content.tDecors.contentData" class="{{decor.typeClass}}">
            <img ng-src="{{decor.src}}" alt="Decor points">
        </span>
        <div class="about-info__block">
            <div ng-repeat="info in items" class="about-info__item" ng-class="{'reverse': info.tReverse === '1'}">
                <span class="decor-element ring-big parallax-element"></span>
                <div class="about-info__item-content">
                    <div ng-bind-html="info.tText.markup"></div>
                </div>
                <div class="about-info__item-image">
                    <img ng-if="info.tImage[0]" src="{{info.tImage[0].src}}" />
                    <div ng-controller="tDecor" ng-init="initDecors(info)"></div>
                    <span ng-controller="tDecor" ng-repeat="decor in info.tDecors.contentData" class="{{decor.typeClass}}">
                        <img ng-src="{{decor.src}}" alt="Decor points">
                    </span>
                </div>
               
            </div>
        </div>
    </div>
</div>